<#import "/views/layout/skoolaAdminDefaultLayout.ftl.html" as layout>


<@layout.skoolaLayout "Edit Exam"> 

<form action="" method="post">
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" id="examname" placeholder="Name" value="GMAT">
    </div>
    <div class="form-group">
        <label>Overview</label>
        <textarea placeholder="Overview" class="form-control" cols="10">Overview content is here</textarea>
    </div>
    <div class="form-group">
        <label>Test Formats</label>
        <textarea placeholder="Overview" class="form-control" cols="10"></textarea>
    </div>
    <div class="form-group">
        <label>Fees</label>
        <input type="text" class="form-control" id="fees" placeholder="Fees">
    </div>
    <div class="form-group">
        <label>FAQ</label>
        <textarea placeholder="FAQ" class="form-control" cols="10"></textarea>
    </div>
    <div class="form-group">
        <label>Status</label>
        <select class="selectbox" placeholder="Status">
            <option value="">Status</option>
            <option value="1" selected>Enable</option>
            <option value="0">Disable</option>
        </select>
    </div>
    <div class="form-group text-right">
        <button class="btn btn-sm btn-primary" type="submit">Save</button>
    </div>
</form>



<script>
    $(document).ready(function(){
        //selectize
        $('.selectbox').selectize({create: false});

        //datepicker
        $('.pick-a-date').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            minDate: moment()
        });
    });
</script>



</@layout.skoolaLayout>
