<#import "/views/layout/skoolaDefaultLayout.ftl.html" as layout>


<@layout.skoolaLayout "Error! Bad Request"> 
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    400 Bad Request</h2>
                <div class="error-details">
                    Sorry, an error has occured. Bad Request!
                </div>
                <div class="error-details">
                   <a href="/">Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
</@layout.skoolaLayout>