<#import "/views/layout/skoolaDefaultLayout.ftl.html" as layout>


<@layout.skoolaLayout "Error! Internal Server Error"> 
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    500 Internal Server Error</h2>
                <div class="error-details">
                    Sorry, an internal server error, has occurred!
                </div>
                <div class="error-details">
                   <a href="/">Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
</@layout.skoolaLayout>