<!-- sidebar: style can be found in sidebar.less -->

			 <#if activeSessionPojo?has_content>
                <section class="sidebar">
                    <!-- Sidebar user panel -->
                    <div class="user-panel">
                        <div class="pull-left image">
                            <img src="/assets/admin/img/admin.png" class="img-circle" alt="User Image" />
                        </div>
                        <div class="pull-left info">
                        
                            <p>Hello, ${activeSessionPojo.firstName + ' ' + activeSessionPojo.lastName}</p>

                            <a href="#"><i class="fa fa-circle text-success"></i> Administrator</a>
                        </div>
                    </div>
                    <!-- search form -->
                    <form action="#" method="get" class="sidebar-form">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control" placeholder="Search..."/>
                            <span class="input-group-btn">
                                <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>
                    <!-- /.search form -->
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu">
                        <li class="active">
                            <a href="/admin_dashboard">
                                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a href="/admin_application_users">
                                <i class="fa fa-user"></i> <span>Application Users</span>
                            </a>
                        </li>
                         <li>
                            <a href="/admin_backend_users">
                                <i class="fa fa-user"></i> <span>BackEnd Users</span>
                            </a>
                        </li>
                        <li>
                            <a href="/admin_consultation_applications">

                                <i class="fa fa-mortar-board"></i> <span>Career Consult Requests</span>

                            </a>
                        </li>
                        <li>
                            <a href="/admin_skoola_courses">
                                <i class="fa fa-book"></i> <span>Courses</span>
                            </a>
                        </li>
                        <li>
                            <a href="/admin_skoola_exams">
                                <i class="fa fa-file-text"></i> <span>Exam</span>
                            </a>
                        </li>
                        <li>
                            <a href="/admin_skoola_universities">
                                <i class="fa fa-university"></i> <span>Universities</span>
                            </a>
                        </li>

                        <li>
                            <a href="/admin_skoola_countries">
                                <i class="fa fa-flag"></i> <span>Countries</span>
                            </a>
                        </li>




                    </ul>
                </section>
              </#if>