<#import "/views/layout/skoolaAdminDefaultLayout.ftl.html" as layout>


<@layout.skoolaLayout "Universities"> 
                    <div class="custom-breadcrumb">
                        <div class="row">
                            <div class="col-sm-7 margin_bottom_10"><h3>Universities</h3></div>
                            <div class="col-sm-5 breadcrumb-links margin_bottom_10">
                                <a href=""> <i class="fa fa-tachometer"></i> Home</a> <b>&rsaquo;</b>
                                    <span>Universities</span>
                            </div>
                        </div>
                    </div>


                    <div class="contentbox margin_top_15">
                        <div class="box-header no-border-bottom">
                            <h4 class="title pull-left">Courses</h4>
                            <div class="box-tools pull-right">
                                <button class="btn btn-default btn-sm" data-toggle="modal" href="#modal-newsubject">New University</button>
                                <!--<a href="course-categories.php" class="btn btn-default btn-sm hidden-xs">Course Categories</a>-->
                                <!--<a href="subject-fields.php" class="btn btn-default btn-sm hidden-xs">Subjects/Fields</a>-->
                                <!--<div class="dropdown visible-xs-inline">-->
                                <!--  <button class="btn btn-sm btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">-->
                                <!--    More-->
                                <!--    <span class="caret"></span>-->
                                <!--  </button>-->
                                <!--  <ul class="dropdown-menu" style="left:-90px;" role="menu" aria-labelledby="dropdownMenu1">-->
                                <!--    <li role="presentation"><a role="menuitem" tabindex="-1" href="course-categories.php">Course Categories</a></li>-->
                                <!--    <li role="presentation"><a role="menuitem" tabindex="-1" href="subject-fields.php">Subject/Fields</a></li>-->
                                <!--  </ul>-->
                                <!--</div>-->

                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="box-body no-padding">
                            <table cellpadding="0" cellspacing="0" class="table table-striped footable">

                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th data-hide="phone">Country</th>
                                        <th data-hide="phone,medium">Website URL</th>
                                        <th data-hide="phone">Views</th>
                                        <th class="text-right">Actions</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td class="important">McGill University</td>
                                        <td>Canada</td>
                                        <td><a href="">http://domain.com</a></td>
                                        <td>50</td>
                                        <td class="text-right">
                                            <a href="university-details.php" class="btn btn-sm btn-default"><i class="fa fa-eye"></i> <span class="hidden-xs">View</span></a>
                                            <a href="edit/university.html" data-toggle="lightbox" data-title="Edit Course" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i> <span class="hidden-xs">Edit</span></a>
                                            <a href="" class="btn btn-sm btn-danger"><i class="fa fa-trash-o"></i> <span class="hidden-xs">Delete</span></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="important">University of Toronto</td>
                                        <td>Canada</td>
                                        <td><a href="">http://domain.com</a></td>
                                        <td>50</td>
                                        <td class="text-right">
                                            <a href="university-details.php" class="btn btn-sm btn-default"><i class="fa fa-eye"></i> <span class="hidden-xs">View</span></a>
                                            <a href="edit/university.html" data-toggle="lightbox" data-title="Edit Course" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i> <span class="hidden-xs">Edit</span></a>
                                            <a href="" class="btn btn-sm btn-danger"><i class="fa fa-trash-o"></i> <span class="hidden-xs">Delete</span></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="important">University of British Columbia</td>
                                        <td>Canada</td>
                                        <td><a href="">http://domain.com</a></td>
                                        <td>50</td>
                                        <td class="text-right">
                                            <a href="university-details.php" class="btn btn-sm btn-default"><i class="fa fa-eye"></i> <span class="hidden-xs">View</span></a>
                                            <a href="edit/university.html" data-toggle="lightbox" data-title="Edit Course" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i> <span class="hidden-xs">Edit</span></a>
                                            <a href="" class="btn btn-sm btn-danger"><i class="fa fa-trash-o"></i> <span class="hidden-xs">Delete</span></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="important">University of Alberta</td>
                                        <td>Canada</td>
                                        <td><a href="">http://domain.com</a></td>
                                        <td>50</td>
                                        <td class="text-right">
                                            <a href="university-details.php" class="btn btn-sm btn-default"><i class="fa fa-eye"></i> <span class="hidden-xs">View</span></a>
                                            <a href="edit/university.html" data-toggle="lightbox" data-title="Edit Course" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i> <span class="hidden-xs">Edit</span></a>
                                            <a href="" class="btn btn-sm btn-danger"><i class="fa fa-trash-o"></i> <span class="hidden-xs">Delete</span></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="important"> University of Waterloo</td>
                                        <td>Canada</td>
                                        <td><a href="">http://domain.com</a></td>
                                        <td>50</td>
                                        <td class="text-right">
                                            <a href="university-details.php" class="btn btn-sm btn-default"><i class="fa fa-eye"></i> <span class="hidden-xs">View</span></a>
                                            <a href="edit/university.html" data-toggle="lightbox" data-title="Edit Course" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i> <span class="hidden-xs">Edit</span></a>
                                            <a href="" class="btn btn-sm btn-danger"><i class="fa fa-trash-o"></i> <span class="hidden-xs">Delete</span></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="important">Western University</td>
                                        <td>Canada</td>
                                        <td><a href="">http://domain.com</a></td>
                                        <td>50</td>
                                        <td class="text-right">
                                            <a href="university-details.php" class="btn btn-sm btn-default"><i class="fa fa-eye"></i> <span class="hidden-xs">View</span></a>
                                            <a href="edit/university.html" data-toggle="lightbox" data-title="Edit Course" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i> <span class="hidden-xs">Edit</span></a>
                                            <a href="" class="btn btn-sm btn-danger"><i class="fa fa-trash-o"></i> <span class="hidden-xs">Delete</span></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="important">University of Liverpool</td>
                                        <td>UK</td>
                                        <td><a href="">http://domain.com</a></td>
                                        <td>50</td>
                                        <td class="text-right">
                                            <a href="university-details.php" class="btn btn-sm btn-default"><i class="fa fa-eye"></i> <span class="hidden-xs">View</span></a>
                                            <a href="edit/university.html" data-toggle="lightbox" data-title="Edit Course" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i> <span class="hidden-xs">Edit</span></a>
                                            <a href="" class="btn btn-sm btn-danger"><i class="fa fa-trash-o"></i> <span class="hidden-xs">Delete</span></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="box-footer">
                            <ul class="pagination">
                            	<li><a href="#">&laquo;</a></li>
                            	<li><a href="#">1</a></li>
                            	<li><a href="#">2</a></li>
                            	<li><a href="#">3</a></li>
                            	<li><a href="#">4</a></li>
                            	<li><a href="#">5</a></li>
                            	<li><a href="#">&raquo;</a></li>
                            </ul>
                        </div>
                    </div>





                    <!--Modal-->
                    <div class="modal fade" id="modal-newsubject">
                    	<div class="modal-dialog">
                    		<div class="modal-content">
                    			<div class="modal-header">
                    				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    				<h4 class="modal-title">Add a University</h4>
                    			</div>
                                <form action="" method="post">
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label>Name</label>
                                            <input type="text" class="form-control" id="coursename" placeholder="Name">
                                        </div>
                                        <div class="form-group">
                                            <label>Overview</label>
                                            <textarea placeholder="Overview" class="form-control" cols="10"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label>Country</label>
                                            <select class="selectbox" placeholder="Subject/Fields">
                                                <option value="">Country</option>
                                                <option value="avm">UK</option>
                                                <option value="aps">Australia</option>
                                                <option value="ac">USA</option>
                                                <option value="bm">Canada</option>
                                                <option value="csi">Singapore</option>
                                                <option value="cad">New Zealand</option>
                                                <option value="et">Malaysia</option>
                                                <option value="eng">Hongkong</option>
                                                <option value="pcf">Ireland</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Contact Address</label>
                                            <textarea placeholder="Contact Address" class="form-control"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label>Website URL</label>
                                            <input type="text" class="form-control" id="coursename" placeholder="Website URL">
                                        </div>
                                        <div class="form-group">
                                            <label>Average Cost of Living</label>
                                            <input type="text" class="form-control" id="cost" placeholder="Average Cost of Living">
                                        </div>
                                        <div class="form-group">
                                            <label>Average Tuition Fee</label>
                                            <textarea placeholder="Average Tuition Fee" class="form-control"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label>Campus Accomodation</label>
                                            <input type="text" class="form-control" id="accomodation" placeholder="Campus Accomodation">
                                        </div>
                                        <div class="form-group">
                                            <label>Status</label>
                                            <select class="selectbox" placeholder="Status">
                                                <option value="">Status</option>
                                                <option value="1" selected>Enable</option>
                                                <option value="0">Disable</option>
                                            </select>
                                        </div>


                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary btn-sm">Save</button>
                                    </div>
                                </form>
                    		</div><!-- /.modal-content -->
                    	</div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->

</@layout.skoolaLayout>