<#import "/views/layout/skoolaDefaultLayout.ftl.html" as layout>


<@layout.skoolaLayout "Login"> 


    <!--jquery-->
    <script src="/assets/js/jquery/jquery.min.js"></script>
     <script src="/assets/js/bw.validate.js"></script>
     
      <style>
        .input-group-addon {
            outline:none !important;
        }
        
        .error{
        	color:red;
        }
    </style>


		
        <section class="margin_top_40 margin_bottom_30">
            <div class="container">
                <div class="row row-centered">
                    <div class="col-sm-5 col-md-4 col-xs-12 col-centered">
                    
                    <#if activeSessionPojo?has_content>
                    
                    	<div> <a href="/"> Return to home </a> </div>
                    
                    <#else>
                    
                    
                        <div class="loginBox sideBarBox">
                            <h3>Log In</h3>

                           <!--  <div class="margin_bottom_20">
                                <a href="" class="socials facebook"><i class="icon-facebook"></i> Continue with Facebook</a>
                            </div>
                            <h6 class="text-center">OR</h6> -->
                            <form id="loginForm" class="" action="/signin" method="post" >

                                <div class="form-group">
                                    <input type="email" name="email" id="email" class="form-control" placeholder="Email" required="required" >
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" id="password" class="form-control" placeholder="Password" required="required" >
                                </div>
                                <div class="form-group">
                                    <input id="loginBtn" onclick="javascript:loginAction()" type="button" class="btn btn-warning btn-block btn-lg" value="Log In">
                                </div>
                                <p class="fontsize_12">Creating an account means you agree with Skoola's <a href="#">Terms of Service</a>, and <a href="#">Privacy Policy</a>.</p>

                                <p class="fontsize_13"><a href="#" class="semibold">FORGOT PASSWORD</a> | <a href="/signup" class="semibold">SIGN UP</a></p>
                            </form>
                        </div>
                        
                        </#if>
                    </div>
                </div>
            </div>
        </section>



    <script src="/assets/js/plugins/placeholder/jquery.placeholder.min.js"></script>
    <script src="/assets/js/plugins/sticky/jquery.sticky.js"></script>

    <!--custom javascript libraries-->
    <script>
    
    $(document).keypress(function(event){
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if(keycode == '13'){
            loginAction();    
        }
    });
    
    
    function loginAction(){
       	
    	if ($("#loginForm").validate().form()) {
    		
    			jQuery("#loginForm").submit();
    			$('#loginBtn').val('Processing...');
    			$('#loginBtn').prop('disabled',true);
    		
    		
    	}

    }
        $(document).ready(function(){

            //mobile menu
            var slideout = new Slideout({
                'panel': document.getElementById('contentWrapper'),
                'menu': document.getElementById('menuWrapper'),
                'padding': 240,
                'tolerance': 70
            });

            document.querySelector('.toggle-button').addEventListener('click', function() {slideout.toggle();});
            document.querySelector('.close-menu').addEventListener('click', function() {slideout.close();});

            //sticky header
            $(".topBar").sticky({ topSpacing: 0});

            //custom placeholder for old browsers
            $('input, textarea').placeholder({ customClass: 'customInputPlaceholder' });

        });
    </script>



</@layout.skoolaLayout>
