<#import "/views/layout/skoolaAdminDefaultLayout.ftl.html" as layout>


<@layout.skoolaLayout "Edit Country"> 

<div class="custom-breadcrumb">
    <div class="row">
         <#if json.edit_mode == 'true' >
                
                  <div class="col-sm-7 margin_bottom_10"><h3>Edit Country --${json.countryObject.name} </h3></div>
            
          <#else>
          
          
                    <div class="col-sm-7 margin_bottom_10"><h3>Add New Country</h3></div>
          
          </#if>
       
        <div class="col-sm-5 breadcrumb-links margin_bottom_10">
            <a href=""> <i class="fa fa-tachometer"></i> Home</a> <b>&rsaquo;</b>
            <#if json.edit_mode == 'true' >
                 <span> <b> Edit Country </b></span>
            
            <#else>
                
                <span><b>Add New Country</b></span>
            
            </#if>
        </div>
    </div>
</div>

<div class="row"> 

    <div class="col-md-3">

    </div>
    <div class="col-md-6">


        <form action="/admin_create_or_update_skoola_country" method="post" id="updateCountryForm" >
            <div class="modal-body">


                <div class="form-group">
                    <label>Country Name</label>
                    <input  required  type="text" class="form-control" id="name" name="name" <#if json.countryObject?has_content > value="${json.countryObject.name} </#if>"  >
                </div>
                <div class="form-group">
                    <label>Country Code</label>
                    <input   type="text" class="form-control" id="code" name="code" <#if json.countryObject?has_content > value="${json.countryObject.code} </#if>"  >
 
                </div>
                
                 <div class="form-group">
                    <label>Living Conditions ( Optional )</label>
                    <textarea id="livingConditions"  name="livingConditions" class="form-control" cols="10" ><#if json.countryObject?has_content > ${json.countryObject.livingConditions} </#if></textarea>
                </div>
                
                 <div class="form-group">
                    <label>Study Information ( Optional )</label>
                    <textarea id="studyInformation"  name="studyInformation" class="form-control" cols="10" ><#if json.countryObject?has_content > ${json.countryObject.studyInformation} </#if></textarea>
                </div>
                
                <div class="form-group">
                    <label>About Country Information ( Optional )</label>
                    <textarea id="aboutCountryInformation"  name="aboutCountryInformation" class="form-control" cols="10" ><#if json.countryObject?has_content > ${json.countryObject.aboutCountryInformation} </#if></textarea>
                </div>
                
                 <div class="form-group">
                    <label>Quick Fact - Population Figure ( Optional )</label>
                    <input   type="number" class="form-control" id="quickFactPopulationFigure" name="quickFactPopulationFigure" <#if json.countryObject?has_content > value="${json.countryObject.quickFactPopulationFigure} </#if>"  >
                </div>
                
                 <div class="form-group">
                    <label>Quick Fact - International Students ( Optional )</label>
                    <input   type="number" class="form-control" id="quickFactInternationalStudents" name="quickFactInternationalStudents" <#if json.countryObject?has_content > value="${json.countryObject.quickFactInternationalStudents} </#if>"  >
                </div>
                
                 <div class="form-group">
                    <label>Quick Fact - Number of Courses ( Optional )</label>
                    <input   type="number" class="form-control" id="quickFactCourses" name="quickFactCourses" <#if json.countryObject?has_content > value="${json.countryObject.quickFactCourses} </#if>"  >
                </div>
                
                 <div class="form-group">
                    <label>Quick Fact - Institutions ( Optional )</label>
                    <input   type="number" class="form-control" id="quickFactInstitutions" name="quickFactInstitutions" <#if json.countryObject?has_content > value="${json.countryObject.quickFactInstitutions} </#if>"  >
                </div>
               
              

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" onclick="javascript:handGoBack()">Close</button>
                <button type="button" class="btn btn-primary btn-sm"   onclick="javascript:updateCountry()">  <#if json.edit_mode == 'true' >   Edit Country <#else> Create Country  </#if></button> 
            </div>



            <input type="hidden" name="searchIndex" id="searchIndex"  value="${json.searchIndex}">
            <input type="hidden" name="countryId" id="countryId"  value="${json.countryId}" >
            <input type="hidden" name="edit_mode" id="edit_mode"  >


        </form>


    </div>
    <div class="col-md-3">

    </div>

</div>



<script>

    function updateCountry() {
        if (confirm(' Are you sure you want to update the Country details ?')) {

            var mode = "${json.edit_mode}";
            console.log('mode = ' + mode);
            if(mode == 'false'){
                if($('#updateCountryForm').validate({rules: {
	                'subject_active': {
	                    required: true,
	                    maxlength: 1
	                }
	            }}).form()){
                    $('#edit_mode').val('create');
                    $('#updateCountryForm').submit();
                }
            }else{
                $('#edit_mode').val('edit');
                 $('#updateCountryForm').submit();
            }
           
        }

    }

    function handGoBack() {
        $('#updateCountryForm').attr('action', '/admin_skoola_universities');
        $('#updateCountryForm').attr('method', 'GET');
        $('#updateCountryForm').submit();
    }

    $(document).ready(function () {
        //selectize
        $('.selectbox').selectize({create: false});

        //datepicker
        $('.pick-a-date').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            minDate: moment()
        });
    });



    function loadCourseSubject() {

        var courseGroupId = $('#cu_course_subject_group').val();
        var link = "/get_skoola_course_subjects_by_subject_category";
        $.ajax({
            url: link,
            type: 'GET',
            data: {"courseGroupId": courseGroupId},
            success: function (data) {

               // console.log(data);
                if (data.successful == true) {
                    var result = data.result;
                    $('#cu_course_subject').html('');
                    $('#cu_course_subject').append(' <option   value="">None Indicated</option>');
                    result = $.parseJSON(result);
                  // console.log(result);
                    $.each(result, function (index, obj) {
                       
                        $('#cu_course_subject').append('<option value='+obj.value+'>' +obj.text + '</option>');
                    });
                } else {
                    var msg = data.message;
                    alert(msg);
                }
            },
            error: function (data) {
                alert('Sorry, an error occured , we are unable to process request at the moment');
               
            }
        });
    }
</script>



</@layout.skoolaLayout>
