<#import "/views/layout/skoolaAdminDefaultLayout.ftl.html" as layout>


<@layout.skoolaLayout "Edit Subject Group"> 

<div class="custom-breadcrumb">
    <div class="row">
         <#if json.edit_mode == 'true' >
                
                  <div class="col-sm-7 margin_bottom_10"><h3>Edit Subject Group --${json.subjectObject.name} </h3></div>
            
          <#else>
          
          
                    <div class="col-sm-7 margin_bottom_10"><h3>Add New Subject Group</h3></div>
          
          </#if>
       
        <div class="col-sm-5 breadcrumb-links margin_bottom_10">
            <a href=""> <i class="fa fa-tachometer"></i> Home</a> <b>&rsaquo;</b>
            <#if json.edit_mode == 'true' >
                 <span> <b> Edit Subject Group </b></span>
            
            <#else>
                
                <span><b>Add New Subject Group</b></span>
            
            </#if>
        </div>
    </div>
</div>

<div class="row"> 

    <div class="col-md-3">

    </div>
    <div class="col-md-6">


        <form action="/admin_create_or_update_skoola_subject_category" method="post" id="updateSubjectForm" >
            <div class="modal-body">


                <div class="form-group">
                    <label>Subject Category Name</label>
                    <input  required  type="text" class="form-control" id="subject_group_name" name="subject_group_name" <#if json.subjectObject?has_content > value="${json.subjectObject.name}" </#if>  >
                </div>
                <div class="form-group">
                    <label>Display Name</label>
                     <input   type="text" class="form-control" id="display_name" name="display_name" <#if json.subjectObject?has_content > value="${json.subjectObject.displayName}" </#if>  >

                </div>
                
                 <div class="form-group">
                    <label>Subject Description</label>
                    <textarea id="subject_description"  name="subject_description" class="form-control" cols="10" ><#if json.subjectObject?has_content > ${json.subjectObject.description} </#if></textarea>
                </div>
               
              

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" onclick="javascript:handGoBack()">Close</button>
                <button type="button" class="btn btn-primary btn-sm"   onclick="javascript:updateSubject()">  <#if json.edit_mode == 'true' >   Edit Subject Category <#else> Create Subject Category  </#if></button> 
            </div>



            <input type="hidden" name="searchIndex" id="searchIndex"  value="${json.searchIndex}">
            <input type="hidden" name="subjectGroupId" id="subjectId"  value="${json.subjectGroupId}" >
            <input type="hidden" name="edit_mode" id="edit_mode"  >


        </form>


    </div>
    <div class="col-md-3">

    </div>

</div>



<script>

    function updateSubject() {
        if (confirm(' Are you sure you want to update the subject category details ?')) {

            var mode = "${json.edit_mode}";
            console.log('mode = ' + mode);
            if(mode == 'false'){
                if($('#updateSubjectForm').validate({rules: {
	                'subject_active': {
	                    required: true,
	                    maxlength: 1
	                }
	            }}).form()){
                    $('#edit_mode').val('create');
                    $('#updateSubjectForm').submit();
                }
            }else{
                $('#edit_mode').val('edit');
                 $('#updateSubjectForm').submit();
            }
           
        }

    }

    function handGoBack() {
        $('#updateSubjectForm').attr('action', '/admin_skoola_course_subject_category');
        $('#updateSubjectForm').submit();
    }

    $(document).ready(function () {
        //selectize
        $('.selectbox').selectize({create: false});

        //datepicker
        $('.pick-a-date').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            minDate: moment()
        });
    });



    function loadCourseSubject() {

        var courseGroupId = $('#cu_course_subject_group').val();
        var link = "/get_skoola_course_subjects_by_subject_category";
        $.ajax({
            url: link,
            type: 'GET',
            data: {"courseGroupId": courseGroupId},
            success: function (data) {

               // console.log(data);
                if (data.successful == true) {
                    var result = data.result;
                    $('#cu_course_subject').html('');
                    $('#cu_course_subject').append(' <option   value="">None Indicated</option>');
                    result = $.parseJSON(result);
                  // console.log(result);
                    $.each(result, function (index, obj) {
                       
                        $('#cu_course_subject').append('<option value='+obj.value+'>' +obj.text + '</option>');
                    });
                } else {
                    var msg = data.message;
                    alert(msg);
                }
            },
            error: function (data) {
                alert('Sorry, an error occured , we are unable to process request at the moment');
               
            }
        });
    }
</script>



</@layout.skoolaLayout>
