<#import "/views/layout/skoolaAdminDefaultLayout.ftl.html" as layout>


<@layout.skoolaLayout "Edit Subject"> 

<div class="custom-breadcrumb">
    <div class="row">
         <#if json.edit_mode == 'true' >
                
                  <div class="col-sm-7 margin_bottom_10"><h3>Edit Subject --${json.subjectObject.name} </h3></div>
            
          <#else>
          
          
                    <div class="col-sm-7 margin_bottom_10"><h3>Add New Subject</h3></div>
          
          </#if>
       
        <div class="col-sm-5 breadcrumb-links margin_bottom_10">
            <a href=""> <i class="fa fa-tachometer"></i> Home</a> <b>&rsaquo;</b>
            <#if json.edit_mode == 'true' >
                 <span> <b> Edit Subject </b></span>
            
            <#else>
                
                <span><b>Add New Subject</b></span>
            
            </#if>
        </div>
    </div>
</div>

<div class="row"> 

    <div class="col-md-3">

    </div>
    <div class="col-md-6">


        <form action="/admin_create_or_update_skoola_subject" method="post" id="updateSubjectForm" >
            <div class="modal-body">


                 <div class="form-group">
                    <label>Subject Category  </label>

                    <select required id="subject_category" name="subject_category" class="form-control " >

                        <option   selected="selected"  value="">None Indicated</option> 
                        <#list courseSubjectGroupCol>
                        
                            <#items as subjectGroup>
                                <option <#if json.subjectObject?has_content &&  json.subjectObject.subjectGroupId == subjectGroup.id>selected="selected"</#if> value="${subjectGroup.id}">${subjectGroup.courseSubjectGroupName}</option>
                            </#items>
                        
                        </#list>
                                                      	
                    </select>

                </div>
                <div class="form-group">
                    <label>Subject Name</label>
                    <input  required  type="text" class="form-control" id="subject_name" name="subject_name" <#if json.subjectObject?has_content > value="${json.subjectObject.name}" </#if>" >
                </div>
                <div class="form-group">
                    <label>Display Name</label>
                     <input   type="text" class="form-control" id="display_name" name="display_name" <#if json.subjectObject?has_content > value="${json.subjectObject.displayName"} </#if>  >

                </div>
                 <div class="form-group">
                    <label>Code</label>
                     <input   type="text" class="form-control" id="code" name="code" <#if json.subjectObject?has_content > value="${json.subjectObject.code}" </#if>  >

                </div>
                 <div class="form-group">
                    <label>Subject Description</label>
                    <textarea id="subject_description"  name="subject_description" class="form-control" cols="10" ><#if json.subjectObject?has_content > ${json.subjectObject.description} </#if></textarea>
                </div>
               
               <div class="form-group">

                    <label>
                        <input type="radio" class="form-control" id="subject_active" name="subject_active" value="0" <#if json.subjectObject?has_content && json.subjectObject.isActive == false > checked="checked" </#if> >Disabled 
                    </label>
                    <span>&nbsp;</span>
                    <label>
                        <input type="radio" class="form-control" id="subject_active" name="subject_active" value="1" <#if json.subjectObject?has_content && json.subjectObject.isActive  > checked="checked" </#if>  name="ielt_required" >Enabled 
                    </label>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" onclick="javascript:handGoBack()">Close</button>
                <button type="button" class="btn btn-primary btn-sm"   onclick="javascript:updateSubject()">  <#if json.edit_mode == 'true' >   Edit Subject  <#else> Create Subject  </#if></button> 
            </div>



            <input type="hidden" name="searchIndex" id="searchIndex"  value="${json.searchIndex}">
            <input type="hidden" name="courseCategoryId" id="courseCategoryId"  value="${json.courseCategoryId}" >
            <input type="hidden" name="subjectId" id="subjectId"  value="${json.subjectId}" >
            <input type="hidden" name="edit_mode" id="edit_mode"  >


        </form>


    </div>
    <div class="col-md-3">

    </div>

</div>



<script>

    function updateSubject() {
        if (confirm(' Are you sure you want to update the subject details ?')) {

            var mode = "${json.edit_mode}";
            console.log('mode = ' + mode);
            if(mode == 'false'){
                if($('#updateSubjectForm').validate({rules: {
	                'subject_active': {
	                    required: true,
	                    maxlength: 1
	                }
	            }}).form()){
                    $('#edit_mode').val('create');
                    $('#updateSubjectForm').submit();
                }
            }else{
                $('#edit_mode').val('edit');
                 $('#updateSubjectForm').submit();
            }
           
        }

    }

    function handGoBack() {
        $('#updateSubjectForm').attr('action', '/admin_skoola_course_subjects');
        $('#updateSubjectForm').submit();
    }

    $(document).ready(function () {
        //selectize
        $('.selectbox').selectize({create: false});

        //datepicker
        $('.pick-a-date').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            minDate: moment()
        });
    });



    function loadCourseSubject() {

        var courseGroupId = $('#cu_course_subject_group').val();
        var link = "/get_skoola_course_subjects_by_subject_category";
        $.ajax({
            url: link,
            type: 'GET',
            data: {"courseGroupId": courseGroupId},
            success: function (data) {

               // console.log(data);
                if (data.successful == true) {
                    var result = data.result;
                    $('#cu_course_subject').html('');
                    $('#cu_course_subject').append(' <option   value="">None Indicated</option>');
                    result = $.parseJSON(result);
                  // console.log(result);
                    $.each(result, function (index, obj) {
                       
                        $('#cu_course_subject').append('<option value='+obj.value+'>' +obj.text + '</option>');
                    });
                } else {
                    var msg = data.message;
                    alert(msg);
                }
            },
            error: function (data) {
                alert('Sorry, an error occured , we are unable to process request at the moment');
               
            }
        });
    }
</script>



</@layout.skoolaLayout>
