<#import "/views/layout/skoolaAdminDefaultLayout.ftl.html" as layout>


<@layout.skoolaLayout "Edit Country"> 

<div class="custom-breadcrumb">
    <div class="row">
         <#if json.edit_mode == 'true' >
                
                  <div class="col-sm-7 margin_bottom_10"><h3>Edit School --${json.schoolJSONObject.name} </h3></div>
            
          <#else>
          
          
                    <div class="col-sm-7 margin_bottom_10"><h3>Add New School</h3></div>
          
          </#if>
       
        <div class="col-sm-5 breadcrumb-links margin_bottom_10">
            <a href=""> <i class="fa fa-tachometer"></i> Home</a> <b>&rsaquo;</b>
            <#if json.edit_mode == 'true' >
                 <span> <b> Edit School </b></span>
            
            <#else>
                
                <span><b>Add New School</b></span>
            
            </#if>
        </div>
    </div>
</div>

<div class="row"> 

    <div class="col-md-3">

    </div>
    <div class="col-md-6">


        <form action="/admin_create_or_update_skoola_schools" method="post" id="updateCountryForm" >
            <div class="modal-body">


                <div class="form-group">
                    <label>School Name</label>
                    <input  required  type="text" class="form-control" id="name" name="name" <#if json.schoolJSONObject?has_content > value="${json.schoolJSONObject.name}" </#if>  >
                </div>
                <div class="form-group">
                    <label>School Address</label>
                    <input   type="text" class="form-control" id="address" name="address" <#if json.schoolJSONObject?has_content > value="${json.schoolJSONObject.address}" </#if>  >
 
                </div>
                
                <div class="form-group">
                    <label>Country  </label>
                    <select id="countryIdElement" name="countryIdElement" required class="form-control">
                                <option value="">-- None Selected -- </option>
                                <#list countryJSONArray?eval>
                                    <#items as country>
                                        <option <#if json.schoolJSONObject?has_content && json.schoolJSONObject.schoolCountryId == country.id > selected="selected" </#if> value="${country.id}">  ${country.name}</option>
                                    </#items>
                                </#list>
                    </select>
 
                </div>
                
                <div class="form-group">
                    <label>Year Established</label>
                    <input   type="text" class="form-control" id="yearEstablished" name="yearEstablished" <#if json.schoolJSONObject?has_content > value="${json.schoolJSONObject.yearEstablished}" </#if>  >
 
                </div>
                
                <div class="form-group">
                    <label>School Logo URL</label>
                    <input required   type="url" class="form-control" id="logoUrl" name="logoUrl" <#if json.schoolJSONObject?has_content > value="${json.schoolJSONObject.logoUrl}" </#if>  >
 
                </div>
                
                <div class="form-group">
                    <label>School Website URL</label>
                    <input required   type="url" class="form-control" id="universityWebSiteURL" name="universityWebSiteURL" <#if json.schoolJSONObject?has_content > value="${json.schoolJSONObject.universityWebsiteURL}" </#if>  >
 
                </div>
                
                 <div class="form-group">
                    <label>University Type</label>
                    <input    type="text" class="form-control" id="universityType" name="universityType" <#if json.schoolJSONObject?has_content > value="${json.schoolJSONObject.universityType}" </#if>  >
 
                </div>
                
                <div class="form-group">
                    <label>Highest Degree Offered</label>
                    <input    type="text" class="form-control" id="highestDegreeOffered" name="highestDegreeOffered" <#if json.schoolJSONObject?has_content > value="${json.schoolJSONObject.highestDegreeOffered}" </#if>  >
 
                </div>
                
                
                 <div class="form-group">
                    <label>Average Fees</label>
                    <input    type="text" class="form-control" id="averageFees" name="averageFees" <#if json.schoolJSONObject?has_content > value="${json.schoolJSONObject.averageFees}" </#if>  >
 
                </div>
                
                 <div class="form-group">
                    <label>Region</label>
                    <textarea id="region"  name="region" class="form-control" cols="10" ><#if json.schoolJSONObject?has_content > ${json.schoolJSONObject.region} </#if></textarea>
                </div>
                
                 <div class="form-group">
                    <label>Semester</label>
                    <textarea id="semester"  name="semester" class="form-control" cols="10" ><#if json.schoolJSONObject?has_content > ${json.schoolJSONObject.semester} </#if></textarea>
                </div>
                
                <div class="form-group">
                    <label>General Requirements</label>
                    <textarea id="generalRequirements"  name="generalRequirements" class="form-control" cols="10" ><#if json.schoolJSONObject?has_content > ${json.schoolJSONObject.generalRequirements} </#if></textarea>
                </div>
                
                <div class="form-group">
                    <label>School Setting</label>
                    <textarea id="universitySetting"  name="universitySetting" class="form-control" cols="10" ><#if json.schoolJSONObject?has_content > ${json.schoolJSONObject.universitySetting} </#if></textarea>
                </div>
                <div class="form-group">
                    <label>Overview</label>
                    <textarea id="overview"  name="overview" class="form-control" cols="10" ><#if json.schoolJSONObject?has_content > ${json.schoolJSONObject.overview} </#if></textarea>
                </div>
               
              

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" onclick="javascript:handGoBack()">Close</button>
                <button type="button" class="btn btn-primary btn-sm"   onclick="javascript:updateSchool()">  <#if json.edit_mode == 'true' >   Edit School <#else> Create School  </#if></button> 
            </div>



            <input type="hidden" name="searchIndex" id="searchIndex"  value="${json.searchIndex}">
            <input type="hidden" name="schoolId" id="schoolId"  value="${json.schoolId}">
            <input type="hidden" name="countryId" id="countryId"  value="${json.countryId}" >
            <input type="hidden" name="edit_mode" id="edit_mode"  >


        </form>


    </div>
    <div class="col-md-3">

    </div>

</div>



<script>

    function updateSchool() {
        if (confirm(' Are you sure you want to update the School details ?')) {

            var mode = "${json.edit_mode}";
            console.log('mode = ' + mode);
            if(mode == 'false'){
                if($('#updateCountryForm').validate({rules: {
	                'subject_active': {
	                    required: true,
	                    maxlength: 1
	                }
	            }}).form()){
                    $('#edit_mode').val('create');
                    $('#updateCountryForm').submit();
                }
            }else{
                $('#edit_mode').val('edit');
                 $('#updateCountryForm').submit();
            }
           
        }

    }

    function handGoBack() {
        $('#updateCountryForm').attr('action', '/admin_skoola_universities');
        $('#updateCountryForm').attr('method', 'GET');
        $('#updateCountryForm').submit();
    }

    $(document).ready(function () {
        //selectize
        $('.selectbox').selectize({create: false});

        //datepicker
        $('.pick-a-date').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            minDate: moment()
        });
    });



    function loadCourseSubject() {

        var courseGroupId = $('#cu_course_subject_group').val();
        var link = "/get_skoola_course_subjects_by_subject_category";
        $.ajax({
            url: link,
            type: 'GET',
            data: {"courseGroupId": courseGroupId},
            success: function (data) {

               // console.log(data);
                if (data.successful == true) {
                    var result = data.result;
                    $('#cu_course_subject').html('');
                    $('#cu_course_subject').append(' <option   value="">None Indicated</option>');
                    result = $.parseJSON(result);
                  // console.log(result);
                    $.each(result, function (index, obj) {
                       
                        $('#cu_course_subject').append('<option value='+obj.value+'>' +obj.text + '</option>');
                    });
                } else {
                    var msg = data.message;
                    alert(msg);
                }
            },
            error: function (data) {
                alert('Sorry, an error occured , we are unable to process request at the moment');
               
            }
        });
    }
</script>



</@layout.skoolaLayout>
