<#import "/views/layout/skoolaDefaultLayout.ftl.html" as layout>


<@layout.skoolaLayout "Home page"> 

    <!--css -->
    <link href="/assets/css/fontello/css/fontello-embedded.css" rel="stylesheet">
    <link href="/assets/css/plugins/selective/selectize.css" rel="stylesheet">
    <link href="/assets/css/skoola.css" rel="stylesheet">


    <!--jquery-->
    <script src="/assets/js/jquery/jquery.min.js"></script>
    <script src="/assets/js/bw.validate.js"></script>

    <style>
        .input-group-addon {
            outline:none !important;
        }
        
        .error{
        	color:red;
        }
    </style>





        <section class="margin_top_40 margin_bottom_30">
            <div class="container">
                <div class="row row-centered">
                    <div class="col-sm-5 col-md-7 col-xs-12 col-centered">
                        <div class="loginBox sideBarBox">
                            <h3>Thanks for registering!</h3>
                            <p> An email has been sent to your email address containing your verification code.Please 
                             use this code to activate your account.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>






    <script src="/assets/js/plugins/sticky/jquery.sticky.js"></script>
    <script src="/assets/js/bootstrap-show-password.min.js"></script>
    <!--custom javascript libraries-->
    <script>
    	
    
	    function submitSignupForm(){
	    	if($('#signup-form').validate().form()){
	    		$('#signup-form').submit();
	    	}
	    }
    
        $(document).ready(function(){

            //mobile menu
            var slideout = new Slideout({
                'panel': document.getElementById('contentWrapper'),
                'menu': document.getElementById('menuWrapper'),
                'padding': 240,
                'tolerance': 70
            });

            document.querySelector('.toggle-button').addEventListener('click', function() {slideout.toggle();});
            document.querySelector('.close-menu').addEventListener('click', function() {slideout.close();});

            $('#password').password();

            //sticky header
            $(".topBar").sticky({ topSpacing: 0});

            //custom placeholder for old browsers
            $('input, textarea').placeholder({ customClass: 'customInputPlaceholder' });

        });
        
        
        $("#signup-btn").click(function(){
       	
        	if ($("#signup-form").validate().form()) {
        		
        			jQuery("#signup-form").submit();
        			$('#signup-btn').html('Processing...');
        			$('#signup-btn').prop('disabled',true);
        		
        		
        	}

        });
    </script>



</@layout.skoolaLayout>
