<#import "/views/layout/skoolaDefaultLayout.ftl.html" as layout>


<@layout.skoolaLayout "Home page"> 


		
	<style>
	    .special-select .selectize-dropdown,
	    .special-select .selectize-input,
	    .special-select .selectize-input input {
	        line-height: 28px !important;
	    }
	</style>


		
		<!-- typeahead css settings -->
		
		<style>


	
			.twitter-typeahead {
			    display: inherit !important;
			    width: 100%;
			}
			
			.twitter-typeahead .tt-input[disabled] {
			  background-color : #eeeeee !important;
			}
			
			/*Added to input that's initialized into a typeahead*/
			.twitter-typeahead .tt-input {
			
			}
			
			/*Added to hint input.*/
			.twitter-typeahead .hint {
			
			}
			
			/*Added to menu element*/
			.twitter-typeahead .tt-menu {
			  width: 100%;
			  max-height: 150px;
			  overflow-y: hidden;
			  border: 1px solid #cccccc;
			
			  -moz-box-shadow: 12px 14px 30px -7px #616161;
			  -webkit-box-shadow: 12px 14px 30px -7px #616161;
			  box-shadow: 12px 14px 30px -7px #616161;
			}
			
			/*Added to dataset elements*/
			.twitter-typeahead .tt-dataset {
			
			}
			
			/*dded to suggestion elements*/
			.twitter-typeahead .tt-suggestion {
			  padding: 3px 20px;
			  white-space: nowrap;
			}
			
			/*Added to menu element when it contains no content*/
			.twitter-typeahead .tt-empty {
			  background-color: white;
			}
			
			/*Added to menu element when it is opened*/
			.twitter-typeahead .tt-open {
			  background-color: white;
			}
			
			/*Added to suggestion element when menu cursor moves to said suggestion*/
			.twitter-typeahead .tt-suggestion:hover,
			.twitter-typeahead .tt-suggestion:focus,
			.twitter-typeahead .tt-cursor {
			  cursor: hand !important;
			  background-color: #337ab7;
			  color: white;
			}
			
			/*Added to the element that wraps highlighted text*/
			.twitter-typeahead .tt-highlight {
			
			}
			
			
			.title-name {
			   margin: 0 20px 5px 20px;
			  padding: 3px 0; 
			  border-bottom: 1px solid #ccc;
			} 
			
		</style>   

	    <section class="homeSearchBoxContainer">
	        <div class="container">
	            <div class="row">
	                <div class="col-lg-12 margin_top_50">
	                    <div class="searchBoxMessage">
	                        <h1>Study Abroad made <span>simple</span></h1>
	                        <p>Find and secure admission from institutions <span>all over the world</span></p>
	                    </div>
	                    <!--form-->
	                    <div class="row row-centered margin_top_20">
	                        <div class="col-lg-10 col-md-11 col-centered">
	                             <form role="form" method="get" action="/search_courses_by_parameters" class="homeSearchForm" id="searchCourseForm">
	                                <div class="row row-centered">
	                                    <div class="col-lg-5 col-md-5 col-sm-8 col-xs-12 nopadding text-left">
	                                        <div id="courseDiv">
	                                       		
	                                            <input  type="text" class="form-control input-lg typeahead" style="display: block;width 100%; cursor:pointer;" id="courseSubjectNameField" name="courseSubjectNameField"  autocomplete="off"  placeholder="Enter Course Subject">
	                                        </div>
	                                    </div>
	                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 nopadding margin_bottom_10">
	                                        <div class="form-group text-left special-select">
	                                            <select class="selectbox " placeholder="Location" name="countryId" id="countryId">
	                                                <option value=" ">Location</option>
	                                                	<#if countryCol?has_content>
			                                               <#list countryCol>
			                                               		<#items as country>
			                                                		<option value="${country.countryId}"> ${country.name}  </option>
			                                                	</#items>
			                                                </#list>	
		                                               	</#if>
	                                            </select>
	                                        </div>
	                                    </div>
	                                    <div class="col-lg-3 col-md-3 col-sm-8 col-xs-6 nopadding margin_bottom_10">
	                                        <div class="form-group text-left special-select">
	                                             <select class="selectbox " placeholder="Select Level" name="courseTypeId" id="courseTypeId" required >
	                                                 <option value=" ">Select Level</option> 
		                                                <#if countryCol?has_content>
			                                                <#list courseTypeCol>
			                                                	<#items as courseType>
			                                                		<option value="${courseType.id}">${courseType.name}</option>
			                                               		</#items>
			                                               	</#list>
		                                               	</#if>
	                                            </select>
	                                        </div>
	                                    </div>
	                                     <input type="hidden" id="subjectId" name="subjectId" />
	                                     <input type="hidden" id="type" name="type" />
	                                     <input type="hidden" name="searchParamMinimumPrice" id="searchParamMinimumPrice" value="100000"/>
	                            		<input type="hidden" name="searchParamMaximumPrice" id="searchParamMaximumPrice" value="15000000" />
	                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 nopadding">
	                                        <div class="form-group">
	                                          <button id="searchCourseBtn" type="button" class="btn btn-block btn-warning btn-lg"><i class="icon-search"></i> Search</button>
	                                        </div>
	                                    </div>
	                                </div>
	
	                            </form>
	
	                        </div>
	                    </div>
	
	                </div>
	            </div>
	        </div>
	    </section>
	
	
	    <!--steps in styuding abroad-->
	    <section class="margin_top_30">
	        <div class="container">
	            <div class="row">
	
	                <div class="col-xs-12 section-heading margin_bottom_20 text-center">
	                    <h2>Study Abroad in 3 Simple Steps</h2>
	                </div>
	
	                <div class="col-lg-4 col-md-4 margin_bottom_10">
	                    <div class="steps">
	                        <span class="line"></span>
	                            <span class="sp_icon">
	                                <img src="/assets/img/steps-study.png"/>
	                            </span>
	                        <h3>Create Account</h3>
	                        <p>Register for an account and complete your profile with accurate details</p>
	                    </div>
	                </div>
	
	                <div class="col-lg-4 col-md-4 margin_bottom_10">
	                    <div class="steps">
	                        <span class="line"></span>
	                            <span class="sp_icon">
	                                <img src="/assets/img/steps-search.png"/>
	                            </span>
	                        <h3>School Search</h3>
	                        <p>Search for courses and programs in 500+ universities around the world</p>
	                    </div>
	                </div>
	
	                <div class="col-lg-4 col-md-4 margin_bottom_10">
	                    <div class="steps">
	                            <span class="sp_icon">
	                                <img src="/assets/img/steps-application.png"/>
	                            </span>
	                        <h3>Book & Apply</h3>
	                        <p>Book an appointment - over the phone or in person - to start your application</p>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </section>
	
	
	    <section class="categoriesSection margin_top_50">
	        <div class="container">
	            <div class="row row-centered">
	                <div class="col-md-12 col-centered">
	                    <div class="categoryHeadings margin_top_40 margin_bottom_20">
	                        <h2>Need help picking a course?</h2>
	                        <p>You can start here...and we will guide you</p>
	                    </div>
	
	
	                    <div class="row">
	                        <div class="col-md-4 eq-col-sm-4 col-sm-4 col-xs-6">
	                        	<#if courseSubjectGroupStatPojoCol?has_content>
                            		<#list courseSubjectGroupStatPojoCol>	                            		
                            			<#items as subjectGroupPojo>
			                                <#if subjectGroupPojo.courseSubjectGroupName == "Health and Medicine">
			                                	<a href="#" onclick="javascript:viewPopularCoursesBySubjectGroupId('${subjectGroupPojo.id}','${subjectGroupPojo.type}')" class="eachCategory">
					                                <img src="/assets/img/category-icons/health_medicine.png"/>
					                                <h4>Health & Medicine</h4>
					                                <p>${subjectGroupPojo.numberOfCourses!"20."} Courses</p>
					                                <p>${subjectGroupPojo.numberOfUniversities!"40."} Universities</p>
					                            </a>
			                                </#if>
			                             </#items>  
		                             </#list>
	                             </#if> 
	                        </div>
	                        <div class="col-md-4 eq-col-sm-4 col-sm-4 col-xs-6">
	                        	
	                        	<#if courseSubjectGroupStatPojoCol?has_content>
                            		<#list courseSubjectGroupStatPojoCol>	                            		
                            			<#items as subjectGroupPojo>
			                                <#if subjectGroupPojo.courseSubjectGroupName == "Applied and Pure Sciences">
			                                	<a href="#" onclick="javascript:viewPopularCoursesBySubjectGroupId('${subjectGroupPojo.id}','${subjectGroupPojo.type}')" class="eachCategory">
					                                <img src="/assets/img/category-icons/science.png"/>
					                                <h4>Applied and Pure Sciences</h4>
					                                <p>${subjectGroupPojo.numberOfCourses!"20."} Courses</p>
					                                <p>${subjectGroupPojo.numberOfUniversities!"40."} Universities</p>
					                            </a>
			                                </#if>
			                             </#items>  
		                             </#list>
	                             </#if> 
	                            
	                        </div>
	                        <div class="col-md-4 eq-col-sm-4 col-sm-4 col-xs-6">
	                        	
	                        	<#if courseSubjectGroupStatPojoCol?has_content>
                            		<#list courseSubjectGroupStatPojoCol>	                            		
                            			<#items as subjectGroupPojo>
			                                <#if subjectGroupPojo.courseSubjectGroupName == "Engineering">
			                                	<a href="#" onclick="javascript:viewPopularCoursesBySubjectGroupId('${subjectGroupPojo.id}','${subjectGroupPojo.type}')" class="eachCategory">
					                                <img src="/assets/img/category-icons/engineering.png"/>
	                                				<h4>Engineering</h4>
					                                <p>${subjectGroupPojo.numberOfCourses!"20."} Courses</p>
					                                <p>${subjectGroupPojo.numberOfUniversities!"40."} Universities</p>
					                            </a>
			                                </#if>
			                             </#items>  
		                             </#list>
	                             </#if> 
	                        	
	                        </div>
	                        <div class="col-md-4 eq-col-sm-4 col-sm-4 col-xs-6">
	                        	
	                        	<#if courseSubjectGroupStatPojoCol?has_content>
                            		<#list courseSubjectGroupStatPojoCol>	                            		
                            			<#items as subjectGroupPojo>
			                                <#if subjectGroupPojo.courseSubjectGroupName == "Business and Management">
			                                	<a href="#" onclick="javascript:viewPopularCoursesBySubjectGroupId('${subjectGroupPojo.id}','${subjectGroupPojo.type}')" class="eachCategory">
					                                <img src="/assets/img/category-icons/business.png"/>
	                                				<h4>Business and Management</h4>
					                                <p>${subjectGroupPojo.numberOfCourses!"20."} Courses</p>
					                                <p>${subjectGroupPojo.numberOfUniversities!"40."} Universities</p>
					                            </a>
			                                </#if>
			                             </#items>  
		                             </#list>
	                             </#if> 
	                        
	                        </div>
	                        <div class="col-md-4 eq-col-sm-4 col-sm-4 col-xs-6">
	                        	
	                        	<#if courseSubjectGroupStatPojoCol?has_content>
                            		<#list courseSubjectGroupStatPojoCol>	                            		
                            			<#items as subjectGroupPojo>
			                                <#if subjectGroupPojo.courseSubjectGroupName == "Creative Arts and Design">
			                                	<a href="#" onclick="javascript:viewPopularCoursesBySubjectGroupId('${subjectGroupPojo.id}','${subjectGroupPojo.type}')" class="eachCategory">
					                                <img src="/assets/img/category-icons/creative_arts.png"/>
	                                				<h4>Creative Arts and Design</h4>
					                                <p>${subjectGroupPojo.numberOfCourses!"20."} Courses</p>
					                                <p>${subjectGroupPojo.numberOfUniversities!"40."} Universities</p>
					                            </a>
			                                </#if>
                                                        
                                                       
			                             </#items>  
		                             </#list>
	                             </#if>
	                        	
	                        </div>
	                        <div class="col-md-4 eq-col-sm-4 col-sm-4 col-xs-6">
	                        
	                        	 <#if courseSubjectGroupStatPojoCol?has_content>
                            		<#list courseSubjectGroupStatPojoCol>	                            		
                            			<#items as subjectGroupPojo>
			                                <#if subjectGroupPojo.courseSubjectGroupName == "Social Studies and Media">
			                                	<a href="#" onclick="javascript:viewPopularCoursesBySubjectGroupId('${subjectGroupPojo.id}','${subjectGroupPojo.type}')" class="eachCategory">
					                                <img src="/assets/img/category-icons/social_studies.png"/>
	                                				<h4>Social Studies and Media</h4>
					                                <p>${subjectGroupPojo.numberOfCourses!"20."} Courses</p>
					                                <p>${subjectGroupPojo.numberOfUniversities!"40."} Universities</p>
					                            </a>
			                                </#if>
			                             </#items>  
		                             </#list>
	                             </#if>
	                        	
	                        </div>
	                    </div>
	
	
	
	                </div>
	            </div>
	        </div>
	    </section>
	
	
	    <section class="where-to-study">
	        <div class="container">
	            <div class="row">
	                <div class="col-xs-12">
	
	                    <div class="section-heading text-center margin_bottom_30"><h2>Where would you like to go?</h2></div>
	
	                    <div class="row">
	
	                        <div class="col-md-15 col-sm-4 col-xs-6">
	                            <a href="/country_detail" class="custom-btn-dark uk">UK</a>
	                        </div>
	                        <div class="col-md-15 col-sm-4 col-xs-6">
	                            <a href="/country_detail" class="custom-btn-dark usa">USA</a>
	                        </div>
	                        <div class="col-md-15 col-sm-4 col-xs-6">
	                            <a href="/country_detail" class="custom-btn-dark australia">Australia</a>
	                        </div>
	                        <div class="col-md-15 col-sm-4 col-xs-6">
	                            <a href="/country_detail" class="custom-btn-dark canada">Canada</a>
	                        </div>
	                        <div class="col-md-15 col-sm-4 col-xs-12">
	                            <a href="/more_destinations" class="custom-btn-dark last">More Destinations</a>
	                        </div>
	
	                    </div>
	
	                </div>
	            </div>
	        </div>
	    </section>
	
	
	    <section class="examSection">
	        <div class="container">
	            <div class="row">
	
	                <div class="col-sm-12 margin_top_20">
	
	                    <!--Heading-->
	                    <div class="section-heading margin_bottom_30 text-center">
	                        <h2>Entry Exams</h2>
	                    </div>
	
	                    <div class="slick-carousel">
	
	                        <a href="/exam_detail" class="eachExams">
	                            <h4>GRE <small>&reg;</small></h4>
	                            <!--<p>Graduate Record Exam</p>-->
	                        </a>
	
	                        <a href="/exam_detail" class="eachExams">
	                            <h4>GMAT <small>&reg;</small></h4>
	                            <!--<p>Graduate Management Admission Test</p>-->
	                        </a>
                                
                                <a href="/exam_detail" class="eachExams">
	                            <h4>IELTS  <small>&reg;</small></h4>
<!--	                            <p>International English Language Testing System</p>-->
	                        </a>
	
	                        <a href="more_exams" class="eachExams">
	                            <h4>More <small>&reg;</small></h4>
	                            <!--<p>Scholastic Assessment Test</p>-->
	                        </a>
	
<!--	                        <a href="exam-details.php" class="eachExams">
	                            <h4>TOEFL <small>&reg;</small></h4>
	                            <p>Test of English as a Foreign Language</p>
	                        </a>
	
	                        <a href="exam-details.php" class="eachExams">
	                            <h4>IELTS  <small>&reg;</small></h4>
	                            <p>International English Language Testing System</p>
	                        </a>
	
	                        <a href="exam-details.php" class="eachExams">
	                            <h4>PTE <small>&reg;</small></h4>
	                            <p>Pearson Tests of English</p>
	                        </a>-->
	
	                    </div>
	
	                </div>
	            </div>
	        </div>
	    </section>
	
	
<!--	    <section class="advice_tips margin_top_30 margin_bottom_60">
	        <div class="container">
	            <div class="row">
	                <div class="col-xs-12">
	                    <div class="section-heading text-center"><h2>Application Services</h2></div>
	
	                    <div class="row margin_top_30 row-centered">
	
	                        <div class="col-md-6 col-sm-8 col-xs-12 col-centered">
	                            <div class="row">
	                                <div class="eq-col-sm-6 col-xs-6">
	                                    <a href="" class="each-tips">
	                                        <img src="/assets/img/app-services/preparation.png"/>
	                                        <h3>Exam Preparation</h3>
	                                    </a>
	                                </div>
	
	                                <div class="eq-col-sm-6 col-xs-6">
	                                    <a href="" class="each-tips">
	                                        <img src="/assets/img/app-services/accomodation.png"/>
	                                        <h3>Accommodation</h3>
	                                    </a>
	                                </div>
	                            </div>
	                        </div>
	
	                    </div>
	                </div>
	            </div>
	        </div>
	    </section>-->
	
	    <section class="advice_tips margin_top_30 margin_bottom_60">
	        <div class="container">
	            <div class="row">
	                <div class="col-xs-12">
	                    <div class="section-heading text-center"><h2>Advice and Tips</h2></div>
	
	                    <div class="row margin_top_30">
	                        <div class="eq-col-sm-3 col-xs-6 col-sm-3">
	                            <a href="" class="each-tips">
	                                <img src="/assets/img/advice-icons/rank.png"/>
	                                <h3>University Rankings</h3>
	                            </a>
	                        </div>
	
	                        <div class="eq-col-sm-3 col-xs-6 col-sm-3">
	                            <a href="" class="each-tips">
	                                <img src="/assets/img/advice-icons/guides.png"/>
	                                <h3>Study Abroad Guides</h3>
	                            </a>
	                        </div>
	
	                        <div class="eq-col-sm-3 col-xs-6 col-sm-3">
	                            <a href="" class="each-tips">
	                                <img src="/assets/img/advice-icons/info.png"/>
	                                <h3>Country Info</h3>
	                            </a>
	                        </div>
	
	                        <div class="eq-col-sm-3 col-xs-6 col-sm-3">
	                            <a href="" class="each-tips">
	                                <img src="/assets/img/advice-icons/help.png"/>
	                                <h3>Application Help</h3>
	                            </a>
	                        </div>
	
	                    </div>
	                </div>
	            </div>
	        </div>
	    </section>
	    
	    
	    
	    
	    
	    
<script>
	
	function viewPopularCoursesBySubjectGroupId(subjectId,type){
		$('#subjectId').val(subjectId);
		$('#type').val(type);
		$('#searchCourseForm').submit();
	}

    $(document).ready(function(){


        $('.slick-carousel').slick({
            dots: false,
            infinite: false,
            speed: 300,
            slidesToShow: 4,
            slidesToScroll: 4,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3,
                        infinite: true,
                        dots: true
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
                // You can unslick at a given breakpoint now by adding:
                // settings: "unslick"
                // instead of a settings object
            ]
        });

        var slideout = new Slideout({
            'panel': document.getElementById('contentWrapper'),
            'menu': document.getElementById('menuWrapper'),
            'padding': 240,
            'tolerance': 70
        });

        document.querySelector('.toggle-button').addEventListener('click', function() {slideout.toggle();});
        document.querySelector('.close-menu').addEventListener('click', function() {slideout.close();});

        $('.selectbox').selectize({create: false});
        
        
      /// Allow only alphabets in search field
        
        $('#courseSubjectNameField').keypress(function(){
       	 var ch = String.fromCharCode(event.keyCode);
            var filter = /[a-zA-Z]/   ;
            if(!filter.test(ch)){
                 event.returnValue = false;
            }
        });
        
        
        /// prevent cut copy or paste
        
        $('#courseSubjectNameField').bind("cut copy paste",function(e) {
            e.preventDefault();
        });
        


/*         //Bootstrap typeahead
        var courses, remoteHost;
        $.support.cors = true;
        remoteHost = 'http://apps.dev/skoola/application/data/courses.json';
        courses = new Bloodhound({
            //identify: function(o) { return o.id_str; },
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
            dupDetector: function(a, b) { return a.id_str === b.id_str; },
            prefetch: remoteHost + '?prefetch',
            remote: {
                url: remoteHost + '?keyword=%QUERY',
                wildcard: '%QUERY'
            }
        });

        $('.typeahead').typeahead({
            items: 8,
            minLength: 1,
            autoSelect: true,
            source:courses.ttAdapter()
        });
 */

        //sticky header
        $(".main-navigation").sticky({ topSpacing: 0});

        //custom placeholder for old browsers
        $('input, textarea').placeholder({ customClass: 'customInputPlaceholder' });

    });
    
    
    $('#searchCourseBtn').click(function(){
    	/* if($('#courseId').val() == ''){
    		$('#searchPhrase').val($('#courseName').val());
    	} */
    
    		$('#searchCourseBtn').text('Searching...');
        	$('#searchCourseBtn').prop('disabled',true);
        	$('#searchCourseForm').submit();

    });

   /*  function defaultSearch(){
    	
    	$('#searchCourseForm').submit();
    	
    } */


        
        var courseSubjects = new Bloodhound({
    	    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('subjectName'),
    	    queryTokenizer: Bloodhound.tokenizers.whitespace,
    	    identify: function(obj) { console.log(obj); return obj.subjectName; },
    	    prefetch: '/getAllSubjectType' 
    	    
    	  });
        
        
        var courseSubjectGroups = new Bloodhound({
    	    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('courseSubjectGroupName'),
    	    queryTokenizer: Bloodhound.tokenizers.whitespace,
    	    identify: function(obj) { console.log(obj); return obj.courseSubjectGroupName; },
    	    prefetch: '/getAllSubjectGroupType' 
    	    
    	  });

    	

    	  $('#courseDiv .typeahead').typeahead({
    		  hint: true,
    		  highlight: true,
    		 // minLength: 1
    		},
    		  {
    		    name: 'skoola-subject',
    		    display: 'subjectName',
    		    limit: 10,
    		    source: courseSubjects,
    		    templates: {
    		    	//header: '<h3 class="title-name" >Speciality</h3>',
    		        empty: [
    					
    		       ].join('\n'),
    		        suggestion: Handlebars.compile('<div><strong>{{subjectName}}</strong> </div>')
    		      }
    		  },

    	  {
    		    name: 'skoola-subject-group',
    		    display: 'courseSubjectGroupName',
    		    limit: 10,
    		    source: courseSubjectGroups,
    		    templates: {
    		    	//header: '<h3 class="title-name" >Speciality</h3>',
    		        empty: [
    					
    		       ].join('\n'),
    		        suggestion: Handlebars.compile('<div><strong>{{courseSubjectGroupName}}</strong> </div>')
    		      }
    		  }).on('typeahead:selected', function (e, item) {
    		    $('#subjectId').val(item.id);
    		    $('#type').val(item.type);
    		   // alert(item.id);
    		  //  alert(item.tokens);
    	});
        
</script>

</@layout.skoolaLayout>

