<#import "/views/layout/skoolaDefaultLayout.ftl.html" as layout>


<@layout.skoolaLayout "Home page"> 




        <section class="margin_top_50 margin_bottom_50">
            <div class="container">
                <div class="row row-centered">
                    <div class="col-md-9 col-sm-12 col-xs-12 col-centered">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="special-plan">
                                    <div class="plan-header">Standard Package</div>
                                    <div class="plan-pricing">
                                        <h2>N9,500 <span>/ month</span></h2>
                                    </div>
                                    <div class="plan-pricing-discount">
                                        Save <b>N6,500</b> when you subscribe for 6 months at N50,500
                                    </div>
                                    <ul class="splan-features">
                                        <li>Exam Registration</li>
                                        <li>Email assistance</li>
                                        <li>Access to full length tests</li>
                                        <li>Practice questions</li>
                                        <li>Access to books owned by Skoola, accessible online only</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="special-plan">
                                    <div class="plan-header">Premium Package</div>
                                    <div class="plan-pricing">
                                        <h2>N14,500 <span>/ month</span></h2>
                                    </div>
                                    <div class="plan-pricing-discount">
                                        Save <b>N500</b> when you subscribe for 6 months at N86,500
                                    </div>
                                    <ul class="splan-features">
                                        <li>Exam Registration</li>
                                        <li>Email assistance</li>
                                        <li>Access to full length tests</li>
                                        <li>Practice questions</li>
                                        <li>Access to books owned by Skoola, accessible online only</li>
                                        <li>Access to in-house study room</li>
                                        <li>Class coaching & practice sessions, with tutor and other candidates.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


 <!--        <section class="accomodation-service margin_bottom_40">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h4>Subscribe to a plan</h4>
                    </div>

                    Form
                    <div class="col-sm-7 margin_top_20">
                        <form method="post">
              

                            <div class="form-group">
                                <label>Exam</label>
                                <select class="selectbox" placeholder="Exam">
                                    <option value="">Exam</option>
                                    <option value="1">GRE</option>
                                    <option value="2">SAT</option>
                                    <option value="3">TOEFL</option>
                                    <option value="4">GMAT</option>
                                    <option value="5">IELTS</option>
                                    <option value="6">PTE</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Package</label>
                                <select class="selectbox" placeholder="Package">
                                    <option value="">Package</option>
                                    <option value="1">Standard</option>
                                    <option value="2">Premium</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Duration</label>
                                <select class="selectbox" placeholder="Duration">
                                    <option value="">Duration</option>
                                    <option value="1">1 Month</option>
                                    <option value="2">6 Months</option>
                                </select>
                            </div>


                            <div class="form-group text-right">
                                <button type="button" data-toggle="modal" href="#confirmatn" class="btn btn-primary">Submit</button>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </section> -->








    <!--custom javascript libraries-->
    <script>

    


        $(document).ready(function(){
        	
            $('.slick-carousel').slick({
                dots: false,
                infinite: false,
                speed: 300,
                slidesToShow: 4,
                slidesToScroll: 4,
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 3,
                            infinite: true,
                            dots: true
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                    // You can unslick at a given breakpoint now by adding:
                    // settings: "unslick"
                    // instead of a settings object
                ]
            });

        	
        	$('.selectbox').selectize({create: false});
            //mobile menu
            var slideout = new Slideout({
                'panel': document.getElementById('contentWrapper'),
                'menu': document.getElementById('menuWrapper'),
                'padding': 240,
                'tolerance': 70
            });

            document.querySelector('.toggle-button').addEventListener('click', function() {slideout.toggle();});
            document.querySelector('.close-menu').addEventListener('click', function() {slideout.close();});

            //sticky header
            $(".main-navigation").sticky({ topSpacing: 0});

            //custom placeholder for old browsers
            $('input, textarea').placeholder({ customClass: 'customInputPlaceholder' });

        });
    </script>
</body>
</html>



</@layout.skoolaLayout>


