.metismenu .arrow {
  float: right;
  line-height: 1.42857;
}

/*
 * Require Bootstrap
 * https://github.com/twbs/bootstrap
*/

.metismenu .glyphicon.arrow:before {
  content: "\e079";
}
.metismenu .active > a > .glyphicon.arrow:before {
  content: "\e114";
}

/*
 * Require Font-Awesome
 * http://fortawesome.github.io/Font-Awesome/
*/

.metismenu .fa.arrow:before {
  content: "\f0da";
}
.metismenu .active > a > .fa.arrow:before {
  content: "\f0d7";
}

/*
 * Require Ionicons
 * http://ionicons.com/
*/

.metismenu .ion.arrow:before {
  content:"\f3d2"
}
.metismenu .active > a > .ion.arrow:before {
    content:"\f3d0";
}
.metismenu .plus-times {
  float: right;
}
.metismenu .fa.plus-times:before {
  content: "\f196";
}
.metismenu .active > a > .fa.plus-times {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.metismenu .plus-minus {
  float: right;
}
.metismenu .fa.plus-minus:before {
  content: "\f196";
}
.metismenu .active > a > .fa.plus-minus:before {
  content: "\f147";
}
.metismenu .collapse {
  display: none;
    list-style: none !important;
}
.metismenu .collapse.in {
  display: block;
    list-style: none !important;
}
.metismenu .collapsing {
  position: relative;
    list-style: none !important;
  height: 0;
  overflow: hidden;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: .35s;
          transition-duration: .35s;
  -webkit-transition-property: height, visibility;
          transition-property: height, visibility;
}
