 <!--footer-->
<section class="skfooter">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 footerBox">
                    <h4>Sitemap</h4>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/login">Log In</a></li>
                        <li><a href="/signup">Sign Up</a></li>
                        <li><a href="/skoola_accommdation_info_page">Accommodation</a></li>
                        <li><a href="/skoola_exam_coaching_info">Exam Coaching</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 footerBox contacts">
                    <h4>Contact Us</h4>
                    <p><span>+234-809-029-9997</span><p>
                    <p><b>ask&#64;skoola.com</b></p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 footerBox">
                    <h4>About Us</h4>
                    <ul>
                        <li><a href="http://www.skoola.com/blog" target="_blank">Blog</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms and Conditions</a></li>
                        <li><a href="#">FAQs</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 footerBox">
                    <h4>Follow Us</h4>
                    <div class="footerSocials">
                        <a href=""><img src="/assets/img/socials/facebook.png"/></a>
                        <a href=""><img src="/assets/img/socials/twitter.png"/></a>
                        <a href=""><img src="/assets/img/socials/googleplus.png"/></a>
                        <a href=""><img src="/assets/img/socials/linkedin.png"/></a>
                    </div>
                </div>

            </div>
            <div class="row footerCopyright">
                <div class="col-lg-12">
                    <p>Copyright 2016, All right reserved</p>
                </div>
            </div>
        </div>
    </section>
    
    
    <script>
    
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		
		  ga('create', 'UA-76635711-1', 'auto');
		  ga('send', 'pageview');

	</script>