    <!--top bar naviation-->
    <!--TopBar-->
    
    <section class="topBar">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-2 col-lg-push-3 col-md-push-3 col-sm-push-3">
                    <div class="topNavigation">
                        <ul class="yamm custom-nav hidden-xs visible-sm visible-lg visible-md">
                            <li><a>&nbsp;</a></li>
                            
                            <#if activeSessionPojo?has_content>
				                         <li>   
				                            <div class="btn-group">
											  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											    My Account <span class="caret"></span>
											  </button>
													<ul class="dropdown-menu">

														<#if (activeSessionPojo.isAdmin?has_content && activeSessionPojo.isAdmin)  || (activeSessionPojo.isAdmin?has_content && activeSessionPojo.isDataEntry )>

								
												    	  <li><a href="/admin_dashboard">Admin Dashboard</a></li>
												    	 <#else>
												    	  <li><a href="/user_profile_page">My Dashboard</a></li>
												    	 
												    	 </#if>
					                                      <li class="divider"></li>
					                                      <li><a href="/signout">Logout</a></li>
												  	</ul>
											</div>
										</li>
				                    <#else>
	                           
	                           			<li><a href="/login" class="btn btn-default">Log In</a></li>
			                            <li><a href="/signup" class="btn btn-warning">Sign Up</a></li>

									</#if>
                            
                        </ul>
                    </div>
                    <div class="visible-xs mobileMenuBtn text-left">
                        <a href="#" class="toggle-button"><i class="icon-menu"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-10 col-lg-pull-9 col-md-pull-9 col-sm-pull-9">
                    <div class="logo">
                        <a href="/"><img src="/assets/img/skoola-logo.png"/></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="main-navigation">
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-xs-8 has-menulinks">
                    <span class="small-logo"><a href=""><img src="/assets/img/logo_only.png" /></a></span>
                    <ul class="menulinks yamm">
                        <li><a href="/">Home</a></li>
                        <li class="dropdown yamm-fw">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">Course Categories <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="yamm-content">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="mega-menu-content-box">
                                                    <h5>Categories</h5>                                              
						                            	<#if courseSubjectGroupStatPojoCol?has_content>
						                            		<#list courseSubjectGroupStatPojoCol>
							                            		<ul>
								                            			<#items as subjectGroupPojo>
											                                <li><a href="#" onclick="javascript:searchCoursesByCategories('${subjectGroupPojo.id}','${subjectGroupPojo.type}')">${subjectGroupPojo.courseSubjectGroupName}</a></li>
											                             </#items>
										                              <!-- 	<a href="" class="more-cat">More Categories...</a> -->
									                              </ul>
								                             </#list>
							                             </#if>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        
                        <li><a href="/skoola_accommdation_info_page">Accommodation</a></li>
                        <li><a href="/skoola_exam_coaching_info">Exam Coaching</a></li>
                        <li><a href="/skoola_about_us">About Us</a></li>
                        <li><a href="http://www.skoola.com/blog" target="_blank">Blog</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 col-xs-4 text-right has-onscroll-btn">
                <span class="onscroll-button">
                    
                    <#if  activeSessionPojo?has_content>
                			<div class="btn-group">
							  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    My Account <span class="caret"></span>
							  </button>
							  	<ul class="dropdown-menu">
							    	  <li><a href="/user_profile_page">My Dashboard</a></li>
                                      <li class="divider"></li>
                                      <li><a href="/signout">Logout</a></li>
							  	</ul>
							</div>
                	<#else>
                			<a href="/login">Log In / Register</a>
                	
                	</#if>
                </span>
                </div>
            </div>
        </div>
    </section>
    
    
	<form role="form" method="get" action="/search_courses_by_parameters" id="courseCategoriesForm">
		 				<input type="hidden" id="courseCategoriesForm_subjectId" name="subjectId" />
                           <input type="hidden" id="courseCategoriesForm_type" name="type" />
                           <input type="hidden" name="searchParamMinimumPrice" id="courseCategoriesForm_searchParamMinimumPrice" value="100000"/>
                  		<input type="hidden" name="searchParamMaximumPrice" id="courseCategoriesForm_searchParamMaximumPrice" value="15000000" />
    </form>
               	
               	
	<script type="text/javascript">
		
		function searchCoursesByCategories (subjectId, type){
			
			$('#courseCategoriesForm_subjectId').val(subjectId);
			$('#courseCategoriesForm_type').val(type);
			$('#courseCategoriesForm').submit();
			
		}
		
		
	</script>
		                            		
	                            		
	                            		
	                            		
	                            		