<#import "/views/layout/skoolaAdminDefaultLayout.ftl.html" as layout>


<@layout.skoolaLayout "Edit Course"> 

 <div class="custom-breadcrumb">
                        <div class="row">
                            <div class="col-sm-7 margin_bottom_10"><h3>Edit Course</h3></div>
                            <div class="col-sm-5 breadcrumb-links margin_bottom_10">
                                <a href=""> <i class="fa fa-tachometer"></i> Home</a> <b>&rsaquo;</b>
                                    <span>Edit Course</span>
                            </div>
                        </div>
                    </div>

<div class="row"> 

	<div class="col-md-3">
	
	</div>
	<div class="col-md-6">
	
	
                              <form action="/admin_create_or_update_skoola_course" method="post" id="updateCourseForm" >
                                    <div class="modal-body">
                                       
                                        
                                        <div class="form-group">
                                            <label>Course Name</label>
                                            <input type="text" class="form-control" id="cu_course_name" name="cu_course_name" value="${coursePojo.name}" >
                                        </div>
                                         <div class="form-group">
                                            <label>Course Type</label>
                                             <select id="cu_course_type" name="cu_course_type" class="form-control " onchange="javascript:filterRequestStatus()">
					                                  
					                                  	<option  selected="selected"  value="">None Indicated</option> 
					                                  	<#list courseTypeCol >
					                                  	
					                                  		<#items as courseType>
					                                  			
					                                  			<option value="${courseType.id}" <#if coursePojo.courseTypeId == courseType.id > selected="selected" </#if>  >${courseType.name}</option>
					                                  		
					                                  		</#items>
					                                  		
					                                  	</#list>                                    	
					                                  </select>
                                           
                                        </div>
                                        <div class="form-group">
                                            <label>Course Category</label>
                                           
                                                   <select id="cu_course_subject_group" name="cu_course_subject_group" class="form-control " onchange="javascript:filterRequestStatus()">
					                                  
					                                  	<option  selected="selected"  value="">None Indicated</option> 
					                                  	<#list courseSubjectGroupCol >
					                                  	
					                                  		<#items as subjectGroup>
					                                  			
					                                  			<option value="${subjectGroup.id}" <#if coursePojo.courseSubjectGroupId == subjectGroup.id > selected="selected" </#if>  >${subjectGroup.courseSubjectGroupName}</option>
					                                  		
					                                  		</#items>
					                                  		
					                                  	</#list>                                    	
					                                  </select>
                                           
                                        </div>
                                        <div class="form-group">
                                            <label>Course Subject</label>
                                           
                                            <select id="cu_course_subject" name="cu_course_subject" class="form-control in-line" onchange="javascript:filterRequestStatus()">
					                                  		 
					                            <option  selected="selected"  value="">None Indicated</option>        		 
		                                  		<#list courseSubjectCol>
		                                  			
		                                  			<#items as courseSubject>
		                                  			
		                                  				<option <#if coursePojo.courseSubjectId == courseSubject.id > selected="selected" </#if>  value="${courseSubject.id}">${courseSubject.subjectName}</option> 
		                                  			
		                                  			</#items>
		                                  		
		                                  		</#list>                                         	
		                                 	 </select>
                                        </div>
                                        
                                          <div class="form-group">
                                            <label>School </label>
                                             
                                            <select id="cu_course_school" name="cu_course_school" class="form-control " onchange="javascript:filterRequestStatus()">
					                                  
					                                  	<option  selected="selected"  value="">None Indicated</option> 
					                                  	<#list skoolaSchoolsCol >
					                                  	
					                                  		<#items as school>
					                                  			
					                                  			<option  <#if coursePojo.courseSchoolId == school.id > selected="selected" </#if>    value="${school.id}">${school.name}</option>
					                                  		
					                                  		</#items>
					                                  		
					                                  	</#list>                                    	
					                                  </select>
                                        </div>
                                        
                                         <div class="form-group">
                                            <label>Course Venue </label>
                                            <textarea id="cu_course_venue" name="cu_course_venue" class="form-control" cols="10" >${coursePojo.courseVenue}</textarea>
                                        </div>
                                        
                                         <div class="form-group">
                                            <label>Course Duration</label>
                                            <input type="text" class="form-control" id="cu_course_duration" name="cu_course_duration" value="${coursePojo.courseDuration}"  >
                                        </div>
                                        
                                        
                                         <div class="form-group">
                                            <label>Fee in figures (USD) </label>
                                            <input type="text" class="form-control" id="cu_course_fee_in_figures" name="cu_course_fee_in_figures" value="${coursePojo.courseFeeInWords}" >
                                        </div>
                                        
                                         <div class="form-group">
                                            <label>Fee in dollars (USD) </label>
                                            <input type="text" class="form-control" id="cu_course_fee_in_dollars" name="cu_course_fee_in_dollars" value="${coursePojo.courseFeeInCents?eval / 100}" >
                                        </div>
                                        
                                        
                                        
                                        <div class="form-group">
                                            <label>Requirements </label>
                                            <textarea  class="form-control" cols="10" id="cu_course_requirements" name="cu_course_requirements">${coursePojo.courseRequirements}</textarea>
                                        </div>
                                        
                                        <div class="form-group">
                                        
                                            <label>
                                            	<input type="radio" class="form-control" id="cu_ielt_required" name="cu_ielt_required" value="0" <#if coursePojo.ieltsRequired == false > checked="checked" </#if> >IELTS not required
                                            </label>
                                            <span>&nbsp;</span>
                                             <label>
                                             	<input type="radio" class="form-control" id="cu_ielt_required" name="cu_ielt_required" value="1" <#if coursePojo.ieltsRequired  > checked="checked" </#if>  name="ielt_required" >IELTS required
                                             </label>
                                        </div>
                                        
                                         <div class="form-group">
                                            <label>Course Summary</label>
                                            <textarea id="cu_course_summary" name="cu_course_summary" class="form-control" cols="10" >${coursePojo.courseSummary}</textarea>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label>Course Module</label>
                                            <textarea id="cu_course_module" name="cu_course_module" class="form-control" cols="10" >${coursePojo.programModules}</textarea>
                                        </div>
                                        
                                       
                                       


                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default btn-sm" onclick="javascript:handGoBack()">Close</button>
                                         <button type="button" class="btn btn-primary btn-sm"   onclick="javascript:updateCourse()">Update</button> 
                                    </div>
                                    
                                    
                                    
                                    <input type="hidden" name="searchIndex" id="searchIndex"  value="${course_searchIndex}">
								 	<input type="hidden" name="status" id="status"  value="${course_status}" >
								 	<input type="hidden" name="subjectIdParameter" id="subjectIdParameter"  value="${course_subjectIdParameter}" >
								 	<input type="hidden" name="courseTypeIdParameter" id="courseTypeIdParameter"  value="${course_courseTypeIdParameter}" >
								 	<input type="hidden" name="schoolIdParameter" id="schoolIdParameter"  value="${course_schoolIdParameter}" >
								 	<input type="hidden" name="courseId" id="courseId"  value="${course_courseId}" >
                                    
                                    
                                </form>


		</div>
	<div class="col-md-3">
	
	</div>

</div>



<script>

	function updateCourse(){
		if(confirm(' Are you sure you want to update the course details ?')){
			
			$('#updateCourseForm').submit();
		}
		
	}

	function handGoBack(){
		$('#updateCourseForm').attr('action','/admin_skoola_courses');
		$('#updateCourseForm').submit();
	}
	
    $(document).ready(function(){
        //selectize
        $('.selectbox').selectize({create: false});

        //datepicker
        $('.pick-a-date').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            minDate: moment()
        });
    });
</script>



</@layout.skoolaLayout>
