.blog-posts{

  .each-posts{
    margin-bottom:40px;
    h2{
      margin:0;
    }

    .post-metas{
      margin-bottom:10px;
    }

    .attachment{
      margin:15px 0 15px
      img{
        width:auto;
        max-width :100%;
        height:auto;
      }
    }
  }

}


.sk-sidebar-widget{
  .widget{
    margin-bottom:30px;

    widget-title{
      font-size:18px
    }

    ul{
      padding:0;
      list-style: none;

      li{
        &:last-child{
          border-bottom:none;
        }

        display:block;
        padding:6px 0;
        border-bottom:1px solid #f0f0f0;
      }
    }

  }
}

.no-blog-posts{
  text-align:center;
  font-size:15px;
  line-height:1.9;
}