<#import "/views/layout/skoolaDefaultLayout.ftl.html" as layout>


<@layout.skoolaLayout "Home page"> 


    <!--css -->
    <link href="/assets/css/fontello/css/fontello-embedded.css" rel="stylesheet">
    <link href="/assets/css/plugins/selective/selectize.css" rel="stylesheet">
    <link href="/assets/css/skoola.css" rel="stylesheet">


    <!--jquery-->
    <script src="/assets/js/jquery/jquery.min.js"></script>
    <script src="/assets/js/bw.validate.js"></script>
    
    <style>
        .input-group-addon {
            outline:none !important;
        }
        
        .error{
        	color:red;
        }
    </style>
    


        <section class="margin_top_40 margin_bottom_30">
            <div class="container">
                <div class="row row-centered">
                    <div class="col-sm-5 col-md-4 col-xs-12 col-centered">
                    	
                   <#if activeSessionPojo?has_content>
                    
                    	<div align="center"> <a href="/"> Return to home </a> </div>
                    
                    <#else>
                        <div class="loginBox sideBarBox">
                            <h3>Sign Up</h3>

                          <!--   <div class="margin_bottom_20">
                                <a href="#" class="socials facebook disabled"><i class="icon-facebook"></i> Continue with Facebook</a>
                            </div>
                            <h6 class="text-center">OR</h6> -->
                            <form class="" id="signup-form" action="/create_signup_request" method="post">
                                <div class="form-group">
                                    <input type="text" value="${signupFormPojo.firstName!''}" name="firstName" id="firstName" class="form-control" placeholder="First Name" required title="firstname is required">
                                </div>
                                <div class="form-group">
                                    <input type="text" value="${signupFormPojo.lastName!''}" name="lastName" id="lastName" class="form-control" placeholder="Last Name" required title="last name is required" >
                                </div>
                                <div class="form-group">
                                    <input type="email" value="${signupFormPojo.email!''}" name="email" id="email" class="form-control" placeholder="Email" required email title="email is required">
                                </div>
                                <div class="form-group">
                                    <input type="tel" value="${signupFormPojo.phoneNumber!''}" name="phoneNumber" id="phoneNumber" class="form-control" placeholder="Phone No" required digits maxlength="18" title="phone number is required">
                                </div>
                                <div class="form-group">
                                    <input id="password1" name="password1" 
                                           class="form-control"
                                           type="password"
                                           placeholder="Password" required title="password is required" >
                                </div>
                                
                                <div class="form-group">
                                    <input id="password2" name="password2"
                                           class="form-control"
                                           type="password"
                                           placeholder="Confirm Password" required equalto="#password1" title="passwords must match!">
                                </div>
                                <div class="form-group">
                                    <input type="button" onclick="javascript:submitSignupForm()"  id="signup-btn" class="btn btn-warning btn-block btn-lg" value="Sign Up">
                                </div>
                                <p class="fontsize_12">Creating an account means you agree with Skoola's <a href="">Terms of Service</a>, and <a href="">Privacy Policy</a>.</p>

                                <p class="fontsize_13">Already have an account? <a href="/login" class="semibold">LOG IN</a></p>
                            </form>
                        </div>
                        
                        </#if>
                    </div>
                </div>
            </div>
        </section>





    <script src="/assets/js/plugins/placeholder/jquery.placeholder.min.js"></script>
    <script src="/assets/js/plugins/sticky/jquery.sticky.js"></script>
    <script src="/assets/js/bootstrap-show-password.min.js"></script>
    <!--custom javascript libraries-->
    <script>
    	
    
	    function submitSignupForm(){
	    	if($('#signup-form').validate().form()){
	    		$('#signup-form').submit();
	    	}
	    }
    
        $(document).ready(function(){

            //mobile menu
            var slideout = new Slideout({
                'panel': document.getElementById('contentWrapper'),
                'menu': document.getElementById('menuWrapper'),
                'padding': 240,
                'tolerance': 70
            });

            document.querySelector('.toggle-button').addEventListener('click', function() {slideout.toggle();});
            document.querySelector('.close-menu').addEventListener('click', function() {slideout.close();});

            $('#password').password();

            //sticky header
            $(".topBar").sticky({ topSpacing: 0});

            //custom placeholder for old browsers
            $('input, textarea').placeholder({ customClass: 'customInputPlaceholder' });

        });
        
        
        $("#signup-btn").click(function(){
       	
        	if ($("#signup-form").validate().form()) {
        		
        			jQuery("#signup-form").submit();
        			$('#signup-btn').val('Processing...');
        			$('#signup-btn').prop('disabled',true);
        		
        		
        	}

        });
    </script>



</@layout.skoolaLayout>
