<#import "/views/layout/skoolaDefaultLayout.ftl.html" as layout>


<@layout.skoolaLayout "Home page"> 

    <!--css -->
    <link href="/assets/css/fontello/css/fontello-embedded.css" rel="stylesheet">
    <link href="/assets/css/plugins/selective/selectize.css" rel="stylesheet">
    <link href="/assets/css/skoola.css" rel="stylesheet">


    <!--jquery-->
    <!--jquery-->
    <script src="/assets/js/jquery/jquery.min.js"></script>
     <script src="/assets/js/bw.validate.js"></script>


	<style>   
        .error{
        	color:red;
        }
    </style>



        <section id="pageTitle">
            <div class="container">
                <div class="row">
                     <div class="col-lg-12">
                        <h2> Apply for Career Consultation </h2>
                    </div>
                </div>
            </div>
        </section>

<!-- 
         <section class="courseInfoTopBackgroundContainer">
            <div class="container">
                <div class="row">
                   <div class="col-xs-12">
                        <div class="courseTopDetails text-center margin_top_20">
                            <h2></h2>
                            <p class="schoolname"></p>
                            <div><a data-toggle="modal" href="#new-application" class="btn btn-warning btn-sm">Apply</a> <a href="" class="btn btn-default btn-sm">Save</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>  -->

        <section class="margin_top-50" style="margin-top: 20px;">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 margin_bottom_30">
                        <div class="incontentWrapper removePadding noBorder">

                            <!-- TAB NAVIGATION -->
                            <ul class="nav nav-tabs responsive" id="courseTabs" role="tablist">
                                <li class="active"><a href="#tb-overview" role="tab" data-toggle="tab">New Application</a></li>
                                <!-- <li><a href="#tb-averagefees" role="tab" data-toggle="tab">Fees</a></li>
                                <li><a href="#tb-genreq" role="tab" data-toggle="tab">Requirements</a></li> -->
                            </ul>
                            <!-- TAB CONTENT -->
                            <div class="tab-content responsive">
                                <div class="tab-pane fade active in schoolTabContent" id="tb-overview">
                                    <div class="row nomargin">
                                    	<div class="col-sm-2">
                                            
                                        </div>
                                 		<div class="col-sm-8">
                                            <form method="post" action="/pay_for_career_consultation" id="career_consulation_form" >
							                    <div class="modal-header">
							                       <!--  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
							                        <h4 class="apm-title">Confirm and Book with the following sections:</h4>
							                    </div>
							                    <div class="modal-body">
							                        <div class="application-modal">
							
														
														
							                           
							                            <div class="each-sections">
							                                <div class="title">Personal Details</div>
							                                <div class="form-group">
							                                    <label>First Name</label>
							                                    <input type="text" readonly="readonly" disabled="disabled" name="firstname" id="firstname" 
							                                    class="form-control" placeholder="First Name" required="required" value="${activeSessionPojo.firstName!''}" >
							                                </div>
							                                <div class="form-group">
							                                    <label>Last Name</label>
							                                     <input type="text" readonly="readonly" disabled="disabled" name="lastname" id="lastname" class="form-control" 
							                                     placeholder="Last Name" required="required" value="${activeSessionPojo.lastName!''}" > 
							                                    
							                                </div>
							                                <div class="form-group">
							                                    <label>Email</label>
							                                    <input type="email" name="email" id="email" class="form-control" placeholder="Email" required="required" 
							                                    readonly="readonly" disabled="disabled" value="${activeSessionPojo.email!''}" >
							                                </div>
							                                <div class="form-group">
							                                    <label>Phone Number</label>
							                                    <input type="tel" name="phone_no" id="phone_no" class="form-control" placeholder="Phone No" required="required" 
							                                    readonly="readonly" disabled="disabled" value="${activeSessionPojo.phoneNumber!''}" >
							                                </div>
							                            </div>
							                            
							                            
							
							
							                            <div class="each-sections">
							                                <div class="title">Application Details</div>
							                                <div class="form-group">
							                                    <label>Study Level</label>
							                                    <input type="tel" name="phone_no" id="phone_no" class="form-control" placeholder="Phone No" required="required" 
							                                    readonly="readonly" disabled="disabled" value="${coursePojo.courseType!''}" >
							                                </div>
							                                <div class="form-group">
							                                    <label>Course</label>
							                                    <input type="tel" name="phone_no" id="phone_no" class="form-control" placeholder="Phone No" required="required" 
							                                    readonly="readonly" disabled="disabled" value="${coursePojo.name!''}" >
							                                </div>
							                                <div class="form-group">
							                                    <label>University</label>
							                                    <input type="tel" name="phone_no" id="phone_no" class="form-control" placeholder="Phone No" required="required" 
							                                    readonly="readonly" disabled="disabled" value="${coursePojo.courseSchoolName!''}" >
							                                </div>
							
							                                <div class="form-group">
							                                    <p><b>Unsure of your course details</b>? No need to worry, we can discuss this during your consultation session</p>
							                                </div>
							
							                                <div class="form-group">
							                                    <label>Would you like</label><br/>
							                                    <div class="custom-radiobox inline-radio">
							                                        <input type="radio" id="inhouse-option" name="consultation_mode" title="select one option" value="IN_HOUSE">
							                                        <label for="inhouse-option">In-house consultation</label>
							                                        <div class="check"></div>
							                                    </div>
							                                    <div class="custom-radiobox inline-radio">
							                                        <input type="radio" id="virtual-option" name="consultation_mode" title="select one option" value="VIRTUAL">
							                                        <label for="virtual-option">Virtual consultation</label>
							                                        <div class="check"></div>
							                                    </div>
							                                </div>
							
							                                <div class="form-group text-right">
							                                    <label>Consultation Fee</label>
							                                    <div class="consultation-fee" id="consultationPrice">NGN 15,000</div>
							                                </div>
							
							
							                            </div>
							
							                        </div>
							                    </div>
							                    <div class="modal-footer">
							                         <button type="button" class="btn btn-default" id="cancelBtn" onclick="javascript:cancelApplication()" >Cancel</button>
							                        <button type="button" id="confirmAndPayBtnId" onclick="javascript:submitCareerConsultationForm()"  class="btn btn-primary">Confirm & Pay</button>
							                    </div>
							                </form>
	                                          

                                        </div>
                                        <div class="col-sm-2">
                                            
                                        </div>
                                    </div>



                                </div>
                                 <!-- <div class="tab-pane fade schoolTabContent" id="tb-averagefees">

                                    <div class="eachFee">
                                        <h5>Tuition Fees</h5>
                                        <h3 class="text-primary"> &#8358;  N/A  </h3>

                                        <h4>Terms & Conditions</h4>
                                        <ul>
                                            <li>Price shown is for indicative purpose, please check with institution</li>
                                            
                                        </ul>
                                    </div>

                                </div>
                                <div class="tab-pane fade schoolTabContent" id="tb-genreq">
                                    <h4>Entry Requirements</h4>
                                    <p></p>
                                    <ul>
                                        <li></li>
                                 
                                    </ul>
                     
                                </div> -->
                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </section>



		
    <form id="backButtonAction" action="/go_back_to_course_detail" method="get"></form>



    <!--custom javascript libraries-->
    <script>
    
    $(document).ready(function() {
        $('input[type=radio][name=consultation_mode]').change(function() {
            if (this.value == 'VIRTUAL') {
                $('#consultationPrice').text('NGN 15,000');
            }
            else if (this.value == 'IN_HOUSE') {
            	$('#consultationPrice').text('NGN 12,000');
            }
        });
    });
    
    	function submitCareerConsultationForm(){
	    	if(confirm('Are you sure you want to make payment for Career Consultation?')){
	    		
	    	
	    		if($('#career_consulation_form').validate({rules: {
	                'consultation_mode': {
	                    required: true,
	                    maxlength: 1
	                }
	            },
	            consultation: {
	                'consultation_mode': {
	                    required: "You must select at least 1 option",
	                    maxlength: "Check no more than {0} boxes"
	                }
	            }}).form()){
	    			$('#career_consulation_form').submit();
	    		}
	    	}
    	}
    
    	function cancelApplication(){
    	
    		$('#backButtonAction').submit();
    	}
  
    
        $(document).ready(function(){

            $('.selectbox').selectize({create: false});


            //mobile menu
            var slideout = new Slideout({
                'panel': document.getElementById('contentWrapper'),
                'menu': document.getElementById('menuWrapper'),
                'padding': 240,
                'tolerance': 70
            });

            document.querySelector('.toggle-button').addEventListener('click', function() {slideout.toggle();});
            document.querySelector('.close-menu').addEventListener('click', function() {slideout.close();});

          
            //sticky header
            $(".main-navigation").sticky({ topSpacing: 0});

            //custom placeholder for old browsers
            $('input, textarea').placeholder({ customClass: 'customInputPlaceholder' });

        });
    </script>

</@layout.skoolaLayout>

