 
 <div class="innerContentWrapper">
     
    
    <h4>My Consultation Requests<small><#if consultationRequestCol?has_content == false> -- no payment history found -- </#if></small></h4>    
                        
     <div class="row">
         <div class="col-xs-12">
         <#if consultationRequestCol?has_content>
            <table id="consultationRequestTable">
				 
				  	
				  	<thead>
				  		<tr>
				  			<th>
				  				S/N
				  			</th>
				  			<th>
				  				Course Name
				  			</th>
				  			<th>
				  				Location
				  			</th>
				  			<th>
				  				Date Created
				  			</th>
				  			<th>
				  				Appointment Date
				  			</th>
				  			<th>
				  				Status
				  			</th>
				  		</tr>
				  	</thead>
				  		
				  	<tbody>
				  		<#assign x = 0>
				  		<#list consultationRequestCol>
				  			<#items as request>
				  				<#assign x = x + 1 >
						  		<tr>
						  			<td>
						  				${x}
						  			</td>
						  			<td>
						  				${request.courseName}
						  			</td>
						  			<td>
						  				${request.consultationMode}
						  			</td>
						  			<td>
						  				${request.dateCreated}
						  			</td>
						  			<td>
						  				${request.consultationDate}
						  			</td>
						  			<td>
						  				${request.consultationStatus}
						  			</td>
						  		</tr>
						  	</#items>
						  </#list>
				  	</tbody>
				  	
				  
			</table>
			
			 <#if (searchResultCount?eval > SEARCH_MAXIMUM_RESULTSET_SIZE?eval) >
                           
                           <#assign indexCount = (searchResultCount?eval / SEARCH_MAXIMUM_RESULTSET_SIZE?eval )?floor>
                           
                           <#assign previousIndexValue = searchIndex?eval - SEARCH_MAXIMUM_RESULTSET_SIZE?eval>
                           
                           <#assign nextIndexValue = searchIndex?eval + SEARCH_MAXIMUM_RESULTSET_SIZE?eval>
                           
                           <#assign maxIndexValue = indexCount * SEARCH_MAXIMUM_RESULTSET_SIZE?eval>

                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <ul class="pagination">
                                    
                                    <#if (previousIndexValue > -1) >
                                    
                                    	<li><a href="#" onclick="javascript:getPaginatedResultSet(${previousIndexValue})">&laquo; Previous </a></li>
                                    	
                                    </#if>	
                                    	
                                    	<#if (nextIndexValue < maxIndexValue) >
                                    		<li><a href="#" onclick="javascript:getPaginatedResultSet(${nextIndexValue})" >Next &raquo;</a></li>
                                    	</#if>
                                    </ul>
                                </div>
                            </div>
				</#if>
			</#if>
         </div>
         <div class="col-xs-9">
            
         </div>
     </div>
 </div>
 
 <form action="/my_career_consultation_requests" method="get" id="searchForm">
 	<input type="hidden" name="userId"  >
 	<input type="hidden" name="searchIndex" id="searchIndex" >
 </form>
 
 <script>
 	$(document).ready(function(){
 		$('#consultationRequestTable').DataTable({
 			"paging":false,
 			"info":false,
 			"searching": false
 		});
 	});
 	
 	function getPaginatedResultSet(nextIndexValue){
		$('#searchIndex').val(nextIndexValue);
		$('#searchForm').submit();
	}
 </script>