.application-modal{
  .apm-title{
    color: #111;
  }

  > .form-group{
    label{
      margin-bottom:0;
      line-height:1;
      color:#999;
    }
    p{
      font-size:16px;
      margin:0;
      line-height:1;
    }
  }

  .consultation-fee{
    font-weight:600;
    font-size:25px;
    color:$custom_colour_orange;
  }

  .each-sections{

    margin: 15px 0;
    padding: 15px;
    background:#f9f9f9;

    b{
      font-weight:600;
    }

    .title{
      margin-bottom:10px;
      font-size:18px;
      font-weight:600;
      color:#999;
    }


  }

}