.main-navigation{
  background:$custom_colour_orange;
  padding:5px 0;
  z-index 1000

  .small-logo{
    display:none;
    margin-right:20px;
    transition: all 0.125s;
    a{
      display:inline-block
      img{
        width:auto;
        max-width:32px;
      }
    }
  }

  .menulinks{
    margin:0 0;
    padding:0;
    display:inline-block
    list-style:none;
    position:relative;
    min-width:calc(100% - 70px);

    > li{
      display:inline-block;
      margin-right:10px;
      > a{
        text-transform uppercase
        padding-left:5px;
        padding-right:5px;
        line-height:40px;
        color:white;
        font-size:13px;
        font-weight:600;
        letter-spacing 0.02em;

        &:hover{
          text-decoration:underline;
        }
      }

      //&.has-dropdown{
      //  position:relative
      //  > a{
      //
      //    &:focus{
      //      text-decoration underline;
      //    }
      //
      //    &:focus + .nav-dropdown{
      //      margin:0;
      //      transition: all 0.5s;
      //      opacity: 1;
      //      pointer-events: auto;
      //    }
      //  }
      //
      //  //.nav-dropdown{
      //  //  position:absolute;
      //  //  margin:15px 0 0;
      //  //  list-style none;
      //  //  background:white;
      //  //  width:210px;
      //  //  left:0;
      //  //  padding:0;
      //  //  z-index: 1000;
      //  //  opacity:0;
      //  //  transition: all 0.125s;
      //  //  pointer-events: none;
      //  //  letter-spacing: -0.01em;
      //  //
      //  //  +below(320px){
      //  //    left:-50px;
      //  //  }
      //  //
      //  //  li{
      //  //    margin:0;
      //  //    border-bottom:1px solid #f0f0f0;
      //  //    a{
      //  //      display:block;
      //  //      padding:10px 10px;
      //  //      font-size 13px;
      //  //    }
      //  //  }
      //  //
      //  //  > .more-cat{
      //  //    display:block;
      //  //    padding:10px 10px;
      //  //    text-align center
      //  //    background:#ebebeb;
      //  //    font-weight:600;
      //  //    color:$custom_colour_blue;
      //  //
      //  //    &:hover{
      //  //      color:$custom_colour_orange;
      //  //    }
      //  //
      //  //  }
      //  //}
      //}
    }

    +below(750px) {
      > li{
        display : none;
      }

      > li:nth-child(1), > li:nth-child(2), > li:nth-child(3){
        display : inline-block;
      }

    }

    +below(600px) {
      > li:nth-child(3){
        display : none;
      }

      > li:nth-child(1), > li:nth-child(2){
        display : inline-block;
      }
    }

    +below(600px) {
      > li:nth-child(1){
        display : none;
      }

      > li:nth-child(2){
        display : inline-block;
      }
    }

    +below(400px) {
      > li:nth-child(1), > li:nth-child(2){
        display : inline-block;
      }
    }

  }


  .onscroll-button{
    display:none;
    transition: all 0.125s;
    a{
      box-sizing border-box
      display:inline-block;
      line-height:20px;
      background:white;
      border-radius:2px;
      padding:10px 20px;
      font-weight:600;

      +below(500px){
        padding-left:10px;
        padding-right:10px;
        font-size:12px;
      }

      +below(400px){
        margin-top:10px;
        display:block;
        font-size:14px;
        padding-left:20px;
        padding-right:20px;
        text-align:center;
        width:100%;
      }

    }
  }
}


.has-menulinks{
  +below(400px){
    clear both;
    width:100%;
  }
}

.has-onscroll-btn{
  +below(400px){
    clear both;
    width:100%;
    text-align left !important
  }

}

.is-sticky{
  .main-navigation .small-logo{
    display: inline-block !important;
    transition : all 0.125s;

    img{
      width:32px !important;
      height:auto;
    }
  }

  .main-navigation .onscroll-button {
    display : block !important;
    transition : all 0.125s;
  }
}