.special-plan{
  min-height:300px;
  background:#f9f9f9;
  margin-bottom:30px;

  .plan-header{
    background:#0066CC;
    padding:15px 20px;
    font-size:25px;
    font-weight:600;
    text-align: center
    color:white;
  }

  .plan-pricing{
    padding:20px 20px 5px;
    text-align:center;

    h2{
      font-size:30px;
      color: #000;
      margin:0;
      line-height:1.2;
      span{
        font-size:16px;
      }
    }
  }

  .plan-pricing-discount{
    padding:5px 35px;
    color:#16A085;
    font-size:17px;
    font-weight:600;
    text-align:center;
    margin-bottom:20px;

    b{
      font-weight:600;
    }
  }

  .splan-features{
    margin:0;
    padding:10px 20px;
    list-style: none;

    li{
      display:block;
      text-align: center;
      line-height:1.5;
      padding:8px 0;
      font-size:16px;
      border-bottom:1px solid #f0f0f0;
      font-weight:600;
      color:#666;

      &:last-child{
        border-bottom:none;
      }
    }
  }


}