<form action="" method="post">
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" id="university" value="University of Toronto" placeholder="Name">
    </div>
    <div class="form-group">
        <label>Overview</label>
        <textarea placeholder="Overview" class="form-control" cols="10">Overview is here</textarea>
    </div>
    <div class="form-group">
        <label>Country</label>
        <select class="selectbox" placeholder="Subject/Fields">
            <option value="">Country</option>
            <option value="avm">UK</option>
            <option value="aps">Australia</option>
            <option value="ac">USA</option>
            <option value="bm" selected>Canada</option>
            <option value="csi">Singapore</option>
            <option value="cad">New Zealand</option>
            <option value="et">Malaysia</option>
            <option value="eng">Hongkong</option>
            <option value="pcf">Ireland</option>
        </select>
    </div>
    <div class="form-group">
        <label>Contact Address</label>
        <textarea placeholder="Contact Address" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label>Website URL</label>
        <input type="text" class="form-control" id="coursename" value="http://www.domain.com" placeholder="Website URL">
    </div>
    <div class="form-group">
        <label>Average Cost of Living</label>
        <input type="text" class="form-control" id="cost" placeholder="Average Cost of Living">
    </div>
    <div class="form-group">
        <label>Average Tuition Fee</label>
        <textarea placeholder="Average Tuition Fee" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label>Campus Accomodation</label>
        <input type="text" class="form-control" id="accomodation" placeholder="Campus Accomodation">
    </div>
    <div class="form-group">
        <label>Status</label>
        <select class="selectbox" placeholder="Status">
            <option value="">Status</option>
            <option value="1" selected>Enable</option>
            <option value="0">Disable</option>
        </select>
    </div>
    <div class="form-group text-right">
        <button class="btn btn-sm btn-primary" type="submit">Save</button>
    </div>
</form>



<script>
    $(document).ready(function(){
        //selectize
        $('.selectbox').selectize({create: false});

    });
</script>
