//google fonts
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic');
//@import url('https://fonts.googleapis.com/css?family=Amaranth:400,700');

//@import 'typographic'
@import 'import/colour'
@import 'import/custom-variables'
@import 'import/mixins'

//@import 'import/bootstrap.styl'
//rupture.scale = 0 400 600px 800px 1050px 1800px

//boostrap 3.3.5
// Core variables and mixins
@import 'bootstrap/variables'
@import 'bootstrap/mixins'


// Reset and dependencies
@import 'bootstrap/normalize'
//@import 'bootstrap/print'
//@import 'bootstrap/glyphicons'

// Core CSS
@import 'bootstrap/scaffolding'
@import 'bootstrap/utilities'
@import 'bootstrap/type'
//@import 'bootstrap/code'
@import 'bootstrap/grid'
//@import 'bootstrap/tables'
@import 'bootstrap/forms'
@import 'bootstrap/buttons'


// Components
@import 'bootstrap/component-animations'
@import 'bootstrap/dropdowns'
@import 'bootstrap/button-groups'
@import 'bootstrap/input-groups'
@import 'bootstrap/navs'
//@import 'bootstrap/navbar'
@import 'bootstrap/breadcrumbs'
@import 'bootstrap/pagination'
//@import 'bootstrap/pager'
@import 'bootstrap/labels'
//@import 'bootstrap/badges'
//@import 'bootstrap/jumbotron'
@import 'bootstrap/thumbnails'
@import 'bootstrap/alerts'
@import 'bootstrap/progress-bars'
@import 'bootstrap/media'
@import 'bootstrap/list-group'
//@import 'bootstrap/panels'
//@import 'bootstrap/responsive-embed'
@import 'bootstrap/wells'
@import 'bootstrap/close'

// Components w/ JavaScript
@import 'bootstrap/modals'
//@import 'bootstrap/tooltip'
//@import 'bootstrap/popovers'
//@import 'bootstrap/carousel'

//responsive utilities
@import 'bootstrap/responsive-utilities'


//saffron animations
//Entrance animation
@import "saffron/styles/entrances/fade-in-down"
//@import "saffron/styles/entrances/fade-in-up"
@import "saffron/styles/entrances/fade-in"
//In-place
//@import "saffron/styles/in-place/flip"

//typographic function
//typographic()


//Column Equalizer
//.clearfix:before,
//.container:before,
//.row:before,
//.clearfix:after,
//.container:after,
//.row:after {
//  content: " ";
//  display: table;
//}
//.clearfix:after,
//.container:after,
//.row:after {
//  clear: both;
//}



@media (min-width: 768px) {
  .eq-col-sm-1, .eq-col-sm-2, .eq-col-sm-3, .eq-col-sm-4, .eq-col-sm-5, .eq-col-sm-6, .eq-col-sm-7, .eq-col-sm-8, .eq-col-sm-9, .eq-col-sm-10, .eq-col-sm-11 {
    float: left;
    position:relative;
    padding-left: 1.25%;
    padding-right: 1.25%;
  }
  .eq-col-sm-12 {
    width: 100%;
  }
  .eq-col-sm-11 {
    width: 91.66666666666666%;
  }
  .eq-col-sm-10 {
    width: 83.33333333333334%;
  }
  .eq-col-sm-9 {
    width: 75%;
  }
  .eq-col-sm-8 {
    width: 66.66666666666666%;
  }
  .eq-col-sm-7 {
    width: 58.333333333333336%;
  }
  .eq-col-sm-6 {
    width: 50%;
  }
  .eq-col-sm-5 {
    width: 41.66666666666667%;
  }
  .eq-col-sm-4 {
    width: 33.33333333333333%;
  }
  .eq-col-sm-3 {
    width: 25%;
  }
  .eq-col-sm-2 {
    width: 16.666666666666664%;
  }
  .eq-col-sm-1 {
    width: 8.333333333333332%;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .eq-col-ms-1, .eq-col-ms-2, .eq-col-ms-3, .eq-col-ms-4, .eq-col-ms-5, .eq-col-ms-6, .eq-col-ms-7, .eq-col-ms-8, .eq-col-ms-9, .eq-col-ms-10, .eq-col-ms-11 {
    float: left;
    padding-left: 1.25%;
    padding-right: 1.25%;
  }
  .eq-col-ms-12 {
    width: 100%;
  }
  .eq-col-ms-11 {
    width: 91.66666666666666%;
  }
  .eq-col-ms-10 {
    width: 83.33333333333334%;
  }
  .eq-col-ms-9 {
    width: 75%;
  }
  .eq-col-ms-8 {
    width: 66.66666666666666%;
  }
  .eq-col-ms-7 {
    width: 58.333333333333336%;
  }
  .eq-col-ms-6 {
    width: 50%;
  }
  .eq-col-ms-5 {
    width: 41.66666666666667%;
  }
  .eq-col-ms-4 {
    width: 33.33333333333333%;
  }
  .eq-col-ms-3 {
    width: 25%;
  }
  .eq-col-ms-2 {
    width: 16.666666666666664%;
  }
  .eq-col-ms-1 {
    width: 8.333333333333332%;
  }
}
@media (min-width: 992px) {
  .eq-col-md-1, .eq-col-md-2, .eq-col-md-3, .eq-col-md-4, .eq-col-md-5, .eq-col-md-6, .eq-col-md-7, .eq-col-md-8, .eq-col-md-9, .eq-col-md-10, .eq-col-md-11 {
    float: left;
    position:relative;
    padding-left: 1.25%;
    padding-right: 1.25%;
  }
  .eq-col-md-12 {
    width: 100%;
  }
  .eq-col-md-11 {
    width: 91.66666666666666%;
  }
  .eq-col-md-10 {
    width: 83.33333333333334%;
  }
  .eq-col-md-9 {
    width: 75%;
  }
  .eq-col-md-8 {
    width: 66.66666666666666%;
  }
  .eq-col-md-7 {
    width: 58.333333333333336%;
  }
  .eq-col-md-6 {
    width: 50%;
  }
  .eq-col-md-5 {
    width: 41.66666666666667%;
  }
  .eq-col-md-4 {
    width: 33.33333333333333%;
  }
  .eq-col-md-3 {
    width: 25%;
  }
  .eq-col-md-2 {
    width: 16.666666666666664%;
  }
  .eq-col-md-1 {
    width: 8.333333333333332%;
  }
}
@media (min-width: 1200px) {
  .eq-col-lg-1, .eq-col-lg-2, .eq-col-lg-3, .eq-col-lg-4, .eq-col-lg-5, .eq-col-lg-6, .eq-col-lg-7, .eq-col-lg-8, .eq-col-lg-9, .eq-col-lg-10, .eq-col-lg-11 {
    float: left;
    position:relative;
    padding-left: 1.25%;
    padding-right: 1.25%;
  }
  .eq-col-lg-12 {
    width: 100%;
  }
  .eq-col-lg-11 {
    width: 91.66666666666666%;
  }
  .eq-col-lg-10 {
    width: 83.33333333333334%;
  }
  .eq-col-lg-9 {
    width: 75%;
  }
  .eq-col-lg-8 {
    width: 66.66666666666666%;
  }
  .eq-col-lg-7 {
    width: 58.333333333333336%;
  }
  .eq-col-lg-6 {
    width: 50%;
  }
  .eq-col-lg-5 {
    width: 41.66666666666667%;
  }
  .eq-col-lg-4 {
    width: 33.33333333333333%;
  }
  .eq-col-lg-3 {
    width: 25%;
  }
  .eq-col-lg-2 {
    width: 16.666666666666664%;
  }
  .eq-col-lg-1 {
    width: 8.333333333333332%;
  }

}

[class*="eq-"]
  margin-bottom:20px;
  +below(768px)
    padding-left: 15px;
    padding-right: 15px;


//Mega Menu CSS
@import 'import/yamm'

body
  background white
  width 100%
  height 100%
  //letter-spacing -0.04em;
#contentWrapper
  background white
a
  &:focus,
  &:active,
  &.focus
    outline: none;
    border:none;

.topBar
  background white
  box-shadow(0 1px 1px $custom_line_colours)
  z-index 1000
.logo
  line-height 60px
  img
    width auto
    max-height 50px
    fadeInDown()
    outline none
  a
    display block
    &:hover,
    &:active,
    &:focus,
    &.focus
      outline none
      border none
      opacity(0.6)
.topNavigation
  > ul
    padding 0
    margin 0 0 0
    list-style none
    text-align right
    > li:not(.account-dropdown)
      ul.dropdown-menu
        background #fff //lighten($custom_colour_f0f, 50%)
    > li.account-dropdown
      z-index 200
    > li
      display inline-block
      list-style none
      font-weight 600
      font-size 14px
      padding: 0 4px;
      //fadeIn()
      > a.btn
        //padding-left: 5px
        padding-bottom 3px
        padding-top:3px
        text-align center
      > a:not(.btn)
        dispay inline-block
        padding 5px 10px 0
        line-height 56px
        margin-top -1px
        color $custom_text_colours
        font-weight 400
        &:hover,
        &:focus,
        &.focus
          background lighten($custom_colour_f0f, 10%)
          color $custom_colour_aaa
          border:none;
          outline:none
          //flip()
        +between(740px, 990px)
          font-family 11px
          padding 5px 5px 0

//Make the Navigation Dropdown Open on Hover
ul.custom-nav li.dropdown:hover > ul.dropdown-menu
  display: block;
  +from-width(979px)
    display: block;


.mobileMenuBtn
  a
    line-height 60px
    padding 0 10px

.mega-menu-content-box
  h3
    margin 5px 0 10px
    border-bottom 1px dotted $custom_colour_aaa
    padding-bottom 10px;
  h4
    font-size 18px;
    margin 5px 0 15px
    a
      font-size 13px
  h4
    font-size 15px;
    margin 0 0 10px
    font-weight:600;
  p
    font-weight 400
    line-height 20px
  ul
    list-style none
    padding 0
    overflow hidden
    margin 0
    li
      //font-family $font-family-sans-serif
      font-weight 400
      font-size:14px;
      float left
      width 31.3%
      margin-right:2%;
      +below(992px)
        width 48%
        margin-right:2%;
      +below(500px)
        width 100%
        margin-right:0;
      a
        display block
        padding 3px 0
.learn-more-box
  background #f7f7f7;
  padding-bottom 15px
  h4
    font-size 18px;
    margin 15px 0 5px
  ul
    list-style none
    padding 0
    overflow hidden
    margin 0
    li
      font-weight 400
      border-bottom 1px solid #e0e0e0
      &:last-child
        border-bottom none
      a
        display block
        padding 5px 10px
//.selectize-input input
//  font-family Amaranth !important
//override bootstrap functions
.btn:focus{
  outline: none !important;
  border:none;
}

.add-on
  .input-group-btn
    > .btn
      border-left-width 0
      left -2px;
      vendor('box-shadow', inset 0 1px 1px rgba(0, 0, 0, 0.075))
      /*border 1px solid #E3E3E3 !important*/
      vendor('border-radius', 0 !important)
//.btn
//  vendor('border-radius', 0 !important)
.add-on
  .form-control
  &:focus
    vendor('box-shadow', none)
    border-color #cccccc
.row-centered
  text-align center
.col-centered
  display inline-block
  float none
  text-align left
.custom-img-responsive
  display inline-block
  width auto
  max-width 100%
  height auto

//SLIDING MENU
.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 240px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-panel {
  position: relative;
  z-index: 1;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

//mobile menu
.slidingMenuContainer
  background: #F7F8FA;
  border-right: 2px solid #E4E5E7;
  .navheading
    background $custom_colour_f0f
    color $custom_colour_999
    border-bottom $custom_line_colours
    font-weight 700
    padding 10px 15px
    text-transform uppercase
    span
      display inline-block
      cursor pointer
      color $custom_colour_blue
      padding 2px 5px
.mobileMenuNavigation
  list-style none
  padding 0
  margin 0
  li
    display block
    a
      color $custom_colour_aaa
      padding-left:15px
      //font-family Amaranth
      font-size 13px
      display block
      line-height 35px
      border-bottom 1px solid $custom_line_colours
      &:hover
        background $custom_colour_f0f
  li.divider
    padding 3px 0 3px 15px
    background $custom_colour_ebe
    color $custom_colour_999
    font-size 12px
    font-weight 700
    text-transform uppercase

//homepage search
.homeSearchBoxContainer
  background linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/top-banner-image.jpg)
  background-image linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/top-banner-image.jpg)
  background-repeat no-repeat
  background-position center center
  background-attachment: fixed;
  vendor('background-size', cover)
  min-height 580px
  padding 20px 0 15px
  //box-shadow(inset 0 -1px 0 0 rgba(193,193,193,0.50));
  //border-bottom 3px solid #333;
  &.country-details-page
    background linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/country-study-banner.jpg)
    background-image linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/country-study-banner.jpg)
    background-repeat no-repeat
    background-position center center
    background-attachment: fixed;
    vendor('background-size', cover)
    min-height 320px
    padding 20px 0 15px
    .searchBoxMessage
      margin-top:5px !important;
  .searchBoxMessage
    text-align center
    margin-bottom 15px
    margin-top 120px
    h1
      margin 20px 0 0 0
      font-weight 600
      font-size: 48px;
      line-height 45px
      font-family "Source Sans Pro", Helvetica, Arial, sans-serif
      color white
      fadeInUp()
      +below(760px)
        font-size 43px
        line-height 43px
      +below(500px)
        font-size 38px
        line-height 38px
    p
      margin 5px auto
      color #ebebeb
      font-size 20px
      display inline-block
      padding:5px 15px
      line-height 22px
      +below(500px)
        font-size 13px
        line-height 20px
.nopadding
  padding 0 2px !important
.nomargin
  margin 0 !important
.removePadding
  padding 0 !important
.noBorder
  border none !important
.homeSearchForm
  padding 15px 30px 0 !important
  background rgba(0,0,0,0.7)
  vendor('border-radius', 3px)
.sectionHeading
  background $custom_colour_f9f
  box-shadow(0px 1px 3px 0px rgba(153,153,153,0.50))
  h2
    color $custom_colour_666
    margin 15px 0
    font-weight 400
    +below(750px)
      font-size 25px
      line-height 25px

.section-heading
  h2,
  h3
    color #000

.steps
  //background: #FFFFFF;
  //border: 2px solid #49A2FE;
  position relative
  //box-shadow(0px 1px 3px 0px rgba(170,170,170,0.50));
  padding 20px 10px 10px
  text-align center
  .sp_icon
    margin-bottom 10px;
    display inline-block
    img
      display inline-block
      width auto
      max-height 78px
  h3
    color #013061
    font-weight 600
    margin 5px 0
  p
    font-size 18px
    font-weight 300
    color $custom_text_colours
  .line
    display inline-block
    height 2px
    background $custom_colour_blue
    width 100px
    position absolute
    right -20%
    top 25%
    +below(992px)
      display none

  //.stepIndex
  //  display inline-block
  //  background white
  //  border: 2px solid #49A2FE;
  //  vendor('border-radius', 50%)
  //  padding: 5px 11px
  //  font-weight: 600
  //  color $custom_colour_orange
  //  position absolute
  //  right -15px
  //  top -20px
  //  box-shadow(inset 0px 2px 5px 0px rgba(170,170,170,0.80));
.aboutSection
  background-color white
  background-image url('../img/about-skoola-bg.png')
  background-repeat no-repeat
  background-position center center
  vendor('background-size', cover)
  min-height 350px
  padding 20px 0 15px
  box-shadow(0px 1px 3px 0px rgba(153,153,153,0.50)\, 0px -1px 3px 0px rgba(153,153,153,0.50));
.aboutSkoola
  h2
    font-size 35px;
    color #9b9b9b
    line-height 35px
    margin 15px 0 10px
    font-weight 400
    +below(750px)
      font-size 25px
      line-height 25px
  p
    font-size 23px
    color $custom_text_colours
    font-weight 300
    margin: 10px 0
.skoolaDataStats
  text-align center
  +below(750px)
    padding 10px 0
    border-bottom 1px solid #e0e0e0
  h3
    color $custom_colour_blue
    font-size 45px;
    font-weight 700
    margin 5px 0
    line-height 35px
    +below(500px)
      font-size 35px
      line-height 23px
  h4
    color $custom_colour_blue
    font-size 30px;
    font-weight 700
    margin 5px 0
    line-height 32px
    +below(500px)
      font-size 25px
      line-height 24px
  p
   margin 0
   text-transform uppercase
   font-size 12px
   font-weight 700
   line-height 18px !important
   color $custom_colour_666
   +below(500px)
     font-size 11px

.categoriesSection
  background-color:  #6495ED;
  background: url(../img/category2.jpg) no-repeat;
  vendor('background-size', cover);
  background-position top center
  background-attachment: fixed;
  padding-bottom 30px
  .categoryHeadings
    text-align center
    h2,
    h3
      color #fff
      margin:0
      +below(540px)
        font-size 25px;
      +below(340px)
        font-size 21px;
    p
      color #fff
      font-size 18px
      font-weight 400
      margin-top:5px;
      +below(540px)
        font-size 14px;
      +below(340px)
        font-size 13px;
  .eachCategory
    display block
    //background #f0f0f0;
    background-size 35px auto
    border 2px solid rgba(255,255,255,0.5)
    position relative
    padding: 20px 10px
    box-sizing border-box
    text-align center
    background rgba(0,0,0,0.1)
    margin-bottom 20px
    //+below(360px)
    //  min-height 150px
    //+below(300px)
    //  min-height 160px
    //&:before
    //  content : ''
    //  width: 0;
    //  height: 0;
    //  position absolute;
    //  right 0;
    //  top: 0;
    //  border-top: 30px solid #7cd4ed;
    //  border-left: 30px solid transparent;
    //  box-shadow(inset 0px 1px 3px 0px rgba(0,0,0,0.50))
    img
      display inline-block
      width auto;
      max-width 65px
      height auto;
      margin 0 auto 15px
    h4
      margin 5px 0
      color:#fff;
      font-size 26px
      +below(992px)
        font-size 24px
      +below(480px)
        font-size 20px
    p
      margin 0 0
      font-size 18px
      color: $custom_colour_f0f
      +below(992px)
        font-size 16px
      +below(480px)
        font-size 14px
    &:hover
      opacity(0.8)

.skfooter
  background #f0f0f0;
  border-top 1px solid $custom_colour_ebe
  padding 30px 0
  h4
    color #999

  .footerBox
    padding-top 10px
    padding-bottom 20px
    ul
      margin 0
      padding 0
      list-style none
    p
      color $custom_colour_999
    &.contacts
      p
        margin 0
        span
          display inline-block
          font-size 16px
          color $custom_colour_999
        b
          color $custom_colour_aaa
          font-weight 400
  .footerSocials
    margin-top 7px
    a
      display inline-block
      margin-right 3px
      img
        max-width 32px
      &:hover
        opacity(0.8)
.footerCopyright
  p
    margin 0
    color $custom_colour_aaa
    font-weight 400
    font-size 14px

//PAGE TITLE
#pageTitle
  background #f0f0f0;
  padding 15px 0
  h2
    font-size 18px
    //font-weight 300
    margin 0
    color #999
    span
      color $custom_colour_orange
.sideBarBox
  background $custom_colour_f9f
  border 1px solid $custom_colour_ebe
  box-shadow(0px 1px 1px 0px rgba(214,214,214,0.50));
  padding 10px 15px
  h3
  h4
    margin 5px 0
    font-weight 400
    color $custom_text_colours
.innerContentWrapper
  background $custom_colour_f9f
  border 1px solid $custom_colour_ebe
  //box-shadow(0px 1px 1px 0px rgba(214,214,214,0.50))
  padding 15px
  h4 small
    display block
    line-height 17px
    font-size 13px
    font-family "Source Sans Pro", Helvetica, Arial, sans-serif
.incontentWrapper
  //background $custom_colour_f9f
  //border 1px solid $custom_colour_ebe
  //box-shadow(0px 1px 1px 0px rgba(214,214,214,0.50))
  //padding 15px
  h4 small
    display block
    line-height 17px
    font-size 13px
    font-family "Source Sans Pro", Helvetica, Arial, sans-serif
.programListing
  background white
  border: 1px solid #ebebeb;
  .listingBody
    padding 15px
    text-align:center;
    h3
      font-size: 20px;
      color: $custom_text_colours;
      font-weight 400
      width: 100%;
      margin 5px 0 15px
      overflow: hidden;
      min-height: 45px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      text-overflow: -o-ellipsis-lastline;
    img
      display inline-block
      width auto;
      max-height 50px
      margin 10px auto
    .price
      text-align center
      color $custom_colour_blue
      margin 15px 0 10px
      font-size:20px;
      small
        display block
        font-size 12px
        font-weight 400
        color #bbb
        //margin-top: -5px
        line-height 16px
  .listingFooter
    background #f7f7f7
    padding 10px 15px
    //border-top 1px solid $custom_colour_f0f
.schoolInfoTopBackgroundContainer
  background-image  url(../img/institutions/institution-banner-img.png)
  background-repeat no-repeat
  background-position center center
  vendor('background-size', cover)
  min-height 280px
  padding 20px 0 15px
  box-shadow(inset 0 -1px 0 0 rgba(193,193,193,0.50));
  .schoolLogoName
    padding 25px 0 15px
    img
      background white
      //border: 2px solid #D6D6D6;
      width auto
      vendor('border-radius', 3px)
      padding 5px
      max-width 210px
      height auto
    h2
      color white
      margin-top:5px;
      text-shadow 0 1px 1px #666
.no-border-radius
  vendor('border-radius', 0px !important)
.countryName
  position absolute
  right 15px
  top -20px
  font-family "Source Sans Pro", Helvetica, Arial, sans-serif !important
  font-weight 600
.schoolMetaData
  padding 0
  list-style none
  margin 0
  &.show-divider
    li
      border-bottom 1px solid $custom_colour_f0f
      &:last-child
        border-bottom none
  &.hover-style
    li
      padding 0
      a
        display block
        padding 5px
        &:hover
          background #f0f0f0;
  li
    overflow hidden
    padding 7px 0 7px 3px
    span:first-child
      color $custom_colour_999
    span:last-child
      font-weight 300
      font-size 15px
    small
      display block
      line-height 18px
      color $custom_colour_aaa
//override navtabs
.nav
  background white
  border 1px solid $custom_colour_f0f
  border-bottom-width 2px
.nav-tabs > li
  margin-bottom: 0 !important;
.nav-tabs
  > li > a
    vendor('border-radius', 0 !important)
    font-size 14px
    padding-top 14px
    padding-bottom 14px
    font-weight 600
    border none !important
    color $custom_colour_blue
  > li.active > a
  > li.active > a:hover
  > li.active > a:focus
    color: #555;
    color $custom_colour_orange
    border-bottom-color $custom_colour_f0f !important
  > li:first-child.active > a
  > li:first-child.active > a:hover
  > li:first-child.active > a:focus
    border-left none !important
.tab-content
  background $custom_colour_f9f
  border 1px solid $custom_colour_f0f
  border-top none !important
  padding 10px 15px
.panel
  margin-top -1px !important
  vendor('border-radius', 0 !important)
  vendor('box-shadow', none !important)
.panel-heading
  padding 0 0
  border 1px solid #ebebeb !importan
  .panel-title
    a
      display block
      padding 15px 10px
      color $custom_colour_orange
      text-transform capitalize
      text-decoration none
      color $custom_colour_blue
      font-size 14px
      font-family "Source Sans Pro", Helvetica, Arial, sans-serif !important
      &:after
        font-family: "fontello";
        content "\e815"
        width 16px
        height 16px;
        color $custom_colour_blue
        position relative;
        float right !important
        margin-top 3px
      &:hover
        color #999
    a[aria-expanded=true]
      color $custom_colour_orange
      &:after
        font-family: "fontello";
        content "\e814" !important
        width 16px
        color $custom_colour_orange
        height 16px;
        position relative;
        float right !important
        margin-top 3px
.panel-default > .panel-heading
  background white
  border none !important
.panel-body
  background $custom_colour_f9f
  padding 10px
.list-group-item:first-child
  vendor('border-radius', 0 !important)
.list-group-item:last-child
  vendor('border-radius', 0 !important)
.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: block;     /* undo display:none          */
  height: 0;          /* height:0 is also invisible */
  overflow-y: hidden; /* no-overflow                */
}
.tab-content > .active,
.pill-content > .active {
  height: auto;       /* let the content decide it  */
} /* bootstrap hack end */
//end of tabs section
.schoolTabContent
  h4, h3, h5, h6
    margin 15px 0
    color $custom_text_colours;
    small
      font-size 12px !important
  img
    display block
    width auto
    max-width 100%
    height auto
    margin 10px 0
    vendor('border-radius', 2px);
  ul
    padding:0 0 0 20px;
    margin: 5px 0;
  .eachFee
    margin-bottom 25px
    h4, h3, h5, h6, p
      margin 5px 0


.loginBox
  > h3
    border-bottom 1px solid $custom_colour_ebe
    margin-bottom 30px
    padding-bottom 10px

.socials
  display block
  padding 8px 10px
  margin-bottom 6px
  text-transform uppercase
  font-size 13px
  font-weight 600
.facebook
  background $color-facebook
  color white
  &:hover
    color white
    background darken($color-facebook, 10%);
.googleplus
  background $color-googleplus
  color white
  &:hover
    color white
    background darken($color-googleplus, 10%);
.linkedin
  background $color-linkedin
  color white
  &:hover
    color white
    background darken($color-linkedin, 10%);
.courseInfoTopBackgroundContainer
  color:dodgerblue
  background linear-gradient(rgba(dodgerblue, 0.2), rgba(dodgerblue, 0.2)), url(../img/course/course-bg.png)
  background-image linear-gradient(rgba(dodgerblue, 0.3), rgba(dodgerblue, 0.3)), url(../img/course/course-bg.png)
  background-color white
  background-repeat no-repeat
  background-position center center
  vendor('background-size', cover)
  min-height 280px
  padding 20px 0 60px

.courseOptions
  margin 0
  padding 0
  list-style none
  li
    padding 5px 5px
    border-bottom 1px solid #e0e0e0
    //background #f9f9f9
    &:last-child
      border-bottom none
    small
      display block
      line-height 18px
      text-transform uppercase
      font-weight 700
      font-size 11px
      color $custom_colour_999
.courseTopDetails
  width: 95%;
  max-width:600px;
  margin:0 auto;
  h2
    margin 3px 0
    color:$custom_text_colours
    span
      font-size 15px
  p.schoolname
    font-weight 400
    font-size 20px
.customWizard
  padding 0 15px
  //background $custom_colour_ebe
  //border-bottom 1px solid #f9f9f9
  border-bottom-width 2px
  .step
    background:#ebebeb;
    &.active
      background: $custom_colour_blue;
      div
        span:first-child
          border-color: $custom_colour_blue;
          color: $custom_colour_blue;
        span:last-child
          color:white;
    &.done
      background: #58bb58;
      div
        span:first-child
          border-color: #58bb58;
          color: #58bb58;
        span:last-child
          color:white;
    div
      padding 5px 0
    span
      display inline-block
      &:first-child
        width: 40px;
        height: 40px;
        background-color: white;
        display: inline-block;
        border: 3px solid;
        border-color #d6d6d6
        border-radius: 50%;
        color $custom_colour_aaa
        font-weight: 600;
        text-align: center;
        line-height: 35px;
        margin-right 5px
      &:nth-child(2)
        font-weight 700
        color $custom_colour_999
        text-transform uppercase
        font-size 12px
    &:nth-child(2)
      border-left 1px solid #d6d6d6
      border-right 1px solid #d6d6d6
      +below(750px)
        border none
    +below(750px)
      div
        border-bottom 1px solid #d6d6d6
        padding-bottom 5px
    &:last-child
      div
        border-bottom none !important
.btn-file
  position relative
  overflow hidden
  input[type=file]
    position absolute
    top 0
    right 0
    min-width 100%
    min-height 100%
    font-size 100px
    text-align right
    opacity(0);
    background red
    cursor inherit
    display block
input[readonly]
  background-color: white !important;
  cursor: text !important;
.pricing
  background: white;
  min-height 350px
  border 1px solid #f0f0f0
  border-bottom-width 2px
  position relative
  h4
    text-align center
    padding 15px 15px 13px
    margin 0
    border-bottom 1px solid $custom_colour_f0f
    color $custom_colour_blue
  div.footer
    width 100%
    min-height 40px
    background $custom_colour_f9f
    padding 10px 10px
    position absolute
    bottom 0
  ul
    margin 0
    padding 0
    list-style none
    li
      padding 5px 15px
      line-height 25px
      text-align center
      font-weight 600
      color $custom_colour_999
      background $custom_colour_f9f
      &:nth-child(even)
        background $custom_colour_f0f
  h2
    text-align center
    padding 0 15px
    position absolute
    width 100%
    bottom 50px
    color $custom_colour_blue
.side-menu-navigation
  margin 0
  padding 0
  list-style none
  li
    display block
    margin-bottom 1px
    a
      display block
      padding 5px 10px
      background #f0f0f0
      &:hover
        background #f3f3f3
.empty-resume
  background $custom_colour_f0f
  padding 30px 15px
  vendor('border-radius', 2px)
  text-align center
  img
    display inline-block
    margin-bottom 10px
  p
    width 80%
    max-width 320px
    margin 10px auto 20px
    line-height 18px
    font-weight 300
    b
      font-weight 400
.inline-block
  display inline-block
.my-document-attachment
  margin-bottom 10px
  background $custom_colour_f0f
  padding 15px 15px
  .attachment-icon
    max-width 64px;
    display inline-block
    padding 0 5px
    vertical-align top
  .attachment-info
    width calc(100% - 75px)
    display inline-block
    vertical-align top
  h4
    margin 0 0 5px
    line-height 18px
  .r-meta-data
    color $custom_colour_999
    font-weight 400
    margin-bottom 5px
    font-size 12px
    span:not(.label)
      font-weight 400
      color $custom_colour_666
.addNewDocument
  background $custom_colour_f0f
  margin-bottom 10px
  .addDocBtn
    display block
    padding 7px 0
  .addFormContainer
    padding 10px 15px
.examSection
  //background linear-gradient(rgba(1,48,97, 0.9), rgba(1,48,97, 0.9)), url(../img/entryexam.jpg)
  //background-image linear-gradient(rgba(1,48,97, 0.9), rgba(1,48,97, 0.9)), url(../img/entryexam.jpg)
  //background-repeat no-repeat
  //background-position center center
  //background-attachment: fixed;
  //vendor('background-size', cover)
  background: rgba(1,48,97, 1)
  //min-height 300px
  padding 25px 0 50px
  &.no-shadow
    box-shadow none !important
  .examImage
    display block
    margin 0 auto
    width auto
    max-width 100%
    height auto;
  .section-heading
    h2,h3
      color $custom_colour_f9f;
  .eachExams
    transition: background 0.3s ease;
    padding 15px 15px 15px
    //background $custom_colour_orange
    display block
    text-align center
    margin: 0 5px
    vendor('border-radius', 2px)
    vendor('box-sizing', 'border-box')
    position relative
    h4
      margin 0
      color #fff
      font-size 38px
      line-height 100px
      position relative
      font-weight:bold;
      small
        font-weight:300
        color:white
        font-size:30px;
        position relative
        top:-5px;
    //p
    //  font-size 15px
    //  margin 5px 0 0
    //  font-weight 400
    //  color:#9a4d00
    &:hover,
    &:focus
      opacity(0.7)
    &:first-child
      background linear-gradient(rgba($custom_colour_orange, 0.7), rgba($custom_colour_orange, 0.7)), url(../img/exams-bg/1.jpg)
      background-image linear-gradient(rgba($custom_colour_orange, 0.7), rgba($custom_colour_orange, 0.7)), url(../img/exams-bg/1.jpg)
      background-repeat no-repeat
      background-position center center
      vendor('background-size', cover)
    &:nth-child(2)
      background linear-gradient(rgba($custom_colour_blue, 0.7), rgba($custom_colour_blue, 0.7)), url(../img/exams-bg/2.jpg)
      background-image linear-gradient(rgba($custom_colour_blue, 0.7), rgba($custom_colour_blue, 0.7)), url(../img/exams-bg/2.jpg)
      background-repeat no-repeat
      background-position center center
      vendor('background-size', cover)
    &:nth-child(3)
      background linear-gradient(rgba(red, 0.7), rgba(red, 0.7)), url(../img/exams-bg/3.jpg)
      background-image linear-gradient(rgba(red, 0.7), rgba(red, 0.7)), url(../img/exams-bg/3.jpg)
      background-repeat no-repeat
      background-position center center
      vendor('background-size', cover)
    &:nth-child(4)
      background linear-gradient(rgba(#00bc33, 0.7), rgba(#00bc33, 0.7)), url(../img/exams-bg/4.jpg)
      background-image linear-gradient(rgba(#00bc33, 0.7), rgba(#00bc33, 0.7)), url(../img/exams-bg/4.jpg)
      background-repeat no-repeat
      background-position center center
      vendor('background-size', cover)
    &:nth-child(5)
      background linear-gradient(rgba(#ff284d, 0.7), rgba(#ff284d, 0.7)), url(../img/exams-bg/5.jpg)
      background-image linear-gradient(rgba(#ff284d, 0.7), rgba(#ff284d, 0.7)), url(../img/exams-bg/5.jpg)
      background-repeat no-repeat
      background-position center center
      vendor('background-size', cover)
    &:nth-child(6)
      background linear-gradient(rgba(#b500db, 0.7), rgba(#b500db, 0.7)), url(../img/exams-bg/6.jpg)
      background-image linear-gradient(rgba(#b500db, 0.7), rgba(#b500db, 0.7)), url(../img/exams-bg/6.jpg)
      background-repeat no-repeat
      background-position center center
      vendor('background-size', cover)
.examInfoTopBackgroundContainer
  background-image  url(../img/exam-details-top-bg.png)
  background-repeat no-repeat
  background-position center center
  vendor('background-size', cover)
  min-height 180px
  padding 20px 0 15px
  box-shadow(inset 0 -1px 0 0 rgba(193,193,193,0.50));
  .examName
    padding 20px 0 15px
    h2
      color #F2D1B3
      margin 0
    p
      color white
      margin 0
      font-size 16px
      font-weight 300

.customNavigation
  text-align right
  &.top-spacing
    margin-top:23px;
  a
    display inline-block
    background $custom_colour_blue;
    padding:6px 10px;
    margin-left: 5px;
    margin-bottom:15px;
    color: white;
    cursor: pointer;
    &:last-child
      margin-right 5px;
    &.orange
      background: $custom_colour_orange;
    &:hover
      opacity(0.8);

//.section-heading
//Custom 5 Grid Column
.col-xs-15
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xs-15 {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left;
  }
  .col-sm-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left;
  }
}

.custom-btn-dark
  background $custom_colour_f0f
  vendor('border-radius', 2px)
  color $custom_colour_orange
  display block
  padding 15px 10px
  text-align center
  font-size 25px;
  font-weight 600
  line-height 150px
  margin-bottom 10px
  &.usa
    background linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/country/usa-480.jpg)
    background-image linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/country/usa-480.jpg)
    background-repeat no-repeat
    background-position center center
    vendor('background-size', cover)
  &.uk
    background linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/country/uk-480.jpg)
    background-image linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/country/uk-480.jpg)
    background-repeat no-repeat
    background-position center center
    vendor('background-size', cover)
  &.canada
    background linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/country/canada-480.jpg)
    background-image linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/country/canada-480.jpg)
    background-repeat no-repeat
    background-position center center
    vendor('background-size', cover)
  &.australia
    background linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/country/austraila-480.jpg)
    background-image linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/country/austraila-480.jpg)
    background-repeat no-repeat
    background-position center center
    vendor('background-size', cover)
  &:hover
    color white
    opacity(0.8)
  &.last
    background $custom_colour_orange
    color #fff
    //font-size 17px
    line-height 30px
    padding 60px 10px
    &:hover
      opacity(0.8)

.where-to-study
  padding 35px 0 60px
  background white
.advice_tips
  min-height 300px
  .each-tips
    display block
    padding 20px 20px
    background $custom_colour_f9f
    text-align center
    border 2px solid $custom_colour_ebe
    img
      display inline-block
      max-width 90px
      height auto
      margin 10px auto
    h3, h4
      color #013061
      font-weight 600
      //text-transform uppercase
      margin 10px 0
    &:hover,
    &:focus
      background white
      opacity(0.7)

.eachUniversity
  background white
  border: 2px solid #ebebeb;
  padding 25px 15px
  display block
  text-align:center;
  h3
    color: $custom_text_colours;
    font-weight 400
    width: 100%;
    margin 10px 0 15px
    font-size: 28px;
  img
    display inline-block
    width auto;
    max-height:50px;
    margin 10px auto
  p
    color $custom_colour_aaa
    font-size 12px
  &:hover
    border:2px solid $custom_colour_orange
    opacity(0.6)

.textInfo
  p
    line-height : 28px
    font-size: 15px;
    margin:0;

.slick-carousel{
  padding:0 20px;
  position:relative;
}

#top-schools
  .item
    margin:0 5px;
    //&:first-child
    // margin-left:0;

/* PROGRESS CIRCLE COMPONENT */
.circliful {
  margin:auto;
  position: relative;
}

.circle-text, .circle-info, .circle-text-half, .circle-info-half {
  width: 100%;
  position: absolute;
  text-align: center;
  display: inline-block;
  font-weight:bold;
}

.circle-info, .circle-info-half {
  color: #999;
}

.circliful .fa {
  margin: -10px 3px 0 3px;
  position: relative;
  bottom: 4px;
}

.facts-label
  text-align center
  font-weight 700
  text-transform uppercase
  color #404040
  font-size 15px;
  margin 0 0 20px

.social-widget{
  margin-top:30px;
  .social-btns{
    margin: 10px auto;
    a{
      display:inline-block
      margin-right:5px;

      img{
        width: auto;
        max-width:28px;
        height:auto;
      }

      &:hover{
        opacity(0.7);
      }

    }
  }
}

.white_background-spacing{
  padding-top:40px;
  padding-bottom :40px;

  .column-container{
    width:100%;
    max-width:700px;
    margin:0 auto;
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;

    +below(600px){
      -webkit-column-count: 1; /* Chrome, Safari, Opera */
      -moz-column-count: 1; /* Firefox */
      column-count: 1;
    }
  }

  p{
    color:#666;
    font-size:17px;
    line-height:1.5;
  }

  &.blue-text{
    .section-heading h2{
      color:#013061;
    }

    p{
      color:#013061;
    }
  }
}

.about_no_talk{
  background-color:  #6495ED;
  background: url(../img/category2.jpg) no-repeat;
  vendor('background-size', cover);
  background-position top center
  background-attachment: fixed;
  padding-top:40px;
  padding-bottom 40px;
  color: white;

  .section-heading h2{
    color:white;
  }

  p{
    font-size:17px;
    line-height:1.6;
  }

}

//Import Radiobox
@import "components/custom-radiobox.styl"

//Import Application Modal Style
@import "components/application_modal.styl"

//Accomodation Page
@import "components/accomodation.styl"

//Blog
@import "components/blog.styl"

//Main Navigation
@import "components/main-navigation.styl"

//Ideal Image Slider
@import "components/ideal-image-slider.styl"


//Special Plans
@import "components/plans.styl"

//Calculator
.each-form-section{
  margin:10px auto 30px;
}

.efs-title{
  border-bottom:2px solid #f0f0f0;
  text-tranform:uppercase;
  position:relative;
  height:31px;
  font-size:16px;
  margin-bottom:30px;

  span{
    display:inline-block;
    border-bottom:2px solid $custom_colour_orange;
    margin-top:2px;
    padding:5px 0;
  }
}

.cost-estimate-result{
  margin-top:40px;
  background:#f5f5f5;
  padding:20px;
}

.estimate-result{
  padding:0;
  margin:0;
  list-style: none;

  li{
    display:block;
    border-bottom: 1px solid #f9f9f9;
    background:#f0f0f0;
    margin-bottom:1px;
    padding:10px 10px;
    overflow:hidden;

    .result-label{
      float:left;
      font-size:12px;
      font-weight:600;
      color:#999;
      margin-top:3px;
      //text-transform:uppercase;
    }

    .result-value{
      float:right;
      font-size:17px;
      font-weight:bold;
    }

  }
}


.each-no-talk{
  text-align:center

  img{
    display:inline-block;
    width:auto;
    max-width:100px;
    margin-bottom 10px;
  }

  h4{
    color:white;
  }
}