.custom-radiobox{
  color: #BFBFBF;
  display: block;
  position: relative;

  &.inline-radio{
    display:inline-block;
    label {
      padding : 0 25px 5px 25px;
    }
    .check{
      top : 7px;
    }
  }

  input[type=radio]{
    position: absolute;
    visibility: hidden;
  }

  label{
    display: block;
    position: relative;
    font-weight: 500;
    font-size: 1.10em;
    padding: 5px 25px 5px 25px;
    margin: 5px auto;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
  }

  &:hover label{
    //color: #FFFFFF;
  }

  .check{
    display: block;
    position: absolute;
    border: 2px solid #aaa;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    top: 5px;
    left: 0;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;

    &::before {
      display: block;
      position: absolute;
      content: '';
      border-radius: 100%;
      height: 12px;
      width: 12px;
      top: 2px;
      left: 2px;
      margin: auto;
      transition: background 0.25s linear;
      -webkit-transition: background 0.25s linear;
    }
  }

  &:hover .check {
    //border: 5px solid #FFFFFF;
  }

  input[type=radio]:checked ~ .check {
    border: 2px solid $custom_colour_orange;
  }

  input[type=radio]:checked ~ .check::before{
    background: $custom_colour_orange;
  }

  input[type=radio]:checked ~ label{
    color: #111; //#2C3E50;
  }

}