<#import "/views/layout/skoolaDefaultLayout.ftl.html" as layout>


<@layout.skoolaLayout "Error! Not Found"> 
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Not Found</h2>
                <div class="error-details">
                    Sorry, an error has occured. Requested page not found!
                </div>
                <div class="error-details">
                   <a href="/">Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
</@layout.skoolaLayout>