<#import "/views/layout/skoolaAdminDefaultLayout.ftl.html" as layout>


<@layout.skoolaLayout "Admin Dashboard"> 

     <div class="custom-breadcrumb">
                        <div class="row">
                            <div class="col-sm-7 margin_bottom_10"><h3>DashBoard</h3></div>
                            <div class="col-sm-5 breadcrumb-links margin_bottom_10">
                                <a href=""> <i class="fa fa-tachometer"></i> Home</a> <b>&rsaquo;</b>
                                    <span>Admin DashBoard</span>
                            </div>
                        </div>
                    </div>


                    <div class="contentbox margin_top_15" align="center">
                    
                    <div class="row">
                    
                    	<div class="col-md-12">
                    		
                    		<h3>Total <b>Accounts Created Today</b> <span class="label label-default">${totalSignUpsToday!"N/A"}</span></h3>
                    	
                    	</div>
                    </div>
                    <br>
                    <div class="row">	
                    	<div class="col-md-12">
                    	
                    		<h3>Total <b>Accounts Created This Week</b> <span class="label label-default">${totalSignUpsThisWeek!"N/A"}</span></h3>
                    	
                    	</div>
                    	
                    </div>
                    <br>
                    <div class="row">	
                    	<div class="col-md-12">
                    	
                    		<h3>Career <b>Consultation Requests</b> Submitted <b>Today</b> <span class="label label-default">${totalPaidConsultationsToday!"N/A"}</span></h3>
                    	
                    	</div>
                    	
                    </div>
                    <br>
                    <div class="row">	
                    	<div class="col-md-12">
                    	
                    		<h3>Career <b>Consultation Requests</b> Submitted <b>This Week</b> <span class="label label-default">${totalPaidConsultatioinsThisWeek!"N/A"}</span></h3>
                    	
                    	</div>
                    
                    </div>
                    
                    
                    </div>




</@layout.skoolaLayout>