<#import "/views/layout/skoolaAdminDefaultLayout.ftl.html" as layout>


<@layout.skoolaLayout "Exams"> 
                    <div class="custom-breadcrumb">
                        <div class="row">
                            <div class="col-sm-7 margin_bottom_10"><h3>Exams</h3></div>
                            <div class="col-sm-5 breadcrumb-links margin_bottom_10">
                                <a href=""> <i class="fa fa-tachometer"></i> Home</a> <b>&rsaquo;</b>
                                    <span>Exams</span>
                            </div>
                        </div>
                    </div>


                    <div class="contentbox margin_top_15">
                        <div class="box-header no-border-bottom">
                            <h4 class="title pull-left">Exams</h4>
                            <div class="box-tools pull-right">
                                <button class="btn btn-default btn-sm"  onclick="javascript:addNewExam()">New Exam</button>
                                

                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="box-body no-padding">
                          <#if json.result?has_content>
                                <table cellpadding="0" cellspacing="0" class="table table-striped footable">

                                    <thead>
                                        <tr>
                                            <th>S/N</th>
                                            <th>Exam Name</th>
                                            <th>Exam Fees</th>
                                            <th>Status</th>
                                            <th class="text-right">Actions</th>
                                        </tr>
                                    </thead>

                                    <tbody>

                                        <#assign x = json.searchIndex?eval>

                                         <#list json.result?eval>

                                            <#items as exam>
                                              <#assign x = x + 1 >        
                                                    <tr>
                                                        <td >${x}</td>
                                                        <td class="important">${exam.examNameAbbreivated}</td>
                                                        <td>${exam.examFeeInKobo}</td>
                                                        <td><#if exam.examActive == 'true'> Activated  <#else> Deactivated </#if></td>
                                                        <td class="text-right">

                                                            <a href="#" class="btn btn-sm btn-primary" onclick="javascript:editExam('${exam.id}')" ><i class="fa fa-pencil"></i> <span class="hidden-xs">Edit</span></a>

                                                        </td>
                                                    </tr>
                                              </#items>
                                        </#list>


                                    </tbody>
                                </table>
                            <#else>
                            
                                <div> <h4> No results where found </h4> </div>
                            
                            </#if>
                        </div>
                        <div class="box-footer">
                            <#if (json.searchResultCount?eval > json.SEARCH_MAXIMUM_RESULTSET_SIZE?eval) >

                                <#assign indexCount = (json.searchResultCount?eval / json.SEARCH_MAXIMUM_RESULTSET_SIZE?eval )?floor>

                                <#assign previousIndexValue = json.searchIndex?eval - json.SEARCH_MAXIMUM_RESULTSET_SIZE?eval>

                                <#assign nextIndexValue = json.searchIndex?eval + json.SEARCH_MAXIMUM_RESULTSET_SIZE?eval>

                                <#assign maxIndexValue = indexCount * json.SEARCH_MAXIMUM_RESULTSET_SIZE?eval>
                                
                               <#assign nextIndicatorValue = (json.searchIndex?eval + json.SEARCH_MAXIMUM_RESULTSET_SIZE?eval)>

                               
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <ul class="pagination">

                                            <#if (previousIndexValue > -1) >

                                                <li><a href="#" onclick="javascript:getPaginatedResultSet(${previousIndexValue})">&laquo; Previous </a></li>

                                            </#if>	

                                            
                                            <#if (nextIndexValue < json.searchResultCount?eval) >
                                                <li><a href="#" onclick="javascript:getPaginatedResultSet(${nextIndexValue})" >Next &raquo;</a></li>
                                            </#if>
                                        </ul>
                                    </div>
                                </div>
                                </#if>
                        </div>
                    </div>



                     <form id="searchForm" method="get" action="/admin_skoola_exams" >
                        
                        <input type="hidden" id="searchIndex" name="searchIndex" value="${json.searchIndex}"/>
                        <input type="hidden" id="examId" name="examId" />
                        <input type="hidden" id="edit_mode" name="edit_mode" />
                    </form>
                    
                    
                    <script>
                      
                        
                        function getPaginatedResultSet(searchIndex){
                           
                            $('#searchIndex').val(searchIndex);
                            $('#searchForm').submit();
                           
                        }
                        
                         function editExam(examId){
                            
                            $('#examId').val(examId);
                            $('#edit_mode').val("true");
                            $('#searchForm').attr("action",'/admin_edit_skoola_exam');
                            $('#searchForm').submit();
                            
                        }
                        
                        
                         function addNewExam(){
                            $('#edit_mode').val("false");
                            $('#searchForm').attr("action",'/admin_edit_skoola_exam');
                            $('#searchForm').submit();
                            
                        }
                        
                        
                        
                    </script>
 

</@layout.skoolaLayout>