<#import "/views/layout/skoolaAdminDefaultLayout.ftl.html" as layout>


<@layout.skoolaLayout "Subject Fields"> 

                    <div class="custom-breadcrumb">
                        <div class="row">
                            <div class="col-sm-7 margin_bottom_10"><h3>Subject Category</h3></div>
                            <div class="col-sm-5 breadcrumb-links margin_bottom_10">
                                <a href=""> <i class="fa fa-tachometer"></i> Home</a> <b>&rsaquo;</b>
                                    <span>Subject Category</span>
                            </div>
                        </div>
                    </div>


                    <div class="contentbox margin_top_15">
                        <div class="box-header no-border-bottom">
                            <h4 class="title pull-left">Subject Categories <br> <small> -count : ${json.searchResultCount} - </small></h4>
                            <div class="box-tools pull-right">
                                <button class="btn btn-default btn-sm" onclick="javascript:addCourseSubject()"  >New Subject Category</button>
                                
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="box-body no-padding">
                            <table cellpadding="0" cellspacing="0" class="table table-striped footable">

                                <thead>
                                    <tr>
                                        <th>S/N</th>
                                        <th data-hide="phone">Name</th>
                                         <th data-hide="phone">Description</th>
                                        <th class="text-right">Actions</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    
                                   <#assign x = json.searchIndex?eval>
                                   
                                     <#list json.result?eval>
                                        
                                        <#items as subjectGroup>
                                          <#assign x = x + 1 >        
                                             <tr>
                                                    <td >${x}</td>
                                                    <td class="important">${subjectGroup.name}</td>
                                                     <td>${subjectGroup.description}</td>
                                                    <td class="text-right">
<!--                                                        <a href="course-category-details.php" class="btn btn-sm btn-default"><i class="fa fa-eye"></i> <span class="hidden-xs">View</span></a>-->
                                                        <a href="#" onclick="javascript:editCourseSubject('${subjectGroup.id}')" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i> <span class="hidden-xs">Edit</span></a>
                                                        <!--<a href="" class="btn btn-sm btn-danger"><i class="fa fa-trash-o"></i> <span class="hidden-xs">Delete</span></a>-->
                                                    </td>
                                                </tr>
                                            
                                      </#items>
                                    </#list>
                                    
                                </tbody>
                            </table>
                        </div>
                        <div class="box-footer">
                            <#if (json.searchResultCount?eval > json.SEARCH_MAXIMUM_RESULTSET_SIZE?eval) >

                                <#assign indexCount = (json.searchResultCount?eval / json.SEARCH_MAXIMUM_RESULTSET_SIZE?eval )?floor>

                                <#assign previousIndexValue = json.searchIndex?eval - json.SEARCH_MAXIMUM_RESULTSET_SIZE?eval>

                                <#assign nextIndexValue = json.searchIndex?eval + json.SEARCH_MAXIMUM_RESULTSET_SIZE?eval>

                                <#assign maxIndexValue = indexCount * json.SEARCH_MAXIMUM_RESULTSET_SIZE?eval>
                                
                               <#assign nextIndicatorValue = (json.searchIndex?eval + json.SEARCH_MAXIMUM_RESULTSET_SIZE?eval)>

                               
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <ul class="pagination">

                                            <#if (previousIndexValue > -1) >

                                            <li><a href="#" onclick="javascript:getPaginatedResultSet(${previousIndexValue})">&laquo; Previous </a></li>

                                            </#if>	

                                            
                                            <#if (nextIndexValue < json.searchResultCount?eval) >
                                            <li><a href="#" onclick="javascript:getPaginatedResultSet(${nextIndexValue})" >Next &raquo;</a></li>
                                            </#if>
                                        </ul>
                                    </div>
                                </div>
                                </#if>
                        </div>
                    </div>




                    
                    <form id="searchForm" method="get" action="/admin_skoola_course_subject_category" >
                        
                        <input type="hidden" id="searchIndex" name="searchIndex" value="${json.searchIndex}"/>
                        <input type="hidden" id="subjectGroupId" name="subjectGroupId" />
                        <input type="hidden" id="edit_mode" name="edit_mode" />
                    </form>
                    
                    
                    <script>
                      
                        
                        function getPaginatedResultSet(searchIndex){
                           
                            $('#searchIndex').val(searchIndex);
                            $('#searchForm').submit();
                           
                        }
                        
                         function editCourseSubject(subjectId){
                            
                            $('#subjectGroupId').val(subjectId);
                            $('#edit_mode').val("true");
                            $('#searchForm').attr("action",'/admin_edit_skoola_course_subject_category');
                            $('#searchForm').submit();
                            
                        }
                        
                        
                         function addCourseSubject(){
                            $('#edit_mode').val("false");
                            $('#searchForm').attr("action",'/admin_edit_skoola_course_subject_category');
                            $('#searchForm').submit();
                            
                        }
                        
                        
                        
                    </script>


</@layout.skoolaLayout>