<#import "/views/layout/skoolaAdminDefaultLayout.ftl.html" as layout>


<@layout.skoolaLayout "Universities"> 
                    <div class="custom-breadcrumb">
                        <div class="row">
                            <div class="col-sm-7 margin_bottom_10"><h3>Universities</h3></div>
                            <div class="col-sm-5 breadcrumb-links margin_bottom_10">
                                <a href=""> <i class="fa fa-tachometer"></i> Home</a> <b>&rsaquo;</b>
                                    <span>Universities</span>
                            </div>
                        </div>
                    </div>


                    <div class="contentbox margin_top_15">
                        <div class="box-header no-border-bottom">
                            <h4 class="title pull-left">Schools <br> <small>-- count : ${json.searchResultCount} --</small></h4>
                            <div class="box-tools pull-right">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Filter by Country</label>
                                        <select name="countrySelectElement" id="countrySelectElement" class="form-control" onchange="javascript:filterByCountryId()">
                                            <option value="" selected="selected" >All</option>
                                            <#list countryJSONArray?eval>
                                                <#items as country>
                                                    <option <#if json.countryId == country.id > selected="selected" </#if> value="${country.id}"> ${country.name}</option>
                                                </#items>
                                            </#list>
                                            
                                        </select>
                                        
                                    </div>
                                    <div class="col-md-6">
                                        <label>&nbsp;</label><br>
                                        <button class="btn btn-default btn-sm" onclick="javascript:addCourseSubject()" href="#">New University</button>
                                    </div>
                                    
                                </div>
                                
                               
                               

                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="box-body no-padding">
                            <table cellpadding="0" cellspacing="0" class="table table-striped footable">

                                <thead>
                                    <tr>
                                        <th>S/N</th>
                                        <th>School</th>
                                        <th data-hide="phone">Country</th>
                                        <th data-hide="phone,medium">Website URL</th>
                                        <th class="text-right">Actions</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    
                                    <#assign x = json.searchIndex?eval>
                                   
                                     <#list json.result?eval>
                                        
                                        <#items as school>
                                          <#assign x = x + 1 >        
                                                <tr>
                                                    <td class="important">${x}</td>
                                                    <td>${school.name}</td>
                                                     <td>${school.country}</td>
                                                    <td><a href="${school.universityWebSiteURL}" target="_blank">${school.universityWebSiteURL}</a></td>
                                                   
                                                    <td class="text-right">
                                                        
                                                        <a  href="#" onclick="javascript:editSchool('${school.id}')"  class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i> <span class="hidden-xs">Edit</span></a>
                                                        
                                                    </td>
                                                </tr>
                                           </#items>
                                    </#list>
                                   
                                </tbody>
                            </table>
                        </div>
                        <div class="box-footer">
                            <#if (json.searchResultCount?eval > json.SEARCH_MAXIMUM_RESULTSET_SIZE?eval) >

                                <#assign indexCount = (json.searchResultCount?eval / json.SEARCH_MAXIMUM_RESULTSET_SIZE?eval )?floor>

                                <#assign previousIndexValue = json.searchIndex?eval - json.SEARCH_MAXIMUM_RESULTSET_SIZE?eval>

                                <#assign nextIndexValue = json.searchIndex?eval + json.SEARCH_MAXIMUM_RESULTSET_SIZE?eval>

                                <#assign maxIndexValue = indexCount * json.SEARCH_MAXIMUM_RESULTSET_SIZE?eval>
                                
                               <#assign nextIndicatorValue = (json.searchIndex?eval + json.SEARCH_MAXIMUM_RESULTSET_SIZE?eval)>

                               
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <ul class="pagination">

                                            <#if (previousIndexValue > -1) >

                                            <li><a href="#" onclick="javascript:getPaginatedResultSet(${previousIndexValue})">&laquo; Previous </a></li>

                                            </#if>	

                                            
                                            <#if (nextIndexValue < json.searchResultCount?eval) >
                                            <li><a href="#" onclick="javascript:getPaginatedResultSet(${nextIndexValue})" >Next &raquo;</a></li>
                                            </#if>
                                        </ul>
                                    </div>
                                </div>
                                </#if>
                        </div>
                    </div>




                    <form id="searchForm" method="get" action="/admin_skoola_universities" >
                        
                        <input type="hidden" id="searchIndex" name="searchIndex" value="${json.searchIndex}"/>
                        <input type="hidden" id="schoolId" name="schoolId" />
                        <input type="hidden" id="countryId" name="countryId" />
                        <input type="hidden" id="edit_mode" name="edit_mode" />
                    </form>
                    
                    
                    <script>
                      
                        
                        function getPaginatedResultSet(searchIndex){
                          
                            $('#searchIndex').val(searchIndex);
                            $('#countryId').val($('#countrySelectElement').val());
                            $('#searchForm').submit();
                           
                        }
                        
                        function filterByCountryId(){
                           $('#countryId').val($('#countrySelectElement').val()); 
                           $('#searchIndex').val("0");
                            $('#searchForm').submit();
                            
                        }
                        
                         function editSchool(schoolId){
                            
                            $('#schoolId').val(schoolId);
                            $('#countryId').val($('#countrySelectElement').val());
                            $('#edit_mode').val("true");
                            $('#searchForm').attr("action",'/admin_edit_skoola_school');
                            $('#searchForm').submit();
                            
                        }
                        
                        
                         function addCourseSubject(){
                            $('#edit_mode').val("false");
                            $('#searchForm').attr("action",'/admin_edit_skoola_school');
                            $('#searchForm').submit();
                            
                        }
                        
                    </script>
</@layout.skoolaLayout>