<#import "/views/layout/skoolaAdminDefaultLayout.ftl.html" as layout>


<@layout.skoolaLayout "Skoola-Application Users"> 
                    <div class="custom-breadcrumb">
                        <div class="row">
                            <div class="col-sm-7 margin_bottom_10"><h3>Application Users</h3></div>
                            <div class="col-sm-5 breadcrumb-links margin_bottom_10">
                                <a href=""> <i class="fa fa-tachometer"></i> Home</a> <b>&rsaquo;</b>
                                    <span>Application Users</span>
                            </div>
                        </div>
                    </div>


                    <div class="contentbox margin_top_15">
                        <div class="box-header no-border-bottom">
                            <h4 class="title pull-left">Application Users</h4>
                            <div class="box-tools pull-right">

                             <div > <p> Count : ${searchResultCount!"N/A"}</p></div>

                                <!--<button class="btn btn-default btn-sm" data-toggle="modal" href="#modal-newexam">New Exam</button>
                                <a href="course-categories.html" class="btn btn-default btn-sm hidden-xs">Registered Users</a>
                                <a href="subject-fields.php" class="btn btn-default btn-sm hidden-xs">Subjects/Fields</a>-->
                                <!--<div class="dropdown visible-xs-inline">-->
                                <!--  <button class="btn btn-sm btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">-->
                                <!--    More-->
                                <!--    <span class="caret"></span>-->
                                <!--  </button>-->
                                <!--  <ul class="dropdown-menu" style="left:-90px;" role="menu" aria-labelledby="dropdownMenu1">-->
                                <!--    <li role="presentation"><a role="menuitem" tabindex="-1" href="course-categories.php">Course Categories</a></li>-->
                                <!--    <li role="presentation"><a role="menuitem" tabindex="-1" href="subject-fields.php">Subject/Fields</a></li>-->
                                <!--  </ul>-->
                                <!--</div>-->

                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="box-body no-padding">
                        <#if applicationUserCol?has_content>
                            <table cellpadding="0" cellspacing="0" class="table table-striped footable">

                                <thead>
                                    <tr>
                                        <th>S/N</th>
                                        <th data-hide="phone">Firstname</th>
                                        <th data-hide="phone">Lastname</th>
                                        <th data-hide="phone">Email</th>
                                        <th data-hide="phone,medium">Phone Number</th>
                                        <th class="text-right">Actions</th>
                                    </tr>
                                </thead>

                                <tbody>
                  
                                <#assign x = 0>
                                <#list applicationUserCol>
                                	
                                	<#items as appUser>
                                		<#assign x = x + 1 >
	                                    <tr>
	                                        <td >${x}</td>
	                                        <td >${appUser.firstName}</td>
	                                        <td>${appUser.lastName}</td>
	                                        <td class="important">${appUser.email}</td>
	                                        <td>${appUser.phoneNumber}</td>
	                                        <td class="text-right">
	                                            <a href="#" onclick="javascript:viewAppUserDetail('${appUser.dateCreated}','${appUser.email}','${appUser.firstName}','${appUser.lastName}','${appUser.phoneNumber}','${appUser.role}','${appUser.userName}','${appUser.status}','${appUser.userId}')" class="btn btn-sm btn-success"><i class="fa fa-eye"></i> <span class="hidden-xs">View</span></a>
	                                            <a  href="#"  class="btn btn-sm btn-primary disabled"><i class="fa fa-pencil"></i> <span class="hidden-xs">Activate</span></a>
	                                            <a href="#" class="btn btn-sm btn-danger disabled"><i class="fa fa-ban"></i> <span class="hidden-xs">Deactivate</span></a>
	                                            <a href="#" class="btn btn-sm btn-default disabled "><i class="fa fa-key"></i> <span class="hidden-xs">Reset Password</span></a>
	                                        </td>
	                                    </tr>
                                  
                                  	</#items>
                                  	
                                  </#list>  


                                </tbody>
                            </table>
                            
                       
                        </div>

                        <!-- <div class="box-footer">
=======
                        <div class="box-footer">
>>>>>>> e57a1d0bb16b23776ff4cabb1cbcaae3107c30cb
                            <ul class="pagination">
                            	<li><a href="#">&laquo;</a></li>
                            	<li><a href="#">1</a></li>
                            	<li><a href="#">2</a></li>
                            	<li><a href="#">3</a></li>
                            	<li><a href="#">4</a></li>
                            	<li><a href="#">5</a></li>
                            	<li><a href="#">&raquo;</a></li>
                            </ul>
<<<<<<< HEAD
                        </div> -->
                        
                        
                         <#if (searchResultCount?eval > SEARCH_MAXIMUM_RESULTSET_SIZE?eval) >
                           
                           <#assign indexCount = (searchResultCount?eval / SEARCH_MAXIMUM_RESULTSET_SIZE?eval )?floor>
                           
                           <#assign previousIndexValue = searchIndex?eval - SEARCH_MAXIMUM_RESULTSET_SIZE?eval>
                           
                           <#assign nextIndexValue = searchIndex?eval + SEARCH_MAXIMUM_RESULTSET_SIZE?eval>
                           
                           <#assign maxIndexValue = indexCount * SEARCH_MAXIMUM_RESULTSET_SIZE?eval>

                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <ul class="pagination">
                                    
                                    <#if (previousIndexValue > -1) >
                                    
                                    	<li><a href="#" onclick="javascript:getPaginatedResultSet(${previousIndexValue})">&laquo; Previous </a></li>
                                    	
                                    </#if>	
                                    	
                                    	<#if (nextIndexValue < maxIndexValue) >
                                    		<li><a href="#" onclick="javascript:getPaginatedResultSet(${nextIndexValue})" >Next &raquo;</a></li>
                                    	</#if>
                                    </ul>
                                </div>
                            </div>
						</#if>
                        

                        </div>

                       
                       <#else> 
                       
                       		<div align="center">
                       				<h3> No Records Found </h3>
                       		</div>
                       
                       </#if>
                    





                    <!--Modal-->
                    <div class="modal fade" id="modal-appUserModal">
                    	<div class="modal-dialog">
                    		<div class="modal-content">
                    			<div class="modal-header">
                    				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    				<h4 class="modal-title">Application User Detail</h4>
                    			</div>
                                <form action="" method="post">
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label>Name</label>
                                            <input id="name" disabled="disabled" type="text" class="form-control" id="coursename" placeholder="Fees">
                                        </div>
                                        <div class="form-group">
                                            <label>Email</label>
                                           <input id="email" disabled="disabled" type="text" class="form-control" id="coursename" placeholder="Fees">
                                        </div>
                                        <div class="form-group">
                                            <label>Phone Number</label>
                                            <input id="phoneNumber" disabled="disabled" type="text" class="form-control" id="coursename" placeholder="Fees">
                                        </div>
                                        <div class="form-group">
                                            <label>User Type</label>
                                            <input id="userType" disabled="disabled" type="text" class="form-control" id="coursename" placeholder="Fees">
                                        </div>
                                        <div class="form-group">
                                            <label>User ID</label>
                                            <input id="userId" disabled="disabled" type="text" class="form-control" id="coursename" placeholder="Fees">
                                        </div>
                                        
                                        <div class="form-group">
                                            <label>Date Created</label>
                                            <input id="dateCreated" disabled="disabled" type="text" class="form-control" id="coursename" placeholder="Fees">
                                        </div>
                                        
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                                        <!-- <button type="submit" class="btn btn-primary btn-sm">Save</button> -->
                                    </div> 
                                </form>
                    		</div><!-- /.modal-content -->
                    	</div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    
                    

                   <form action="/admin_application_users" method="get" id="searchForm">
					 	
					 	<input type="hidden" name="searchIndex" id="searchIndex" >
					 </form>
                    
                    <script>
                    
                    function getPaginatedResultSet(nextIndexValue){
                		$('#searchIndex').val(nextIndexValue);
                		$('#searchForm').submit();
                	}

                    	function viewAppUserDetail(dateCreated, email, firstName, lastName, phoneNumber, role, userName, status, userId){
                    		console.log(dateCreated);
                    		$('#dateCreated').val(dateCreated);
                    		$('#email').val(email);
                    		$('#name').val(firstName + ' ' +lastName);
                    		$('#phoneNumber').val(phoneNumber);
                    		$('#userType').val(role);
                    		$('#status').val(status);
                    		$('#userId').val(userId);
                    		$('#modal-appUserModal').modal('show');
                    	}
                    
                    </script>


</@layout.skoolaLayout>