<#import "/views/layout/skoolaAdminDefaultLayout.ftl.html" as layout>


<@layout.skoolaLayout "Courses"> 

<div class="custom-breadcrumb">
    <div class="row">
        <div class="col-sm-7 margin_bottom_10"><h3>Courses</h3></div>
        <div class="col-sm-5 breadcrumb-links margin_bottom_10">
            <a href=""> <i class="fa fa-tachometer"></i> Home</a> <b>&rsaquo;</b>
            <span>Courses</span>
        </div>
    </div>
</div>


<div class="contentbox margin_top_15">
    <div class="box-header no-border-bottom">
        <h4 class="title pull-left">Courses <br> <small> <b> count ${searchResultCount!"N/A"} </b></small></h4>
        <div class="box-tools pull-right">

            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <#if courseSubjectCol?has_content>
                            <div class="form-group">
                                <label>Subject</label>
                                <select id="filterStatusBySubject" class="form-control in-line" onchange="javascript:filterRequestStatus()">
                                    <option  selected="selected"  value="">ALL</option> 
                                    <#list courseSubjectCol>

                                    <#items as courseSubject>

                                    <option <#if subjectIdParameter == courseSubject.id > selected="selected" </#if>  value="${courseSubject.id}">${courseSubject.subjectName}</option> 

                                    </#items>

                                    </#list>                                         	
                                </select>
                            </div>
                            </#if>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group in-line">
                                <#if courseTypeCol?has_content>
                                <label>Type</label> 
                                <select id="filterStatusByCourseType" class="form-control " onchange="javascript:filterRequestStatus()">

                                    <option  selected="selected"  value="">ALL</option> 
                                    <#list courseTypeCol >

                                    <#items as courseType>

                                    <option value="${courseType.id}" <#if courseTypeIdParameter == courseType.id > selected="selected" </#if>  >${courseType.name}</option>

                                    </#items>

                                    </#list>                                    	
                                </select>
                                </#if>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group in-line">
                                <#if skoolaSchoolsCol?has_content>
                                <label>Schools</label> 
                                <select id="filterStatusBySchool" class="form-control " onchange="javascript:filterRequestStatus()">

                                    <option  selected="selected"  value="">ALL</option> 
                                    <#list skoolaSchoolsCol >

                                    <#items as school>

                                    <option  <#if schoolIdParameter == school.id > selected="selected" </#if>    value="${school.id}">${school.name}</option>

                                    </#items>

                                    </#list>                                    	
                                </select>
                                </#if>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>&nbsp;</label>
                                        <input class="btn btn-default btn-sm form-control" value="Add New Course" type="button" onclick="javascript:addCourse()"   />
                                    </div>	
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>&nbsp;</label>
                                        <input type="button"  class="btn btn-default btn-sm form-control" value="Add New Subject" />
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="clearfix"></div>
    </div>
    <div class="box-body no-padding">

        <#if courseCol?has_content>
        <table cellpadding="0" cellspacing="0" class="table table-striped footable">

            <thead>
                <tr>
                    <th>S/N</th>
                    <th data-hide="phone">Course Name</th>
                    <th data-hide="phone,medium">Course Duration</th>
                    <th data-hide="phone">Course Fee (NGN)</th>
                    <th >Course Category</th>
                    <th class="text-center">Action</th>
                    <td>&nbsp;</td>
                </tr>
            </thead>

            <tbody>

                <#assign x = searchIndex?eval>
                <#list courseCol>

                <#items as coursePojo>
                <#assign x = x + 1 > 
                <tr>
                    <td class="important">${x}</td>
                    <td>${coursePojo.name}</td>
                    <td>${coursePojo.courseDuration}</td>
                    <td>${coursePojo.courseFeeInNaira}</td>
                    <td>${coursePojo.courseSubjectGroupName}</td>
                    <td class="text-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">

                                <li><a href="#" onclick="javascript:viewCourseDetail('${coursePojo.name}', '${coursePojo.courseSubjectName}', '${coursePojo.courseSubjectGroupName}', '${coursePojo.courseType}', '${coursePojo.courseDuration}', '${coursePojo.courseFeeInNaira}', '${coursePojo.courseSchoolName}', '${coursePojo.courseVenue}', '${coursePojo.courseRequirements}', '${coursePojo.ieltsRequired?string('yes','no')}', '${coursePojo.programModules}')" >View</a></li> 

                                <li><a href="#" onclick="javascript:editCourse('${coursePojo.id}')" >Edit</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Deactivate</a></li>
                            </ul>
                        </div>
                    </td>
                    <td>&nbsp;</td>

                </tr>

                </#items>

                </#list>  

            </tbody>
        </table>


        <#if (searchResultCount?eval > SEARCH_MAXIMUM_RESULTSET_SIZE?eval) >

        <#assign indexCount = (searchResultCount?eval / SEARCH_MAXIMUM_RESULTSET_SIZE?eval )?floor>

        <#assign previousIndexValue = searchIndex?eval - SEARCH_MAXIMUM_RESULTSET_SIZE?eval>

        <#assign nextIndexValue = searchIndex?eval + SEARCH_MAXIMUM_RESULTSET_SIZE?eval>

        <#assign maxIndexValue = indexCount * SEARCH_MAXIMUM_RESULTSET_SIZE?eval>

        <div class="row">
            <div class="col-lg-12 text-center">
                <ul class="pagination">

                    <#if (previousIndexValue > -1) >

                    <li><a href="#" onclick="javascript:getPaginatedResultSet(${previousIndexValue})">&laquo; Previous </a></li>

                    </#if>	

                    <#if (nextIndexValue < maxIndexValue) >
                    <li><a href="#" onclick="javascript:getPaginatedResultSet(${nextIndexValue})" >Next &raquo;</a></li>
                    </#if>
                </ul>
            </div>
        </div>
        </#if>

        <#else> 

        <div align="center">
            <h3> No Records Found </h3>
        </div>

        </#if>
    </div>
    <!-- <div class="box-footer">
        <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div> -->
</div>





<!--Modal-->
<div class="modal fade" id="modal-course-detail">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Course Detail</h4>
            </div>
            <form action="" method="post">
                <div class="modal-body">


                    <div class="form-group">
                        <label>Course Name</label>
                        <input type="text" class="form-control" id="course_name" disabled="disabled" >
                    </div>
                    <div class="form-group">
                        <label>Subject</label>
                        <input type="text" class="form-control" id="subject"  disabled="disabled">
                    </div>

                    <div class="form-group">
                        <label>Course Category</label>
                        <input type="text" class="form-control" id="course_category" disabled="disabled">
                    </div>




                    <div class="form-group">
                        <label>Course Type</label>
                        <input type="text" class="form-control" id="course_type" disabled="disabled" >
                    </div>

                    <div class="form-group">
                        <label>Course Duration</label>
                        <input type="text" class="form-control" id="course_duration" disabled="disabled" >
                    </div>


                    <div class="form-group">
                        <label>Course Fee (NGN) </label>
                        <input type="text" class="form-control" id="course_fee" disabled="disabled" >
                    </div>

                    <div class="form-group">
                        <label>School </label>
                        <input type="text" class="form-control" id="school" disabled="disabled" >
                    </div>

                    <div class="form-group">
                        <label>Course Venue </label>
                        <textarea id="course_venue" class="form-control" cols="10" disabled="disabled"></textarea>
                    </div>

                    <div class="form-group">
                        <label>Requirements </label>
                        <textarea  class="form-control" cols="10" id="requirements" disabled="disabled"></textarea>
                    </div>

                    <div class="form-group">
                        <label>IELT Required</label>
                        <input type="text" class="form-control" id="ielt_required" disabled="disabled" >
                    </div>

                    <div class="form-group">
                        <label>Course Module</label>
                        <textarea id="course_module" class="form-control" cols="10" disabled="disabled"></textarea>
                    </div>



                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                    <!-- <button type="submit" class="btn btn-primary btn-sm">Save</button> -->
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<form action="/admin_skoola_courses" method="get" id="searchForm">

    <input type="hidden" name="searchIndex" id="searchIndex" >
    <input type="hidden" name="status" id="status" >
    <input type="hidden" name="subjectIdParameter" id="subjectIdParameter" >
    <input type="hidden" name="courseTypeIdParameter" id="courseTypeIdParameter" >
    <input type="hidden" name="schoolIdParameter" id="schoolIdParameter" >
    <input type="hidden" name="courseId" id="courseId" >
    <input type="hidden" name="operation" id="operation" >

</form>






<script>
    
    function setSearchParameters (courseId){
     $('#searchIndex').val('${searchIndex}');
    $('#schoolIdParameter').val($('#filterStatusBySchool').val());
    $('#subjectIdParameter').val($('#filterStatusBySubject').val());
    $('#courseTypeIdParameter').val($('#filterStatusByCourseType').val());
    $('#courseId').val(courseId);
    $('#searchForm').submit();
    }


    function editCourse (courseId){
   
        $('#searchForm').attr('action', '/admin_edit_skoola_course');
        $('#operation').val('edit');
        setSearchParameters(courseId);
   
    
    }
    
    function addCourse (){
        $('#searchForm').attr('action', '/admin_edit_skoola_course');
        $('#operation').val('create');
        setSearchParameters("");
    
    }


    function getPaginatedResultSet(nextIndexValue){
    $('#searchIndex').val(nextIndexValue);
    var selectedStatus = $('#filterStatus').val();
    $('#requestStatus').val(selectedStatus);
    $('#schoolIdParameter').val($('#filterStatusBySchool').val());
    $('#subjectIdParameter').val($('#filterStatusBySubject').val());
    $('#courseTypeIdParameter').val($('#filterStatusByCourseType').val());
    $('#searchForm').submit();
    }

    function filterRequestStatus(){

    getPaginatedResultSet('0');
    }

    function viewCourseDetail(course_name, subject, course_category, course_type, course_duration, course_fee, school, course_venue, requirements, ielt_required, course_module){

    $('#course_name').val(course_name);
    $('#subject').val(subject);
    $('#course_category').val(course_category);
    $('#course_type').val(course_type);
    $('#course_duration').val(course_duration);
    $('#course_fee').val(course_fee);
    $('#school').val(school);
    $('#course_venue').val(course_venue);
    $('#requirements').val(requirements);
    $('#ielt_required').val(ielt_required);
    $('#course_module').val(course_module);
    $('#modal-course-detail').modal('show');
    }




</script>

</@layout.skoolaLayout>