<#import "/views/layout/skoolaDefaultLayout.ftl.html" as layout>


<@layout.skoolaLayout "Home page"> 

    <!--css -->
    <link href="/assets/css/fontello/css/fontello-embedded.css" rel="stylesheet">
    <link href="/assets/css/plugins/selective/selectize.css" rel="stylesheet">
    <link href="/assets/css/skoola.css" rel="stylesheet">


    <!--jquery-->
    <script src="/assets/js/jquery/jquery.min.js"></script>




        <section id="pageTitle">
            <div class="container">
                <div class="row">
                     <div class="col-lg-12">
                        <h2>  ${coursePojo.courseSubjectGroupName} /  ${coursePojo.courseSubjectName!""} / <a href="#" onclick="javascript:returnToSearchResultView()"><span>Go Back </span></a></h2>
                    </div>
                </div>
            </div>
        </section>


        <section class="courseInfoTopBackgroundContainer">
            <div class="container">
                <div class="row">
                   <div class="col-xs-12">
                        <div class="courseTopDetails text-center margin_top_20">
                            <h2>${coursePojo.name!""}</h2>
                            <p class="schoolname">${coursePojo.courseSchoolName}</p>
                            <div><a data-toggle="modal" href="/go_to_carreer_consultation" class="btn btn-warning btn-sm">Apply</a> <!-- <a href="" class="btn btn-default btn-sm">Save</a> --></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="margin_top-50">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 margin_bottom_30">
                        <div class="incontentWrapper removePadding noBorder">

                            <!-- TAB NAVIGATION -->
                            <ul class="nav nav-tabs responsive" id="courseTabs" role="tablist">
                                <li class="active"><a href="#tb-overview" role="tab" data-toggle="tab">Overview</a></li>
                                <li><a href="#tb-averagefees" role="tab" data-toggle="tab">Fees</a></li>
                                <li><a href="#tb-genreq" role="tab" data-toggle="tab">Requirements</a></li>
                            </ul>
                            <!-- TAB CONTENT -->
                            <div class="tab-content responsive">
                                <div class="tab-pane fade active in schoolTabContent" id="tb-overview">
                                    <div class="row nomargin">
                                 <div class="col-sm-8">
                                           <h4>Course Overview</h4>
	                                            <#if coursePojo.courseSummary != "" > 
	                                           	 <p>${coursePojo.courseSummary}</p>
	                                           	<#else>
	                                           	 <p>N/A</p>
	                                           	</#if>
                                           
                                            <!-- <h5>Sub Heading</h5>
                                            <ul>
                                                <li>Avocado chili has to have a divided, thin marshmellow component.</li>
                                                <li>Place the chocolate in a bucket, and rub quickly with heated lime.</li>
                                                <li>When roasting ripe sauerkraut, be sure they are room temperature.</li>
                                                <li>Roast tofu patiently, then mix with honey and serve fast in bowl.</li>
                                                <li>For a springy ground cake, add some coffee and cumin.</li>
                                                <li>Beloved mans yearns most peace.</li>
                                            </ul> -->

                                            <h5>Program Modules</h5>
                                            
                                            <#if coursePojo.programModules != "" > 
	                                           	 <p>${coursePojo.programModules}</p>
	                                           	<#else>
	                                           	 <p>N/A</p>
	                                           	</#if>

                                        </div>
                                        <div class="col-sm-4">
                                            <div class="miniBox margin_top_40">
                                                <h5>Course Options</h5>
                                                <ul class="courseOptions">
                                                    <li>
                                                        <small>Level of Study</small>
                                                        ${coursePojo.courseType}
                                                    </li>
                                                    <!-- <li>
                                                        <small>Start date</small>
                                                        
                                                    </li> -->
                                                    <li>
                                                        <small>Course Duration</small>
                                                        ${coursePojo.courseDuration}
                                                    </li>
                                                    <li>
                                                        <small>Venue</small>
                                                        ${coursePojo.courseVenue}
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                                 <div class="tab-pane fade schoolTabContent" id="tb-averagefees">

                                    <div class="eachFee">
                                        <h5>Tuition Fees</h5>
                                        <h3 class="text-primary"><#if coursePojo.courseFeeInNaira?has_content> &#8358;  ${coursePojo.courseFeeInNaira} <#else> N/A </#if> </h3>

                                        <h4>Terms & Conditions</h4>
                                        <ul>
                                            <li>Price shown is for indicative purpose, please check with institution</li>
                                            
                                        </ul>
                                    </div>

                                </div>
                                <div class="tab-pane fade schoolTabContent" id="tb-genreq">
                                    <h4>Entry Requirements</h4>
                                    <p>${coursePojo.courseRequirements}.</p>
                                    <ul>
                                        <li><#if coursePojo.ieltsRequired == true > ${coursePojo.courseSchoolName} accepts IELTS* </#if></li>
                                 
                                    </ul>
                     
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </section>




		
    <form id="backButtonAction" action="/go_back_to_course_search_result" method="get"></form>

    

    <!--custom javascript libraries-->
    <script>
	    function returnToSearchResultView(){
	    	$('#backButtonAction').submit();
	    }

    
  
    
        $(document).ready(function(){

            $('.selectbox').selectize({create: false});


            
           // fakewaffle.responsiveTabs(['xs']);

            //sticky header
            $(".main-navigation").sticky({ topSpacing: 0});

            //custom placeholder for old browsers
            $('input, textarea').placeholder({ customClass: 'customInputPlaceholder' });

        });
    </script>

</@layout.skoolaLayout>

