<#import "/views/layout/skoolaDefaultLayout.ftl.html" as layout>


<@layout.skoolaLayout "Countries"> 

         <section id="pageTitle">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Countries</h2>
                    </div>
                </div>
            </div>
        </section>


        <section class="where-to-study">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">

                        <div class="row">

                            <div class="col-md-15 col-sm-4 col-xs-6">
                                <a href="/country_detail" class="custom-btn-dark uk">UK</a>
                            </div>
                            <div class="col-md-15 col-sm-4 col-xs-6">
                                <a href="/country_detail" class="custom-btn-dark usa">USA</a>
                            </div>
                            <div class="col-md-15 col-sm-4 col-xs-6">
                                <a href="/country_detail" class="custom-btn-dark australia">Australia</a>
                            </div>
                            <div class="col-md-15 col-sm-4 col-xs-6">
                                <a href="/country_detail" class="custom-btn-dark canada">New Zealand</a>
                            </div>
                            <div class="col-md-15 col-sm-4 col-xs-6">
                                <a href="/country_detail" class="custom-btn-dark uk">Singapore</a>
                            </div>
                            <div class="col-md-15 col-sm-4 col-xs-6">
                                <a href="/country_detail" class="custom-btn-dark usa">Malaysia</a>
                            </div>
                            <div class="col-md-15 col-sm-4 col-xs-6">
                                <a href="/country_detail" class="custom-btn-dark australia">Sweden</a>
                            </div>
                            <div class="col-md-15 col-sm-4 col-xs-6">
                                <a href="/country_detail" class="custom-btn-dark canada">Hongkong</a>
                            </div>
                            <div class="col-md-15 col-sm-4 col-xs-6">
                                <a href="/country_detail" class="custom-btn-dark usa">Ireland</a>
                            </div>
                            <div class="col-md-15 col-sm-4 col-xs-6">
                                <a href="/country_detail" class="custom-btn-dark australia">Netherlands</a>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </section>



</@layout.skoolaLayout>