 <div class="innerContentWrapper">
                            <div class="row">
                                <div class="col-xs-3">
                                    <img src="/assets/img/users/default.png" class="img-circle img-responsive">
                                </div>
                                <div class="col-xs-9">
                                
                                
                                1 original 
                                    <h2><#if activeSessionPojo?has_content> ${activeSessionPojo.firstName?cap_first}   ${activeSessionPojo.lastName?cap_first}  </#if></h2>
                                    <p><#if activeSessionPojo?has_content> ${activeSessionPojo.email}  </#if></p>
                                </div>
                            </div>
                        </div>