<#import "/views/layout/skoolaAdminDefaultLayout.ftl.html" as layout>


<@layout.skoolaLayout "Edit Course"> 

<div class="custom-breadcrumb">
    <div class="row">
         <#if edit_mode >
                
                  <div class="col-sm-7 margin_bottom_10"><h3>Edit Course -- <#if coursePojo?has_content> ${coursePojo.name} </#if> </h3></div>
            
          <#else>
          
          
                    <div class="col-sm-7 margin_bottom_10"><h3>Add New Course</h3></div>
          
          </#if>
       
        <div class="col-sm-5 breadcrumb-links margin_bottom_10">
            <a href=""> <i class="fa fa-tachometer"></i> Home</a> <b>&rsaquo;</b>
            <#if edit_mode >
                 <span> <b> Edit Course </b></span>
            
            <#else>
                
                <span><b>Add New Course</b></span>
            
            </#if>
        </div>
    </div>
</div>

<div class="row"> 

    <div class="col-md-3">

    </div>
    <div class="col-md-6">


        <form action="/admin_create_or_update_skoola_course" method="post" id="updateCourseForm" >
            <div class="modal-body">


                <div class="form-group">
                    <label>Course Name</label>
                    <input <#if edit_mode == false > required </#if> type="text" class="form-control" id="cu_course_name" name="cu_course_name" value=" <#if coursePojo?has_content> ${coursePojo.name} </#if>" >
                </div>
                <div class="form-group">
                    <label>Course Type</label>
                    <select <#if edit_mode == false > required </#if> id="cu_course_type" name="cu_course_type" class="form-control " >

                        <option  selected="selected"  value="">None Indicated</option> 
                        <#list courseTypeCol >

                        <#items as courseType>

                        <option  <#if edit_mode == false > required </#if> value="${courseType.id}" <#if coursePojo?has_content && coursePojo.courseTypeId == courseType.id > selected="selected" </#if>  >${courseType.name}</option>

                        </#items>

                        </#list>                                    	
                    </select>

                </div>
                <div class="form-group">
                    <label>Course Category </label>

                    <select <#if edit_mode == false > required </#if> id="cu_course_subject_group" name="cu_course_subject_group" class="form-control " onchange="javascript:loadCourseSubject()">

                        <option  selected="selected"  value="">None Indicated</option> 
                        <#list courseSubjectGroupCol >

                        <#items as subjectGroup>

                        <option value="${subjectGroup.id}" <#if coursePojo?has_content && coursePojo.courseSubjectGroupId == subjectGroup.id > selected="selected" </#if>  >${subjectGroup.courseSubjectGroupName}</option>

                        </#items>

                        </#list>                                    	
                    </select>

                </div>
                <div class="form-group">
                    <label>Course Subject</label>

                    <select <#if edit_mode == false > required </#if> id="cu_course_subject" name="cu_course_subject" class="form-control in-line" >

                        <option  selected="selected"  value="">None Indicated</option>        		 
                        <#list courseSubjectCol>

                        <#items as courseSubject>

                        <option <#if coursePojo?has_content && coursePojo.courseSubjectId == courseSubject.id > selected="selected" </#if>  value="${courseSubject.id}">${courseSubject.subjectName}</option> 

                        </#items>

                        </#list>                                         	
                    </select>
                </div>

                <div class="form-group">
                    <label>School </label>

                    <select <#if edit_mode == false > required </#if> id="cu_course_school" name="cu_course_school" class="form-control " >

                        <option  selected="selected"  value="">None Indicated</option> 
                        <#list skoolaSchoolsCol >

                        <#items as school>

                        <option  <#if coursePojo?has_content && coursePojo.courseSchoolId == school.id > selected="selected" </#if>    value="${school.id}">${school.name}</option>

                        </#items>

                        </#list>                                    	
                    </select>
                </div>

                <div  class="form-group">
                    <label>Course Venue </label>
                    <textarea <#if edit_mode == false > required </#if> id="cu_course_venue" name="cu_course_venue" class="form-control" cols="10" ><#if coursePojo?has_content> ${coursePojo.courseVenue} </#if></textarea>
                </div>

                <div class="form-group">
                    <label>Course Duration</label>
                    <input <#if edit_mode == false > required  placeholder=" Full Time (2 years) " </#if> type="text" class="form-control" id="cu_course_duration" name="cu_course_duration" value="<#if coursePojo?has_content > ${coursePojo.courseDuration} </#if>"  >
                </div>


                <div class="form-group">
                    <label>Fee in figures (USD) </label>
                    <input <#if edit_mode == false > required  placeholder=" Fifteen thousand dollars or 15,000 " </#if> type="text" class="form-control" id="cu_course_fee_in_figures" name="cu_course_fee_in_figures" value="<#if coursePojo?has_content >${coursePojo.courseFeeInWords} </#if>" >
                </div>

                <div class="form-group">
                    <label>Fee in dollars (USD) </label>
                    <input <#if edit_mode == false > required  placeholder=" 15000 " </#if> type="text" class="form-control" id="cu_course_fee_in_dollars" name="cu_course_fee_in_dollars" value="<#if coursePojo?has_content > ${coursePojo.courseFeeInCents?eval / 100} </#if>" >
                </div>



                <div class="form-group">
                    <label>Requirements  </label>
                    <textarea <#if edit_mode == false > required   " </#if>  class="form-control" cols="10" id="cu_course_requirements" name="cu_course_requirements"><#if coursePojo?has_content > ${coursePojo.courseRequirements} </#if></textarea>
                </div>

                <div class="form-group">

                    <label>
                        <input type="radio" class="form-control" id="cu_ielt_required" name="cu_ielt_required" value="0" <#if coursePojo?has_content && coursePojo.ieltsRequired == false > checked="checked" </#if> >IELTS not required
                    </label>
                    <span>&nbsp;</span>
                    <label>
                        <input type="radio" class="form-control" id="cu_ielt_required" name="cu_ielt_required" value="1" <#if coursePojo?has_content && coursePojo.ieltsRequired  > checked="checked" </#if>  name="ielt_required" >IELTS required
                    </label>
                </div>

                <div class="form-group">
                    <label>Course Summary</label>
                    <textarea <#if edit_mode == false > required ) " </#if> id="cu_course_summary" name="cu_course_summary" class="form-control" cols="10" ><#if coursePojo?has_content> ${coursePojo.courseSummary}</#if></textarea>
                </div>

                <div class="form-group">
                    <label>Course Module</label>
                    <textarea id="cu_course_module" name="cu_course_module" class="form-control" cols="10" ><#if coursePojo?has_content>${coursePojo.programModules}</#if></textarea>
                </div>





            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" onclick="javascript:handGoBack()">Close</button>
                <button type="button" class="btn btn-primary btn-sm"   onclick="javascript:updateCourse()"> <#if edit_mode> Update Course <#else> Create Course </#if></button> 
            </div>



            <input type="hidden" name="searchIndex" id="searchIndex"  value="${course_searchIndex}">
            <input type="hidden" name="status" id="status"  value="${course_status}" >
            <input type="hidden" name="subjectIdParameter" id="subjectIdParameter"  value="${course_subjectIdParameter}" >
            <input type="hidden" name="courseTypeIdParameter" id="courseTypeIdParameter"  value="${course_courseTypeIdParameter}" >
            <input type="hidden" name="schoolIdParameter" id="schoolIdParameter"  value="${course_schoolIdParameter}" >
            <input type="hidden" name="courseId" id="courseId"  value="${course_courseId}" >
            <input type="hidden" name="operation" id="operation"  >


        </form>


    </div>
    <div class="col-md-3">

    </div>

</div>



<script>

    function updateCourse() {
        if (confirm(' Are you sure you want to update the course details ?')) {

            var mode = "${edit_mode?string('true','false')}";
            console.log('mode = ' + mode);
            if(mode == 'false'){
                if($('#updateCourseForm').validate({rules: {
	                'cu_ielt_required': {
	                    required: true,
	                    maxlength: 1
	                }
	            }}).form()){
                    $('#operation').val('create');
                    $('#updateCourseForm').submit();
                }
            }else{
                $('#operation').val('edit');
                 $('#updateCourseForm').submit();
            }
           
        }

    }

    function handGoBack() {
        $('#updateCourseForm').attr('action', '/admin_skoola_courses');
        $('#updateCourseForm').submit();
    }

    $(document).ready(function () {
        //selectize
        $('.selectbox').selectize({create: false});

        //datepicker
        $('.pick-a-date').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            minDate: moment()
        });
    });



    function loadCourseSubject() {

        var courseGroupId = $('#cu_course_subject_group').val();
        var link = "/get_skoola_course_subjects_by_subject_category";
        $.ajax({
            url: link,
            type: 'GET',
            data: {"courseGroupId": courseGroupId},
            success: function (data) {

               // console.log(data);
                if (data.successful == true) {
                    var result = data.result;
                    $('#cu_course_subject').html('');
                    $('#cu_course_subject').append(' <option   value="">None Indicated</option>');
                    result = $.parseJSON(result);
                  // console.log(result);
                    $.each(result, function (index, obj) {
                        console.log('$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$WSSS' + obj);
                        $('#cu_course_subject').append('<option value='+obj.value+'>' +obj.text + '</option>');
                    });
                } else {
                    var msg = data.message;
                    alert(msg);
                }
            },
            error: function (data) {
                alert('Sorry, an error occured , we are unable to process request at the moment');
               
            }
        });
    }
</script>



</@layout.skoolaLayout>
