 <div class="innerContentWrapper">
     
    
    <h4>My Messages<small> -- no messages --</small></h4>    
                        
     <div class="row">
         <div class="col-xs-3">
            
         </div>
         <div class="col-xs-9">
            
         </div>
     </div>
 </div>