//Radius
//$border_radius = 3px
$second_font_family = 'Amaranth';

//font
//$font_family        = 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif' !important
//$line-height-ratio  = 1.40
//$header-ratio       = $golden
//$body-font          = $font_family
//$body-font-weight   = 400
//$body-color         = $vs_444_black_colour
//$header-font        = 'Amaranth'
//$header-font-weight = 700
//$header-color       = $vs_333_black_colour
//$min-font           = 13px
//$max-font           = 20px
//$vertical-rhythm    = true

//font-weight
//$font-weight-light    = 300
//$font-weight-regular  = 400
//$font-weight-semibold = 600
//$font-weight-bold     = 700


//font ratios
/*$minor-second   = 1.067*/
/*$major-second   = 1.125*/
/*$minor-third    = 1.2*/
/*$major-third    = 1.25*/
/*$perfect-fourth = 1.333*/
/*$aug-fourth     = 1.414*/
/*$perfect-fifth  = 1.5*/
/*$minor-sixth    = 1.6*/
/*$golden         = 1.618*/
/*$major-sixth    = 1.667*/
/*$minor-seventh  = 1.778*/
/*$major-seventh  = 1.875*/
/*$octave         = 2*/
/*$major-tenth    = 2.5*/
/*$major-eleventh = 2.667*/
/*$major-twelfth  = 3*/
/*$double-octave  = 4*/

$padding_five = 5px
$padding_ten = 10px
$padding_fifteen = 15px
$padding_twenty = 20px
$padding_twentyfive = 25px
$padding_thirty = 30px
$padding_fourty = 40px
$padding_fifty = 50px
$padding_sixty = 60px
$padding_seventy = 70px


//set margin of different values
.margin_top-50
  margin-top -50px
.margin_top_5
  margin-top $padding_five !important
.margin_top_10
  margin-top $padding_ten !important
.margin_top_15
  margin-top $padding_fifteen !important
.margin_top_20
  margin-top $padding_twenty !important
.margin_top_25
  margin-top $padding_twentyfive !important
.margin_top_30
  margin-top $padding_thirty !important
.margin_top_40
  margin-top $padding_fourty !important
.margin_top_50
  margin-top $padding_fifty !important
.margin_top_60
  margin-top $padding_sixty !important
.margin_top_70
  margin-top $padding_seventy !important
.margin_top_65
  margin-top 65px

//margin bottom
.margin_bottom_5
  margin-bottom $padding_five !important
.margin_bottom_10
  margin-bottom $padding_ten !important
.margin_bottom_15
  margin-bottom $padding_fifteen !important
.margin_bottom_20
  margin-bottom $padding_twenty !important
.margin_bottom_25
  margin-bottom $padding_twentyfive !important
.margin_bottom_30
  margin-bottom $padding_thirty !important
.margin_bottom_40
  margin-bottom $padding_fourty !important
.margin_bottom_50
  margin-bottom $padding_fifty !important
.margin_bottom_60
  margin-bottom $padding_sixty !important
.margin_bottom_70
  margin-bottom $padding_seventy !important
.margin_bottom_65
  margin-bottom 65px

//set font weight
.bold
  font-weight 700 !important
.semibold
  font-weight 600 !important
.regular
  font-weight 400 !important
.light
  font-weight 300

//margin left and right
.margin_left_5
  margin-left 5px !important
.margin_left_10
  margin-left 10px !important
.margin_left_20
  margin-left 20px !important

//margin right
.margin_right_5
  margin-right 5px !important
.margin_right_10
  margin-right 10px !important
.margin_right_20
  margin-right 20px !important

.fontsize_13
  font-size 13px !important
.fontsize_12
  font-size 12px !important

